<!DOCTYPE html>
<html lang="{{ .Site.Language }}">

<head>
  {{- partial "head.html" . -}}

  {{ with resources.Get "css/swiper-bundle.min.css" }}
  <link rel="stylesheet" href="{{ .RelPermalink }}" />
  {{ end }}

  {{- partial "css-bundle.html" . -}}

  {{ with resources.Get "css/services.css" }}
  {{- partial "css.html" . -}}
  {{ end }}

  {{ with resources.Get "js/swiper-bundle.min.js" }}
  <script src="{{ .RelPermalink }}"></script>
  {{ end }}

  {{ with resources.Get "js/main.js" }}
  {{- partial "js.html" . -}}
  {{ end }}

  {{ with resources.Get "js/service.js" }}
  {{- partial "js.html" . -}}
  {{ end }}

  {{ with resources.Get "js/details.js" }}
  {{- partial "js.html" . -}}
  {{ end }}

  {{ with resources.Get "js/slider.js" }}
  {{- partial "js.html" . -}}
  {{ end }}
</head>

<body>
  {{- partial "mobile-nav.html" . -}}

  <div class="service-page">
    <aside class="sidebar inline-gap" style="background-image: url({{ .Params.bgImage }});">
      <div class="small-container">
          <h1 class="sidebar-title">{{ .Title }}</h1>
          <figure>
              <blockquote class="sidebar-blockquote">{{ .Params.quote }}</blockquote>
              <figcaption class="sidebar-author"><cite>{{ .Params.author }}</cite></figcaption>
          </figure>
      </div>
    </aside>


    {{- block "main" . }}{{ end -}}


    {{- $serviceName := slice .File.ContentBaseName -}}

    {{- $reviews := where .Site.RegularPages ".Type" "review" -}}
    {{- $serviceReviews := where $reviews "Params.services" "intersect" $serviceName -}}

    {{- with $serviceReviews }}
    <div class="service-section service-section-reviews inline-gap">
      <div class="small-container">
        <h2>{{ T "services/reviews/title" }}</h2>
        <div class="slider">
          <ul class="swiper-wrapper">
            {{ range first 10 . }}
            <li class="swiper-slide">{{- partial "review.html" . -}}</li>
            {{ end }}
          </ul>
          {{- partial "arrow-button.html" . -}}
        </div>
      </div>
    </div>
    {{- end }}


    {{- partial "contact-us-email.html" . -}}

    {{- partial "footer.html" . -}}
  </div>

  <div data-modal-root=""></div>
</body>

</html>