{{ define "sidebar" }}

{{- partial "service-sidebar.html" ( dict
"title" .Title
"quote" "Людський голос — найкрасивіший інструмент з усіх, але на ньому найважче грати."
"author" "Ріхард Штраус"
"className" "sidebar-voice-casting"
) -}}
{{ end }}

{{ define "heading" }}
<h3 class="service-page-title">Голос — не лише найперший, але й найбільш емоційний з усіх музичних
    інструментів.
</h3>
<p>Ніщо не здатне так точно передати інформацію, весь спектр емоцій і невловимі нюанси настрою, тож до
    голосового озвучення варто підходити дуже відповідально.</p>
<p>Замало просто озвучити потрібний текст добре поставленим або згенерованим ШІ голосом. Головні
    завдання голосового озвучення — захоплювати та направляти увагу слухача, створювати атмосферу та
    розкривати персонажів або ж цінності бренду. Щоби ефективно виконати ці завдання, вам знадобляться
    професійні актори озвучення.
</p>
<p>Правильне голосове озвучення — саме те, що змушує людину слухати і вірити почутому.</p>
{{ end }}

{{ define "main" }}
<div class="service-section inline-gap">
    <div class="small-container">
        <h2>Що ми робимо?</h2>
        <p>Ми продюсуємо голосове озвучення, а конкретно відповідаємо за:</p>
        <ul class="what-we-do-list">
            <li class="what-we-do-item">
                <img src="/images/services/voice-actor-icon.svg" alt="">
                <h4>Кастинг акторів голосового озвучення</h4>
            </li>
            <li class="what-we-do-item">
                <img src="/images/services/organization-icon.svg" alt="">
                <h4>Організацією і менеджментом проєкту</h4>
            </li>
            <li class="what-we-do-item">
                <img src="/images/services/audiofiles-icon.svg" alt="">
                <h4>Обробкою аудіо файлів</h4>
            </li>
        </ul>
        <p>
            А ще ми співпрацюємо з професійними вокалістами, щоби додати необхідну людяність та глибину <a
                href="/audio-branding">аудіо брендам</a> і <a href="/music-composing">музиці</a>.
        </p>
    </div>
</div>
<div class="service-section inline-gap">
    <div class="small-container">
        <h2>База голосів</h2>
        <p>
            За роки роботи ми сформували базу акторів голосового озвучення та вокалістів. Кожен із них — носій
            найрізноманітніших мов і акцентів, тембрів і інтонацій. У цьому ви можете переконатися самі, плейлисти із
            прикладами голосів акторів і вокалістів ви знайдете нижче.
        </p>
        <h3>Актори озвучення</h3>
        <iframe title="Актори озвучення" loading="lazy" width="100%" height="450" scrolling="no" frameborder="no"
            allow="autoplay"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/303617614%3Fsecret_token%3Ds-jgwUQD8Wr0W&color=%23f23b0d&auto_play=false&hide_related=false&show_comments=false&show_user=true&show_reposts=false&show_teaser=false"></iframe>

        <h3>Вокалісти</h3>
        <iframe title="Вокалісти" loading="lazy" width="100%" height="450" scrolling="no" frameborder="no"
            allow="autoplay"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1259357083%3Fsecret_token%3Ds-vWRXTht4Qep&color=%23f23b0d&auto_play=false&hide_related=false&show_comments=false&show_user=true&show_reposts=false&show_teaser=false"></iframe>
    </div>
</div>
<div class="service-section inline-gap">
    <div class="small-container">
        <h2>Як проходить процес?</h2>
        <p>
            За останні кілька років ми розробили зрозумілу й ефективну схему співпраці завдяки якій креативнийпроцес іде
            швидко, цікаво, а головне — передбачувано. Усе задля того, щоби ми з вами мали змогуспільно створити те, що
            сподобається та запам’ятається вашій аудиторії.
        </p>
        {{ .Content }}
    </div>
</div>
<div class="our-prices service-section inline-gap">
    <div class="small-container">
        <h2>Вартість</h2>
        <div>
            <p>
                Вартість проєкту залежить від вибору актора озвучення, базова обробка голосу (чистка, еквалізація,
                компресія, лімітування) включена у вартість, специфічна обробка (ефект радіо, ехо, голос робота
                тощо) обговорюється окремо.
            </p>
        </div>
        <h3>Українськи актори озвучення</h3>
        <div>
            <p>Доступні мови: українська, англійська.</p>
            <p>Вартість — $300/год</p>
        </div>
        <h3>Іноземні актори озвучення</h3>
        <div>
            <p>Доступні мови: англійська, німецька, французька, іспанська, китайська.</p>
            <p>Вартість — $400/год</p>
        </div>
        <div>
            <br>
            <br>
            <p>
                Година роботи включає запис актора і базову обробку голосу. В середньому за одну годину роботи можна
                озвучити 800-1000 слів сценарію, але все залежить від специфіки проєкту.
            </p>
            <p>Мінімальна сума замовлення складає вартість однієї години роботи.</p>
            <p>
                Якщо в списку доступних мов ви не знайшли потрібну вам — обов’язково
                <a href="mailto:connect@vp-production.com">напишіть нам</a> і ми підберемо потрібного актора.
            </p>
            <p>
                Вартість роботи вокалістів безпосередньо залежить від обсягу та складності проєкту й розраховується
                індивідуально.
            </p>
        </div>
    </div>
</div>
{{ end }}