<!DOCTYPE html>
<html lang="{{ .Site.Language }}">

<head>
  {{- partial "head.html" . -}}
  {{- block "cssbeforemain" . }}{{ end -}}

  {{- partial "css-bundle.html" . -}}

  {{- block "css" . }}{{ end -}}

  {{- block "jsbeforemain" . }}{{ end -}}

  {{ with resources.Get "js/main.js" }}
  {{- partial "js.html" . -}}
  {{ end }}

  {{- block "js" . }}{{ end -}}
</head>

<body>
  {{- block "main" . }}{{ end -}}

  {{- partial "contact-us-email.html" . -}}
  {{- partial "footer.html" . -}}

  <div data-modal-root=""></div>
</body>

</html>