{{ define "css" }}
{{ with resources.Get "css/home.css" }}
{{- partial "css.html" . -}}
{{ end }}
{{ end }}

{{ define "main" }}
{{- $works := where .Site.RegularPages ".Type" "work" -}}

<!--  support section starts here  -->
{{ partial "ukraine-support-panel.html" . }}
<!--  support section ends here  -->

{{- partial "mobile-nav.html" . -}}
{{- partial "horizontal-nav.html" . -}}

<!--  hero section starts here  -->
<div class="hero inline-gap">
  {{- partial "langs-list-h.html" . -}}

  <img class="hero-logo" src="/images/home/hero-logo.svg" alt="" aria-hidden="true">
  <img class="hero-logo-bg" src="/images/home/hero-logo-bg.svg" alt="" aria-hidden="true">

  {{ if $works }}
  <a class="hero-portfolio-link no-hover" href={{ relLangURL "portfolio" }}>
    <span class="hero-portfolio-link-line"></span>
    <span>Portfolio</span>
  </a>
  {{ end }}

  <ul class="hero-social-links-list" role="list">
    <li>
      <a class="hero-social-link no-external-icon no-hover" href="https://www.facebook.com/vpproduction.audio"
        target="_blank" rel="noopener noreferrer nofollow" aria-label="VP Production Facebook">
        facebook
        <span class="hero-social-link-arrow" aria-hidden="true"></span>
      </a>
    </li>
    <li role="presentation" aria-hidden="true">/</li>
    <li>
      <a class="hero-social-link no-external-icon no-hover" href="https://www.instagram.com/vpproduction.audio"
        target="_blank" rel="noopener noreferrer nofollow" aria-label="VP Production Instagram">
        instagram
        <span class="hero-social-link-arrow" aria-hidden="true"></span>
      </a>
    </li>
    <li role="presentation" aria-hidden="true">/</li>
    <li>
      <a class="hero-social-link no-external-icon no-hover" href="https://www.linkedin.com/company/vpproduction-audio"
        target="_blank" rel="noopener noreferrer nofollow" aria-label="VP Production LinkedIn">
        linkedin
        <span class="hero-social-link-arrow" aria-hidden="true"></span>
      </a>
    </li>
  </ul>
</div>
<!--  hero section ends here  -->

<!--  about section starts here  -->
<div class="about-section container inline-gap">
  <div class="about-section-img-container">
    <h1 class="page-title-large about-section-title">VP Production</h1>
    <div class="small-container">
      <picture>
        <source srcset="/images/home/about.webp" type="image/webp">
        <img class="about-section-img" src="/images/home/about.jpg" alt="" aria-hidden="true">
      </picture>
    </div>
  </div>
  <div class="small-container">
    <p class="about-section-text">
      We are a Ukrainian audio agency that crafts impactful sound for games, brands, and apps. We develop unique audio
      to make our clients' products secure a place in the minds and hearts of their audiences.
    </p>

    <div class="about-section-button-container">
      <a class="btn btn-arrow no-hover" href={{ relLangURL "about" }}>
        About us
      </a>
    </div>
  </div>
</div>
<!--  about section ends here  -->

<!--  why section starts here  -->
<div class="why-section inline-gap">
  <div class="container">
    <h2 class="section-title">Why us?</h2>
  </div>
  <div class="small-container">
    <ul class="why-section-list" role="list">
      <li>
        <div class="why-section-list-item">
          <img src="/images/home/time-icon.svg" alt="" />
          <p>
            <strong>Deadlines are sacred.</strong>
            We have missed 0 deadlines in 7 years.
          </p>
        </div>
      </li>
      <li>
        <div class="why-section-list-item">
          <img src="/images/home/dialog-icon.svg" alt="" />
          <p>
            <strong>We're easy to communicate with.</strong>
            You don't need to master audio terminology! Just tell us about the feelings and emotions your product should
            evoke, and we'll understand you.
          </p>
        </div>
      </li>
      <li>
        <div class="why-section-list-item">
          <img src="/images/home/idea-icon.svg" alt="" />
          <p>
            <strong>We create iconic audio.</strong>
            We study your product in detail and analyze the market and target audience to craft audio that builds
            memories for your users.
          </p>
        </div>
      </li>
      <li>
        <div class="why-section-list-item">
          <img src="/images/home/document-icon.svg" alt="" />
          <p>
            <strong>Clear workflow.</strong>
            You'll easily understand what is happening at each stage of audio creation. Audio mood boards and a unique
            feedback methodology will help you with this.
          </p>
        </div>
      </li>

      <li>
        <div class="why-section-list-item">
          <img src="/images/home/audio-icon.svg" alt="" />
          <p>
            <strong>Audience + our audio = ❤️.</strong>
            Millions have listened to our works, and many were so impressed that they wrote <a href={{
              relLangURL "/reviews" }}>this</a> about us.
          </p>
        </div>
      </li>
      <li>
        <div class="why-section-list-item">
          <img src="/images/home/lamp-icon.svg" alt="" />
          <p>
            <strong>We strive for meaningful connections.</strong>
            That's why we're always ready to listen and share ideas and advice, even if you're not ready to cooperate
            yet.
        </div>
      </li>
    </ul>
  </div>
</div>
<!--  why section ends here  -->

{{- partial "services.html" . -}}

{{- with (where $works ".Params.homePageWeight" "ne" nil) }}
<!--  works section starts here  -->
<div class="works-section inline-gap">
  <div class="container">
    <h2 class="works-section-title section-title" id="works-title">
      {{ T "featured-works" }}
      <a class="btn btn-arrow no-hover" href={{ relLangURL "portfolio" }}>{{ T "portfolio" }}</a>
    </h2>
  </div>
  <div class="works-list grid" aria-labelledby="works-title">
    {{- range first 10 (.ByParam "homePageWeight") }}
    <div class="column">
      <a class="works-list-item no-hover grid-item" href="{{ .RelPermalink }}" aria-label="{{ .Title }}">
        {{- with resources.GetMatch .Params.image }}
        <img src="{{ .RelPermalink }}" alt="{{ .Title }}" loading="lazy" />
        {{- end }}
        <h4 class="works-list-item-title grid-item-title">{{ .Title }}</h4>
      </a>
    </div>
    {{- end }}
  </div>
  <div class="container">
    <a class="btn btn-arrow no-hover" href={{ relLangURL "portfolio" }}>{{ T "portfolio" }}</a>
  </div>
</div>
<!--  works section ends here  -->
{{- end -}}

<!-- big text section starts here -->
{{- partial "big-text-section.html" -}}
<!-- big text section ends here -->

{{ end }}

{{ define "js" }}
{{ with resources.Get "js/home.js" }}
{{- partial "js.html" . -}}
{{ end }}
{{ end }}