{{ define "css" }}
{{ with resources.Get "css/home.css" }}
{{- partial "css.html" . -}}
{{ end }}
{{ end }}

{{ define "main" }}
{{- $works := where .Site.RegularPages ".Type" "work" -}}

<!--  support section starts here  -->
{{ partial "ukraine-support-panel.html" . }}
<!--  support section ends here  -->

{{- partial "mobile-nav.html" . -}}
{{- partial "horizontal-nav.html" . -}}

<!--  hero section starts here  -->
<div class="hero inline-gap">
  {{- partial "langs-list-h.html" . -}}

  <img class="hero-logo" src="/images/home/hero-logo.svg" alt="">
  <img class="hero-logo-bg" src="/images/home/hero-logo-bg.svg" alt="">

  {{ if $works }}
  <a class="hero-portfolio-link no-hover" href={{ relLangURL "portfolio" }}>
    <span class="hero-portfolio-link-line"></span>
    <span>Портфолио</span>
  </a>
  {{ end }}

  <ul class="hero-social-links-list" role="list">
    <li>
      <a class="hero-social-link no-external-icon no-hover" href="https://www.facebook.com/vpproduction.audio"
        target="_blank" rel="noopener noreferrer nofollow" aria-label="VP Production Facebook">
        facebook
        <span class="hero-social-link-arrow" aria-hidden="true"></span>
      </a>
    </li>
    <li role="presentation" aria-hidden="true">/</li>
    <li>
      <a class="hero-social-link no-external-icon no-hover" href="https://www.instagram.com/vpproduction.audio"
        target="_blank" rel="noopener noreferrer nofollow" aria-label="VP Production Instagram">
        instagram
        <span class="hero-social-link-arrow" aria-hidden="true"></span>
      </a>
    </li>
    <li role="presentation" aria-hidden="true">/</li>
    <li>
      <a class="hero-social-link no-external-icon no-hover" href="https://www.linkedin.com/company/vpproduction-audio"
        target="_blank" rel="noopener noreferrer nofollow" aria-label="VP Production LinkedIn">
        linkedin
        <span class="hero-social-link-arrow" aria-hidden="true"></span>
      </a>
    </li>
  </ul>
</div>
<!--  hero section ends here  -->

<!--  about section starts here  -->
<div class="about-section container inline-gap">
  <div class="about-section-img-container">
    <h1 class="page-title-large about-section-title">VP Production</h1>
    <div class="small-container">
      <picture>
        <source srcset="/images/home/about.webp" type="image/webp">
        <img class="about-section-img" src="/images/home/about.jpg" alt="" aria-hidden="true">
      </picture>
    </div>
  </div>
  <div class="small-container">
    <p class="about-section-text">
      Мы — украинское аудиоагентство, которое создает знаковое звучание для игр, брендов и приложений. Мы разрабатываем
      уникальное аудио, чтобы помочь нашим клиентам запечатлеть их образ в головах и сердцах аудитории.
    </p>

    <div class="about-section-button-container">
      <a class="btn btn-arrow no-hover" href={{ relLangURL "about" }}>
        О нас
      </a>
    </div>
  </div>
</div>
<!--  about section ends here  -->

<!--  why section starts here  -->
<div class="why-section inline-gap">
  <div class="container">
    <h2 class="section-title">Почему мы?</h2>
  </div>
  <div class="small-container">
    <ul class="why-section-list" role="list">
      <li>
        <div class="why-section-list-item">
          <img src="/images/home/time-icon.svg" alt="" />
          <p>
            <strong>Дедлайны — это святое</strong>
            За 7 лет мы сорвали 0 дедлайнов.
          </p>
        </div>
      </li>
      <li>
        <div class="why-section-list-item">
          <img src="/images/home/dialog-icon.svg" alt="" />
          <p>
            <strong>Мы общаемся на простом языке</strong>
            Нет необходимости овладевать аудио терминологией, расскажите нам о чувствах и эмоциях, которые должны
            вызвать ваш продукт, и мы вас поймем.
          </p>
        </div>
      </li>
      <li>
        <div class="why-section-list-item">
          <img src="/images/home/idea-icon.svg" alt="" />
          <p>
            <strong>Создаем знаковое звучание</strong>
            Мы подробно изучаем ваш продукт, анализируем рынок и целевую аудиторию, чтобы создать запоминающееся вашим
            пользователям звучание.
          </p>
        </div>
      </li>
      <li>
        <div class="why-section-list-item">
          <img src="/images/home/document-icon.svg" alt="" />
          <p>
            <strong>Понятный процесс работы</strong>
            Вы будете легко ориентироваться в том, что происходит на каждом этапе создания аудио. В этом помогут
            аудиальные мудборды и специальная методика фидбека.
          </p>
        </div>
      </li>

      <li>
        <div class="why-section-list-item">
          <img src="/images/home/audio-icon.svg" alt="" />
          <p>
            <strong>Аудитория + наше аудио = ❤️.</strong> Наши работы уже слышали миллионы людей и многое из
            их были настолько поражены, что написали о нас
            <a href={{ relLangURL "/reviews" }}>такое.</a>
          </p>
        </div>
      </li>
      <li>
        <div class="why-section-list-item">
          <img src="/images/home/lamp-icon.svg" alt="" />
          <p>
            <strong>Мы стремимся к значимым связям</strong>
            Поэтому всегда готовы выслушать и поделиться идеями и советами даже если вы пока не
            готовы к сотрудничеству.
        </div>
      </li>
    </ul>
  </div>
</div>
<!--  why section ends here  -->

{{- partial "services.html" . -}}

{{- with (where $works ".Params.homePageWeight" "ne" nil) }}
<!--  works section starts here  -->
<div class="works-section inline-gap">
  <div class="container">
    <h2 class="works-section-title section-title" id="works-title">
      {{ T "featured-works" }}
      <a class="btn btn-arrow no-hover" href={{ relLangURL "portfolio" }}>{{ T "portfolio" }}</a>
    </h2>
  </div>
  <div class="works-list grid" aria-labelledby="works-title">
    {{- range first 10 (.ByParam "homePageWeight") }}
    <div class="column">
      <a class="works-list-item no-hover grid-item" href="{{ .RelPermalink }}" aria-label="{{ .Title }}">
        {{- with resources.GetMatch .Params.image }}
        <img src="{{ .RelPermalink }}" alt="{{ .Title }}" loading="lazy" />
        {{- end }}
        <h4 class="works-list-item-title grid-item-title">{{ .Title }}</h4>
      </a>
    </div>
    {{- end }}
  </div>
  <div class="container">
    <a class="btn btn-arrow no-hover" href={{ relLangURL "portfolio" }}>{{ T "portfolio" }}</a>
  </div>
</div>
<!--  works section ends here  -->
{{- end -}}

<!-- big text section starts here -->
{{- partial "big-text-section.html" -}}
<!-- big text section ends here -->
{{ end }}

{{ define "js" }}
{{ with resources.Get "js/home.js" }}
{{- partial "js.html" . -}}
{{ end }}
{{ end }}