<!DOCTYPE html>
<html lang="{{ .Site.Language }}">

<head>
  {{- partial "head.html" . -}}
  <link rel="stylesheet" href="/css/work.css" />
</head>


<body>
  {{- partial "horizontal-nav.html" . -}}
  {{- partial "mobile-nav.html" (dict "context" . "className" "") -}}

  <div class="work-page">
    <div class="small-container inline-gap top-space-medium">

      {{- partial "work-metadata.html" . -}}

      <div class="work-content">
        {{- .Content -}}

        {{- partial "work-review.html" . -}}

      </div>
    </div>
  </div>

  <div class="work-nav">
    <div class="navigation-inner small-container">
      <div class="navigation-items">

        <a class="previous-item navigation-item no-hover no-line {{ if not .NextInSection }}navigation-item-disabled{{ end }}"
          {{ if .NextInSection }}href="{{ .NextInSection.RelPermalink }}" {{ end }}>
          {{- partial "icons/arrow-left.html" . -}}
          <span class="navigation-label">Попередня робота</span>
        </a>

        <a class="next-item navigation-item no-hover no-line {{ if not .PrevInSection }}navigation-item-disabled{{ end }}"
          {{ if .PrevInSection }}href="{{ .PrevInSection.RelPermalink }}" {{ end }}>
          <span class="navigation-label">Наступна робота</span>
          {{- partial "icons/arrow-left.html" . -}}
        </a>

        <a class="btn portfolio-button no-hover" href="{{ .CurrentSection.RelPermalink }}">
          <span>Повернутися в портфоліо</span>
        </a>

      </div>
    </div>
  </div>


  {{- partial "contact-us-email.html" . -}}
  {{- partial "footer.html" . -}}
  <script async type="module" src="/js/main.js"></script>
</body>

</html>