<!DOCTYPE html>
<html lang="{{ .Site.Language }}">

<head>
  {{- partial "head.html" . -}}
</head>

<body>
  {{- partial "horizontal-nav.html" . -}}
  {{- partial "mobile-nav.html" (dict "context" . "className" "") -}}

  <div class="work-page">
    <div class="small-container inline-gap top-space-medium">

      <h1>{{ .Title | title }}</h1>

      {{- .Content -}}
    </div>
  </div>

  {{- partial "contact-us-email.html" . -}}
  {{- partial "footer.html" . -}}
  <script async type="module" src="/js/main.js"></script>
</body>

</html>