{{- define "cssbeforemain" }}
<link rel="stylesheet" href="/css/swiper-bundle.min.css" />
{{- end }}

{{ define "css" }}
{{ with resources.Get "css/reviews-page.css" }}
{{- partial "css.html" . -}}
{{ end }}
{{ end }}

{{- define "main" }}
{{- partial "horizontal-nav.html" . -}}
{{- partial "mobile-nav.html" (dict "context" . "className" "") -}}

<div class="inline-gap small-container top-space-medium">
    <h1 class="page-title-large">{{ .Title }}</h1>
    <img height="138px" width="148px" class="box-image box-image-first" src="/images/faq/box-with-icons.svg" alt=""
        role="presentation" aria-hidden="true" loading="lazy">
    <img height="138px" width="148px" class="box-image box-image-second" src="/images/faq/box-with-icons.svg" alt=""
        role="presentation" aria-hidden="true" loading="lazy">
    <div class="clients-section">
        <h2>Відгуки клієнтів і партнерів</h2>

        {{ with .Pages }}
        <div class="slider">
            <ul class="swiper-wrapper">
                {{ range first 10 . }}
                {{- partial "review.html" (dict "context" . "className" "swiper-slide") -}}
                {{ end }}
            </ul>
        </div>
        {{- partial "arrow-button.html" . -}}
        {{ end }}
    </div>
    <div class="listeners-section">
        <h2>Відгуки слухачів</h2>
    </div>
</div>

{{- end }}

{{- define "jsbeforemain" }}
{{ with resources.Get "js/swiper-bundle.min.js" }}
<script defer src="{{ .RelPermalink }}"></script>
{{ end }}
{{- end }}
{{ define "js" }}
{{ with resources.Get "js/slider.js" }}
{{- partial "js.html" . -}}
{{ end }}
{{ end }}