.consultations-page-title {
    margin: .67em 0;
    color: var(--clr-white);
    font-size: 32px;
    line-height: 39px;
    font-weight: 800;
}

.consultations-section-title {
    margin-bottom: .4em;
    margin-top: 1.5em;
    color: var(--clr-white);
    font-size: 24px;
    font-weight: 900;
    line-height: 1.2;
}

@media (min-width: 36rem) {
    .consultations-section-title {
        font-size: 40px;
    }

    .consultations-page-title {
        font-size: 56px;
        line-height: 68px;
    }
}

@media (min-width: 48rem) {
    .consultations-section-title {
        font-size: 56px;
    }

    .consultations-page-title {
        font-size: 80px;
        line-height: 98px;
        text-transform: uppercase;
    }
}

@media (min-width: 62rem) {
    .consultations-section-title {
        font-size: 70px;
    }

    .consultations-page-title {
        font-size: 100px;
        line-height: 122px;
    }
}

/* cards starts here*/
.consultation-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 2em;
    row-gap: 2em;
    margin-bottom: 2em;
}

.consultation-cards img {
    height: 50px;
    width: 50px;
}

.consultation-cards h3 {
    margin: 1em 0;
    font-size: 18px;
    min-height: 41px;
}

.consultation-card-inner {
    align-items: flex-start;
    border: 1px solid var(--clr-grey);
    box-sizing: border-box;
    display: flex;
    flex: 1 1 230px;
    flex-direction: column;
    max-width: 469px;
    padding: 1rem;
}

.consultation-card-list {
    border-top: 1px solid var(--clr-grey);
    flex-grow: 1;
    font-size: 14px;
    line-height: 1.8;
    margin: 0 0 2em;
    padding: 20px 0 0;
    width: 100%;
}

.consultation-card-list li {
    margin-bottom: .7em;
    padding-left: 22px;
    position: relative;
}

.consultation-card-list li::before {
    content: "";
    background-image: url(/images/services/check-mark.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50%;
    position: absolute;
    height: 25px;
    width: 12px;
    left: 0;
}

.consultation-card-price {
    border-top: 1px solid var(--clr-grey);
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    padding-top: .8em;
    width: 100%;
}

@media (min-width: 62rem) {
    .consultation-cards img {
        height: 80px;
        width: 70px;
    }

    .consultation-card-inner {
        padding: 30px 20px;
    }

    .consultation-card-price {
        font-size: 22px;
        padding-top: 1.4em;
    }
}

/* cards ends here*/