/* support panel start */
.ukraine-support-panel {
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: var(--layer-over-menu);
    background-color: var(--clr-black);
    padding: .5em .7em;
    font-weight: 800;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.support-text {
    text-align: center;
    line-height: 1.2;
    font-size: 14px;
    color: var(--clr-white);

}

.support-flag img {
    height: 56px;
    width: 95px;
}

.support-button {
    background: none;
}

.support-button a {
    padding: .5em 1.5em;
    font-size: 14px;
    text-transform: uppercase;

    background-color: #ecc625;
    color: #017ec1;
}

@media (min-width: 48em) {
    .support-text {
        font-size: 18px;
    }

    .support-button a {
        padding: .5em 2em;
    }
}

@media (min-width: 120em) {
    .support-text {
        font-size: 30px;
    }

    .support-button a {
        font-size: 22px;
    }
}

/* support panel end */

/* mobile nav start*/

.mobile-menu-btn.open {
    top: 1.218rem;
}

.mobile-nav {
    top: 80px;
    z-index: var(--layer-over-menu);
}

.mobile-nav-home {
    display: flex;
}

.mobile-nav-home:not(.scrolled) {
    background-color: unset;
    justify-content: flex-end;
}

.mobile-nav-home:not(.scrolled) .mobile-nav-logo {
    display: none;
}


/* mobile nav end*/

/* horizontal nav start */
.horizontal-menu-container {
    top: 78px;
    opacity: 0;
    transform: translateY(-100%);

    transition: transform 0.25s linear, opacity 0.15s linear;

    z-index: calc(var(--layer-under-menu) - 1);
}

.horizontal-menu-container.visible {
    opacity: 1;
    transform: translateY(0);
}

/* horizontal nav end */


/* HERO start */

.hero {
    padding: 28px 18px 0px;
    position: relative;
    min-height: 100vh;
    min-height: 100svh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 200px;
    justify-items: center;
    align-items: center;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: url('/images/home/hero-bg.webp');
}

@supports (background-image: url('/images/home/hero-bg.avif')) {
    .hero {
        background-image: url('/images/home/hero-bg.avif');
    }
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.96) 64.99%, #000 100%);
}

.hero .hero-logo {
    height: 90vh;
    height: 90svh;
    max-width: 95%;
    width: auto;

    grid-column: 1 / -1;
    grid-row: 1 / -1;

    z-index: var(--layer-main);
}

.hero>.langs-menu-list {
    display: none;

    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: flex-start;
    align-self: flex-start;
    z-index: var(--layer-menu);
    position: absolute;
    top: 85px;
    left: 32px;
    margin-bottom: 0;

    font-size: 1.375rem;
    line-height: 1;
}

.hero-portfolio-link {
    position: absolute;
    left: 28px;
    display: flex;
    justify-content: flex-end;

    font-size: 1.375rem;
    font-weight: var(--fw-regular);
    text-decoration: none;
    text-transform: capitalize;
    padding: 0.2em 0;

    width: 9.6875rem;

    transform: rotate(-90deg);
    transform-origin: 0 0;

    grid-column: 1 / 2;
    grid-row: 3 / 4;
    justify-self: flex-start;
    align-self: flex-end;
    z-index: var(--layer-main);

    margin-left: var(--mobile-menu-button-right-gutter);
}

.hero-portfolio-link-line {
    position: absolute;
    top: 0;
    left: 0;

    height: 1px;

    overflow: hidden;

    transform-origin: left;

    width: 100%;
}

.hero-portfolio-link-line:after,
.hero-portfolio-link-line:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;

    background-color: currentColor;

    height: 100%;
    width: 100%;

    transition: transform .75s cubic-bezier(.19, 1, .22, 1);
}

.hero-portfolio-link:hover {
    background-image: unset;
    color: var(--clr-white);
}

.hero-portfolio-link:hover .hero-portfolio-link-line:after,
.hero-portfolio-link-line:before {
    transform: scaleX(0);
    transform-origin: right;
    transition-delay: 0s;
}

.hero-portfolio-link:hover .hero-portfolio-link-line:before {
    transform: scaleX(1);
    transform-origin: left;
    transition-delay: .25s;
}

.hero-portfolio-link-line:after {
    transform: scaleX(1);
    transform-origin: left;
    transition-delay: .25s;
}

.hero-social-links-list {
    display: none;

    gap: 0.75em;

    margin-right: var(--mobile-menu-button-right-gutter);
    margin-bottom: var(--mobile-menu-button-top-gutter);

    align-self: flex-end;
    justify-self: flex-end;

    z-index: var(--layer-main);
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    font-size: var(--fz-regular);
    line-height: 1;
}

.hero-social-link {
    font-weight: var(--fw-regular);
    text-decoration: none;

    position: relative;
}

.hero-social-link-arrow {
    background-color: var(--clr-white);
    background-image: linear-gradient(270deg, #fff 15.37%, #fff 48.05%, #fff 61.31%, #fff 100.18%);
    display: block;
    height: 1px;
    margin-top: 0.5em;
    position: relative;
    transform: scaleX(1);
    transform-origin: 100% 0;
    transition: transform .3s ease;
    width: 100%;
}

.hero-social-link-arrow:before {
    background-color: #fff;
    content: "";
    height: 1px;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(25deg);
    transform-origin: 100% 0;
    width: 10px;
}

.hero-social-link-arrow:after {
    background-color: #fff;
    content: "";
    height: 1px;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(-25deg);
    transform-origin: 100% 0;
    width: 11px;
}

.hero-social-link:hover .hero-social-link-arrow {
    background-image: linear-gradient(270deg, var(--clr-blue) 15.37%, var(--clr-blue) 48.05%, var(--clr-ember) 61.31%, var(--clr-ember) 100.18%);
    transform: scaleX(.55);
}

.hero-social-link:hover .hero-social-link-arrow:before {
    background-color: var(--clr-blue);
    opacity: 1;
}

.hero-social-link:hover .hero-social-link-arrow:after {
    background-color: var(--clr-blue);
    opacity: 1;
}

@media (min-width: 48em) {
    .hero-social-links-list {
        display: flex;
    }
}

@media (min-width: 62em) {
    .hero {
        padding: 40px 20px 0;

    }

    .hero>.langs-menu-list {
        display: flex;
    }


    .hero-portfolio-link {
        left: 32px;
        width: 12.5rem;
    }
}

/* hero end */

/* about start */

.about-section {
    margin-top: 3rem;
    margin-bottom: 2.9rem;
}

.about-section-title {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-transform: capitalize;
}

.about-section-img {
    margin-bottom: 2rem;
}

.about-section-img-container {
    position: relative;
}

.about-section-text {
    margin-bottom: 3rem;
}

/* Tabled width */
@media (width > 48em) {
    .about-section-title {
        text-transform: uppercase;
    }
}

@media (min-width: 62em) {
    .about-section {
        margin-top: 10rem;
        margin-bottom: 7rem;
    }
}

/* about end */



/* works section start */
.works-section {
    padding-top: 44px;
    padding-bottom: 25px;
    background-color: var(--clr-dark);
}

.works-list {
    margin-bottom: 1.5rem;
}

@media (min-width: 62em) {
    .works-section {
        padding-top: 123px;
        padding-bottom: 100px;
    }

    .works-list {
        margin-bottom: 3rem;
    }
}

/* works section end */