@import url('./reset.css');
@import url('./typography.css');
@import url('./button.css');

:root {
  /* theme colors */
  --clr-ember: #f23b0d;
  --clr-red: #ff2d2d;
  --clr-dark-red: #933636;
  --clr-blue: #0da6f2;
  --clr-white: #ffffff;
  --clr-dark: rgb(9, 9, 9, 0.98);
  --clr-grey: #747474;
  --clr-black: #000000;
  --clr-grey-text: #C2C2C2;
  --clr-dark-op: rgba(0, 0, 0, .94);

  --gradient: linear-gradient(270deg, var(--clr-blue) 0%, var(--clr-ember) 100%);

  /* theme font weight */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bolder: 500;
  --fw-bold: 700;
  --fw-extra: 800;

  /* font sizes */
  --fz-regular: .875rem;
  /* sub section title */
  --fz-medium: 1.125rem;
  /* section title */
  --fz-large: 1.5rem;
  /* page title */
  --fz-extra: 2rem;


  /* theme layout */
  --gutter: 1rem;
  --max-width: 90rem;

  --mobile-menu-top-gutter: 20px;
  --mobile-menu-gutter: var(--gutter);


  --layer-main: 1;
  --layer-menu: 10;
  --layer-over-menu: 20;
}

/* Tabled width */
@media (width > 62em) {
  :root {
    /* font sizes */
    --fz-regular: 1.375rem;
    --fz-medium: 32px;
    --fz-large: 4.375rem;
    --fz-extra: 4.375rem;
  }
}

body {
  background-color: var(--clr-black);
}

::selection {
  background: var(--clr-ember);
}

:focus-visible {
  outline-color: var(--clr-ember);
  outline-offset: 3px;
  outline-width: 2px;
  outline-style: solid;
}

body .hidden {
  display: none;
}

/* modal start */
body.has-modal {
  overflow: hidden;
}

.modal-back {
  display: none;
  position: fixed;
  overflow-y: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--layer-over-menu);
  background-color: rgba(0, 0, 0, 0.94);

  backdrop-filter: blur(5px);
}

.modal-back.active {
  display: block;
}

.modal {
  box-sizing: border-box;
  padding: 1rem;

  display: grid;
}

.modal-close {
  background-color: transparent;
  border: none;
  color: var(--clr-white);
  cursor: pointer;
  font-size: 1.125rem;
  justify-self: end;
}

.modal-content {
  padding: 1rem;

}

@media (min-width: 60em) {
  .modal {
    position: absolute;
    top: 25svh;
    left: 50svw;
    transform: translateX(-50%);
    width: clamp(calc(60em - (1rem * 2)), calc(100svw - (1rem * 2)), 100rem);
    min-height: auto;
  }
}

/* modal end */

/* scrollbar start*/

::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-thumb {
  background: var(--clr-ember);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--clr-dark-red);
}

::-webkit-scrollbar-track {
  background: transparent;
}


/* scrollbar end */

/* mobile main navigation */
.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: var(--layer-menu);
  background-color: var(--clr-dark-op);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: var(--mobile-menu-gutter);
  padding-left: var(--mobile-menu-gutter);
  padding-right: var(--mobile-menu-gutter);
  padding-bottom: var(--mobile-menu-gutter);
}


.mobile-nav img {
  width: 33px;
  height: 31px;
}

.mobile-menu-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 30px;
  height: 15px;
  background: none;
  border: none;
  cursor: pointer;
}

.mobile-menu-btn-line {
  width: 100%;
  height: 2px;
  background-color: var(--clr-white);
  pointer-events: none;
  transition: width 0.13s ease-in-out, transform 0.13s ease-in-out, opacity 0.15s ease-in-out;
}

.mobile-menu-btn-line:nth-child(2) {
  width: 55%;
}

.mobile-menu-btn-line:nth-child(3) {
  width: 80%;
}

@media (pointer: fine) {

  .mobile-menu-btn:not(.open):hover .mobile-menu-btn-line:nth-child(2),
  .mobile-menu-btn:not(.open):hover .mobile-menu-btn-line:nth-child(3) {
    width: 100%;
  }
}

/* onClick button animation */
.mobile-menu-btn.open .mobile-menu-btn-line:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.mobile-menu-btn.open .mobile-menu-btn-line:nth-child(2) {
  opacity: 0;
}

.mobile-menu-btn.open .mobile-menu-btn-line:nth-child(3) {
  width: 100%;
  transform: translateY(-6px) rotate(-45deg);
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: calc(var(--mobile-menu-top-gutter) * 2.8);
  padding-right: var(--mobile-menu-gutter);
  padding-left: calc(var(--mobile-menu-gutter) * 2.5);
  padding-bottom: 2rem;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--clr-black);

  transform: translateY(-130%);

  z-index: var(--layer-menu);
}

.loaded .mobile-menu {
  transition: transform 0.5s;
}

.mobile-menu.open {
  transform: translateY(0%);
}


.mobile-menu-nav {
  margin-bottom: 3rem;
  overflow-x: auto;
  flex: 1;

  font-size: 1rem;
}

.mobile-menu-nav ul {
  display: flex;
  flex-direction: column;
  row-gap: 1.75em;
}

.mobile-menu-nav .mobile-menu-link {
  text-decoration: none;
  line-height: 1;
  display: inline-flex;

  position: relative;
}

.mobile-menu-nav .mobile-menu-summary {
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  column-gap: 0.5em;
}

.mobile-menu-nav details ul {
  margin-top: 1em;
  margin-left: 1em;
  font-size: 0.81818em;
  row-gap: 1.5em;
}

.mobile-menu-nav .mobile-menu-link,
.mobile-menu-nav .mobile-menu-summary {
  color: var(--clr-grey-text);
  font-weight: var(--fw-regular);
}

.mobile-menu-nav li li .mobile-menu-link {
  color: var(--clr-grey-text);
  filter: brightness(80%)
}

.mobile-menu-link-arrow {
  background-color: var(--clr-black);
  background-image: linear-gradient(270deg, var(--clr-black) 15.37%, var(--clr-black) 48.05%, var(--clr-black) 61.31%, var(--clr-black) 100.18%);
  height: 1px;

  position: absolute;
  top: 1.25em;

  opacity: 0;
  transform: scaleX(1);
  transform-origin: 100% 0;
  transition: opacity .25s ease, transform .45s ease;
  width: 100%;
}

.mobile-menu-link-arrow:before {
  background-color: var(--clr-black);
  content: "";
  height: 1px;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(25deg);
  transform-origin: 100% 0;
  width: 10px;
}

.mobile-menu-link-arrow:after {
  background-color: var(--clr-black);
  content: "";
  height: 1px;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(-25deg);
  transform-origin: 100% 0;
  width: 11px;
}

@media (hover: hover) {
  .mobile-menu-link:hover .mobile-menu-link-arrow {
    background-image: linear-gradient(270deg, var(--clr-blue) 15.37%, var(--clr-blue) 48.05%, var(--clr-ember) 61.31%, var(--clr-ember) 100.18%);
    opacity: 1;
    transform: scaleX(.55);
  }

  .mobile-menu-link:hover .mobile-menu-link-arrow:before {
    background-color: var(--clr-blue);
    opacity: 1;
  }

  .mobile-menu-link:hover .mobile-menu-link-arrow:after {
    background-color: var(--clr-blue);
    opacity: 1;
  }

}


@media (min-width: 1200px) {
  .mobile-nav {
    display: none;
  }
}

.soc-links-list {
  display: flex;
  column-gap: 1.2em;
}

.soc-links-list a {
  color: var(--clr-grey-text);
  transition: color .25s ease;
}

.soc-links-list a:hover {
  color: var(--clr-white);
}

.langs-menu-list {
  display: flex;
  gap: 0.75em;
  margin-bottom: 1.75em;
  color: var(--clr-grey-text);
}

.langs-menu-list a {
  text-decoration: none;
  font-weight: var(--fw-regular);
  color: var(--clr-grey-text);
  transition: color .25s ease;
}

.langs-menu-list a:hover {
  color: var(--clr-white);
}

.langs-menu-list a[aria-current="page"] {
  font-weight: var(--fw-bold);
  color: var(--clr-white);
}

.langs-menu-list span:last-of-type {
  display: none;
}

.d-f {
  display: flex;
}

.f-c-h-r {
  flex-direction: column;
  align-items: end;
}

.t-a-r {
  text-align: right;
}

.mobile-menu-btn.open {
  position: fixed;
  top: var(--mobile-menu-gutter);
  right: var(--mobile-menu-gutter);

  z-index: var(--layer-over-menu);
}

@media (width >=48em) {
  /* :root {
    --mobile-menu-top-gutter: 50px;
    --mobile-menu-gutter: 36px;
  } */

  .mobile-menu-btn {
    width: 50px;
    height: 25px;
  }

  /* onClick button animation */
  .mobile-menu-btn.open .mobile-menu-btn-line:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
  }

  .mobile-menu-btn.open .mobile-menu-btn-line:nth-child(2) {
    opacity: 0;
  }

  .mobile-menu-btn.open .mobile-menu-btn-line:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
  }

  .mobile-menu-btn-line:nth-child(2) {
    width: 70%;
  }

  .mobile-menu-btn-line:nth-child(3) {
    width: 100%;
  }

  .mobile-menu {
    left: auto;
    bottom: auto;
    min-width: 23.3125rem;

    padding-right: calc(var(--mobile-menu-gutter) * 1.2);
    padding-left: 3.125rem;
    padding-bottom: 3.125rem;
  }

  .mobile-menu-nav {
    font-size: var(--fz-regular);
    overflow-x: initial;
  }

  .mobile-menu-nav ul {
    row-gap: 1.5em;
  }

  .langs-menu-list {
    font-size: var(--fz-regular);
    column-gap: 0.5em;
  }
}

/* dropdown start */
.dropdown {
  position: relative;
}

.dropdown>.dropdown-options {
  position: absolute;
  top: 100%;
  left: -5%;

  display: none;
  flex-direction: column;
  align-items: start;
  row-gap: 0.75em;
  padding: 1.25rem 1.5rem 1rem 1.5rem;

  font-size: 0.8em;
  white-space: nowrap;
  filter: brightness(80%);

  background-color: var(--clr-dark-op);
}

.dropdown:focus-within>.dropdown-options,
.dropdown:hover .dropdown-options {
  display: flex;
}

/* dropdown end */

.lang-select {
  font-size: var(--fz-regular);
  position: relative;
}

.lang-select .lang-select-button {
  background-color: transparent;
  border: 0;

  padding: 0 .25em;
}

/* horizontal-menu start */
.horizontal-menu {
  position: fixed;
  top: 0px;
  display: none;
  width: 100%;

  grid-template-columns: 55px auto 70px;
  align-items: center;
  column-gap: 1.8em;

  padding: 1.25rem 1rem;
  background-color: var(--clr-dark-op);
  z-index: var(--layer-menu);

}

.horizontal-menu a,
.horizontal-menu button {
  font-weight: var(--fw-regular);
  text-decoration: none;

  border: none;
  background-color: transparent;

  display: inline-flex;
  align-items: center;
  column-gap: 0.25em;
}

.horizontal-menu .horizontal-menu-nav {
  justify-self: end;
}

.horizontal-menu .horizontal-menu-nav>ul {
  display: flex;
  column-gap: 1.8em;
  font-size: var(--fz-regular);

  align-items: center;
}

.horizontal-menu .horizontal-menu-nav svg {
  font-size: 0.9rem;
}

@media (min-width: 75rem) {
  .horizontal-menu {
    display: grid;
  }
}

/* horizontal-menu end */

/* container start */

.container {
  margin: auto;
}

.small-container {
  margin: auto;
}

.inline-gap {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 48rem) {
  .container {
    max-width: 46.25rem;
  }

  .small-container {
    max-width: 45rem;
  }

  .small-container-tablet {
    max-width: 590px;
  }
}

@media (min-width: 62rem) {
  .container {
    max-width: 61.25rem;
  }

  .small-container {
    max-width: 60rem;
  }
}

@media (min-width: 75rem) {
  .container {
    max-width: 72.5rem;
  }
}

@media (min-width: 100rem) {
  .container {
    max-width: 98.125rem;
  }

  .small-container {
    max-width: 73rem;
  }
}

/* container end */

.fluid-img {
  width: 100%;
  height: auto;
}

/* grid start */
.grid {
  position: relative;
  display: flex;
  gap: 0.3rem;
  width: 100%;

  max-width: 120rem;
  margin: auto;
}

.grid .column {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.3rem;
}

.grid .column>* {
  position: relative;
  overflow: hidden;
}

.grid-item {
  position: relative;
  overflow: hidden;
}

.grid-item::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.03)),
    linear-gradient(90.1deg, rgba(242, 57, 11, 0.7) 0.07%, rgba(24, 151, 217, 0.7) 99.93%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.grid-item:hover::after,
.grid-item:focus::after {
  opacity: 1;
}

.grid-item img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.grid-item .grid-item-title {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin: 0 1em 1em;
  font-size: 1rem;
  line-height: 1.4;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.grid-item:focus .grid-item-title,
.grid-item:hover .grid-item-title {
  opacity: 1;
}

.grid-item-hidden {
  display: none;
}

@media (min-width: 42em) {

  .grid,
  .grid .column {
    gap: 0.65rem;
  }

  .grid-item .grid-item-title {
    font-size: 1.375rem;
  }
}

/* @media (min-width: 81em) {
  .grid .column>* {
    max-height: 15vw;
  }

  .grid .column:nth-child(odd)>*:nth-child(even) {
    max-height: 100%;
  }

  .grid .column:nth-child(even)>*:nth-child(odd) {
    max-height: 100%;
  }

  .grid,
  .grid .column {
    gap: 1rem;
  }
} */

@media (min-width: 106em) {
  .grid .column>* {
    max-height: 365px;
  }

  .grid .column:nth-child(odd)>*:nth-child(odd) {
    max-height: 322px;
  }

  .grid .column:nth-child(odd)>*:last-child {
    max-height: 365px;
  }

  .grid .column>*:last-child {
    max-height: 322px;
  }
}


/* contact-us-section start */
.contact-us-section {
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
}

.contact-us-section-title {
  margin-bottom: 1.625rem;
}

.contact-us-section-text {
  font-size: .875rem;
  line-height: 1.225;
  margin-bottom: 1.3em;
  margin-top: 0;
}

.contact-us-section-mail {
  display: inline-block;
  font-size: 1.15rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1.5em;
  text-decoration: none;
}

.contact-us-columns {
  display: flex;
  flex-direction: column;
}

.contact-us-section .contact-us-column:first-child {
  flex-grow: 1;
}

.contact-us-soc-links {
  display: grid;
  font-size: .875rem;
  grid-template-columns: 1fr 1fr;
  row-gap: 1.85em;
}

.contact-us-soc-links li:nth-child(2n) a {
  justify-content: flex-end;
}

.contact-us-soc-links a {
  align-items: center;
  display: flex;
  font-weight: 400;
  position: relative;
  text-decoration: none;
}

.contact-us-soc-links img {
  margin-left: 1.2em;
  transform: translateX(0);
  transition: transform .25s cubic-bezier(.175, .885, .32, 1.275);
}

.contact-us-soc-links a:hover img {
  transform: translateX(50%);
}


@media (min-width: 48em) {
  .contact-us-section {
    padding: 8.75rem 0;
  }

  .contact-us-section-mail {
    margin-bottom: 0;
  }

  .contact-us-columns {
    align-items: flex-end;
    flex-direction: row;
  }

  .contact-us-section-text {
    max-width: 435px;
  }

  .contact-us-soc-links {
    row-gap: 4em;
  }
}

@media (min-width: 62em) {
  .contact-us-section-mail {
    font-size: 2.5rem;
  }

  .contact-us-section-text {
    font-size: 1.375rem;
    max-width: 600px;
  }

  .contact-us-soc-links {
    font-size: 1.2rem;
  }
}

@media (min-width: 100em) {
  .contact-us-section-text {
    max-width: 730px;
  }

  .contact-us-soc-links {
    font-size: 1.375rem;
  }
}

/* contact-us-section end */


/* footer */
.footer {
  border-top: 1px solid var(--clr-grey);
  color: var(--clr-grey-text);
  padding: 1.5rem 0;
}

.footer-columns {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.footer-column {
  flex-grow: 1;
  text-align: center;
}

.footer-column:nth-child(1) {
  order: 2;
  text-align: left;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-column:nth-child(2) {
  order: 3;
  text-align: center;
}

.footer-column:nth-child(3) {
  order: 1;
  text-align: center;
}

.footer-column:nth-child(1)>div:nth-child(1) {
  order: 2;
  display: flex;
}

.footer-column:nth-child(1)>div:nth-child(2) {
  margin-bottom: 1.5rem;
  order: 1;
  text-align: center;
}

.footer-logo-link {
  display: block;
  font-size: 0;
  margin-bottom: 24px;
}

.footer-soc-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
  margin-bottom: 0.5rem;
}

.footer-soc-links li {
  line-height: 1.65;
  margin: .3125rem;
}

.footer-soc-links li a {
  color: var(--clr-grey-text);
  transition: color .3s ease-in;

  cursor: pointer;
  display: block;
  min-width: 25px;
  text-align: center;
}

.footer-soc-links li a:hover {
  color: var(--clr-white);
}

.footer-privacyPolicy-link {
  color: var(--clr-grey-text);
  font-size: 1rem;
  line-height: 1;
  margin-bottom: 1.5rem;
  font-weight: var(--fw-regular);
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
  text-transform: capitalize;
}

.footer-title {
  font-size: 1rem;
  line-height: 1.2;
  text-align: center;
  text-transform: capitalize;

  font-weight: var(--fw-regular);
}

.footer-sub-title {
  font-size: 1rem;
  line-height: 1.2;
  text-align: center;
  text-transform: capitalize;
  font-weight: var(--fw-light);
}

@media (min-width: 62rem) {
  .footer {
    padding: 1.875rem 0;
  }

  .footer-columns {
    flex-direction: row;
  }

  .footer-column:nth-child(1) {
    align-items: flex-start;
    order: 1;
    text-align: left;

    align-items: center;
    column-gap: 8px;
    flex-direction: row;
  }

  .footer-column:nth-child(2) {
    order: 2;
  }

  .footer-column:nth-child(3) {
    align-items: flex-end;
    order: 3;
    text-align: right;
  }

  .footer-column:nth-child(1)>div:nth-child(1) {
    order: 1;
  }

  .footer-column:nth-child(1)>div:nth-child(2) {
    margin-bottom: 0;
    order: 2;
  }

  .footer-logo-link {
    margin-bottom: 0;
  }

  .footer-soc-links {
    max-width: 105px;
  }
}

/* contact-us end */

/* controls start */
.control-container {
  display: inline-block;
  background-color: var(--clr-dark);
  position: relative;
}

.control {
  color: var(--clr-grey-text);
  font-size: 1rem;
  padding: .5em;
  background-color: var(--clr-dark);
  border: none;
  cursor: pointer;
}

.control-form {
  display: flex;
  flex-direction: column;
  font-size: .875rem;
  row-gap: 0.5em;
  padding: 0;

  cursor: initial;
}

.control-form input {
  border: 1px solid var(--clr-white);
  background-color: transparent;
  line-height: 3rem;
  padding: 0 0.5em;
}

.control-close {
  color: var(--clr-dark-red);
  display: inline-block;
  font-size: 0.75rem;
}

.control-select {
  /* appearance: none; */
  padding-right: 2em;

  /* background-image: url(/images/portfolio/open-icon.svg); */
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 90% 50%;
}

.control-select:has(option:checked:not([value])),
.control-select:has(option:checked:not([value=""])) {
  background-image: none;
}

.control-select option {
  color: var(--clr-grey-text);
  background-color: var(--clr-black);
  padding: 0;
  margin: 0;
}

.control-select+.control {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.control-select option[value=""][disabled] {
  display: none;
}

.control:hover {
  color: var(--clr-white);
}

.control:hover .control-close {
  color: var(--clr-red);
}

@media (min-width: 48em) {
  .control {
    font-size: 1.375rem;
  }

  .control-form {
    display: flex;
    flex-direction: column;
    font-size: 1.125rem;
  }
}

/* controls end */

/* iframe video start */

.video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background-color: #000000;
}

.video .video_link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}


.video .video_link::after {
  content: "";
  background-image: none;
  display: block;
  width: 0;
  height: 0;
  margin-left: 0;
}

.video_button {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  display: none;
  padding: 0;
  width: 4.25rem;
  height: 3rem;
  border: none;
  background-color: transparent;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.video_button_shape {
  fill: #212121;
  fill-opacity: 0.8;
}

.video_button_icon {
  fill: #ffffff;
}

.video_button:focus {
  outline: none;
}

.video:hover .video_button_shape,
.video_button:focus .video_button_shape {
  fill: #ff0000;
  fill-opacity: 1;
}

.video .video_media,
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* Enabled */

.video[data-media-enabled] {
  cursor: pointer;
}

.video[data-media-enabled] .video_button {
  display: block;
}

/* iframe video end */

/* tt-template start */

.tt-template-title {
  text-align: center;
  margin-bottom: 2rem;
  margin-bottom: 1.2rem;
}

.tt-template-description {
  margin-bottom: 1.4em;
  text-align: center;
}

.tt-template-form .control-form {
  background-color: transparent;
}

@media (max-width: 40em) {
  .tt-template-description {
    font-size: .875rem;
  }
}


/* tt-template end */


/* Details shortcode start */
.vp-details summary {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-top: 18px;
  padding-bottom: 18px;

  font-weight: 700;
}

.vp-details {

  border-bottom: 1px solid var(--clr-grey);
}

:not(.vp-details)+.vp-details {
  border-top: 1px solid var(--clr-grey);
}

.vp-details summary .label {
  font-size: 1.125rem;
  font-weight: 700;
  flex-grow: 1;
}

.vp-details summary::after {
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwLjUyMzIgMC41MjMxODZMMTAuNTIzMiA5LjQ3NjhMMTkuNDc2OCA5LjQ3NjhWMTAuNTIzMkwxMC41MjMyIDEwLjUyMzJMMTAuNTIzMiAxOS40NzY4TDkuNDc2ODEgMTkuNDc2OEw5LjQ3NjgxIDEwLjUyMzJMMC41MjMxOTkgMTAuNTIzMlY5LjQ3NjhMOS40NzY4MSA5LjQ3NjhMOS40NzY4MSAwLjUyMzE4NkwxMC41MjMyIDAuNTIzMTg2WiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg==") no-repeat 50% 50%/ 1em 1em;
  content: "";
  transition: transform .5s;
  width: 1.4375rem;
  height: 1.4375rem;
}

.vp-details[open]>summary::after {
  transform: rotateZ(90deg);
}

.vp-details[open]>summary {
  border-bottom: 1px solid #585858;
}

.vp-details summary .list-number {
  margin-right: .9375rem;
  font-size: 1.375rem;
  background: var(--gradient);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.vp-details .answer {
  padding: 15px 35px;
  margin-block-end: 0;
}


@media (min-width: 992px) {
  .vp-details summary {
    padding: 2.3125em 1.875em;
  }

  .vp-details summary .label {
    font-size: 32px;
  }

  .vp-details summary .list-number {
    font-size: 3.75rem;
  }

  .vp-details .answer {
    padding: 2.3125em 6.25em;
  }
}

/* Details shortcode end */

/* why start  */
.why-section {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.why-section-list {
  display: grid;
  row-gap: 1.25rem;
}

.why-section-list-item {
  margin: 0;
  display: flex;
  position: relative;
}

.why-section-list-item img {
  display: block;
  max-width: 100%;
  width: 36px;
}

.why-section-list-item p {
  font-size: .75rem;
  font-weight: var(--fw-light);
  line-height: 1.2;
  margin-inline-start: 1rem;
  margin-block-end: 0;
  width: auto;
}

.why-section-home {

  background-color: var(--clr-dark);
}


@media (min-width: 48em) {
  .why-section-list {
    column-gap: 1rem;
    row-gap: 2rem;
  }

  .why-section-list-item p {
    font-size: 1.125rem;
    margin-inline-start: 2.75rem;
    width: auto;
  }
}

@media (min-width: 62em) {
  .why-section {
    padding-top: 7.5rem;
    padding-bottom: 8rem;
  }

  .why-section-list-item {
    align-items: flex-start;
  }

  .why-section-list-item img {
    height: auto;
    width: 80px;
  }

  .why-section-list {
    grid-template-columns: 1fr 1fr;
    column-gap: 6.625rem;
    row-gap: 6.25rem;
  }
}

/* why end */

/* servies-section start */

.servies-section {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.servies-list {
  grid-gap: 1rem;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-content: stretch;
}

.servies-list-item {
  align-items: center;
  border: 1px solid var(--clr-grey);
  box-sizing: border-box;
  color: var(--clr-white);
  display: flex;
  height: 114px;
  padding: 0 2rem;
  position: relative;
  text-decoration: none;
  width: 100%;
  z-index: 1;

  background-image: url('/images/home/vp-service-1.jpg');
}

.servies-list-item::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background: linear-gradient(90.21deg, rgba(242, 57, 11, .32) .07%, rgba(24, 151, 217, .32) 99.93%);

  transition: opacity .5s ease;
  z-index: -1;
}

.servies-list-item:hover::after {
  opacity: 1;
}

.servies-list-item-image {
  height: auto;
  margin-right: 1.25rem;
  max-height: 50px;
  max-width: 50px;
  width: auto;
}

.servies-list-item-title {
  font-size: 1.125rem;
  font-weight: var(--fw-bold);
  position: relative;
}

@media (min-width: 62em) {
  .servies-section {
    padding-top: 9rem;
    padding-bottom: 13rem;
  }

  .servies-list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .servies-list-item {
    height: 224px;
    padding: 60px 30px 60px 60px;
  }

  .servies-list-item-image {
    max-height: 100px;
    max-width: 100px;
    margin-right: 2.5rem;
  }

  .servies-list-item-title {
    font-size: 2rem;
  }
}

/* services-section end */

/* big text section start */
.big-text-section {
  position: relative;
  overflow: hidden;
  padding-top: 177px;
  padding-bottom: 213px;
}

.big-text-section .box-image {
  position: absolute;
}

.big-text-section .box-image:nth-child(1) {
  top: 1rem;
  left: 0;
  translate: -30%;
}

.big-text-section .box-image:nth-child(2) {
  top: 1rem;
  right: 0.75rem;
}

.big-text-section .box-image:nth-child(3) {
  bottom: 1rem;
  left: 0.75rem;
}

.big-text-section .box-image:nth-child(4) {
  bottom: 1rem;
  right: 0;
  translate: 30%;
}

.big-text-section-title {
  font-size: 1.25rem;
  font-weight: var(--fw-bold);
}

@media (min-width: 62em) {
  .big-text-section {
    padding-top: 319px;
    padding-bottom: 177px;
  }

  .big-text-section-title {
    font-size: 3.75rem;
  }

  .big-text-section .box-image {
    position: absolute;
    height: 111px;
    width: 111px;
  }
}

/* big text section end  */

/* top-space-large start */

.top-space-large {
  margin-top: 108px;
}

@media (min-width: 992px) {
  .top-space-large {
    margin-top: 253px;
  }
}

/* top-space-large end */


/* top-space-medium start */

.top-space-medium {
  margin-top: 81px;
}

@media (min-width: 768px) {
  .top-space-medium {
    margin-top: 146px;
  }
}

@media (min-width: 992px) {
  .top-space-medium {
    margin-top: 216px;
  }
}

/* top-space-medium end */

/* top-space-small start */

.top-space-small {
  margin-top: 92px;
}

@media (min-width: 992px) {
  .top-space-small {
    margin-top: 196px;
  }
}

/* top-space-small end */

/* audio-sidebar-title start */

.audio-sidebar-title {
  color: var(--clr-white);
  margin-bottom: 20px;
  margin-top: 0;
  font-size: 32px;
  font-weight: 800;
  line-height: 39px;
}



@media (min-width: 992px) {
  .audio-sidebar-title {
    font-size: 40px;
    line-height: 1.2
  }
}

/* sidebar-title end */


/* audio-content-title start*/

.audio-content-title {
  color: var(--clr-white);
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 32px;
}

@media (min-width: 992px) {
  .audio-content-title {
    font-size: 1.7rem;
    line-height: 1.3
  }
}

@media (min-width: 1400px) {
  .audio-content-title {
    font-size: 2rem;
  }
}

/* audio-content-title end*/