@import url('./reset.css');
@import url('./typography.css');
@import url('./button.css');

:root {
  /* theme colors */
  --clr-ember: #f23b0d;
  --clr-red: #ff2d2d;
  --clr-dark-red: #933636;
  --clr-blue: #0da6f2;
  --clr-white: #ffffff;
  --clr-dark: rgb(9, 9, 9, 0.98);
  --clr-grey: #747474;
  --clr-black: #000000;
  --clr-grey-text: #C2C2C2;

  --gradient: linear-gradient(270deg, var(--clr-blue) 0%, var(--clr-ember) 100%);

  /* theme font weight */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;
  --fw-extra: 800;

  /* font sizes */
  --fz-regular: .875rem;
  --fz-large: 2rem;
  --fz-extra: 4.375rem;


  /* theme layout */
  --gutter: 1rem;
  --max-width: 90rem;

  --mobile-menu-button-top-gutter: 28px;
  --mobile-menu-button-right-gutter: 16px;

  --layer-main: 1;
  --layer-menu: 10;
  --layer-over-menu: 20;
}

/* Tabled width */
@media (width >=48em) {
  :root {
    /* font sizes */
    --fz-regular: 1.375rem;
    --fz-large: 2rem;
    --fz-extra: 4.375rem;
  }
}

body {
  background-color: var(--clr-black);
}

::selection {
  background: var(--clr-ember);
}

:focus-visible {
  outline-color: var(--clr-ember);
  outline-offset: 1px;
  outline-style: auto;
}

/* mobile main navigation */
.mobile-menu-btn {
  position: fixed;
  top: var(--mobile-menu-button-top-gutter);
  right: var(--mobile-menu-button-right-gutter);
  z-index: var(--layer-over-menu);


  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 30px;
  height: 15px;
  background: none;
  border: none;
  cursor: pointer;
}

.mobile-menu-btn-line {
  width: 100%;
  height: 2px;
  background-color: var(--clr-white);
  pointer-events: none;
  transition: width 0.13s ease-in-out, transform 0.13s ease-in-out, opacity 0.15s ease-in-out;
}

.mobile-menu-btn-line:nth-child(2) {
  width: 55%;
}

.mobile-menu-btn-line:nth-child(3) {
  width: 80%;
}

@media (pointer: fine) {

  .mobile-menu-btn:not(.open):hover .mobile-menu-btn-line:nth-child(2),
  .mobile-menu-btn:not(.open):hover .mobile-menu-btn-line:nth-child(3) {
    width: 100%;
  }
}

/* onClick button animation */
.mobile-menu-btn.open .mobile-menu-btn-line:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.mobile-menu-btn.open .mobile-menu-btn-line:nth-child(2) {
  opacity: 0;
}

.mobile-menu-btn.open .mobile-menu-btn-line:nth-child(3) {
  width: 100%;
  transform: translateY(-6px) rotate(-45deg);
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: calc(var(--mobile-menu-button-top-gutter) * 2.8);
  padding-right: var(--mobile-menu-button-right-gutter);
  padding-left:calc( var(--mobile-menu-button-right-gutter) * 2.5);
  padding-bottom: 2rem;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--clr-black);

  transform: translateY(-130%);

  z-index: var(--layer-menu);
}

.loaded .mobile-menu {
  transition: transform 0.5s;
}

.mobile-menu.open {
  transform: translateY(0%);
}

.mobile-menu-nav {
  margin-bottom: 3rem;
  overflow-x: auto;
  flex: 1;

  font-size: 1rem;
}

.mobile-menu-nav ul {
  display: flex;
  flex-direction: column;

  row-gap: 1.75em;
}

.mobile-menu-nav .mobile-menu-link {
  text-decoration: none;
  line-height: 1;
  display: inline-flex;

  position: relative;
}

.mobile-menu-nav .mobile-menu-summary {
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  column-gap: 0.5em;
}

.mobile-menu-nav details ul {
  margin-top: 1em;
  margin-left: 1em;
  font-size: 0.81818em;
  row-gap: 1.5em;
}

.mobile-menu-nav .mobile-menu-link,
.mobile-menu-nav .mobile-menu-summary {
  color: var(--clr-grey-text);
  font-weight: var(--fw-regular);
}

.mobile-menu-nav li li .mobile-menu-link {
  color: var(--clr-grey-text);
  filter: brightness(80%)
}

.mobile-menu-link-arrow {
  background-color: var(--clr-black);
  background-image: linear-gradient(270deg, var(--clr-black) 15.37%, var(--clr-black) 48.05%, var(--clr-black) 61.31%, var(--clr-black) 100.18%);
  height: 1px;

  position: absolute;
  top: 1.25em;

  opacity: 0;
  transform: scaleX(1);
  transform-origin: 100% 0;
  transition: opacity .25s ease, transform .45s ease;
  width: 100%;
}

.mobile-menu-link-arrow:before {
  background-color: var(--clr-black);
  content: "";
  height: 1px;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(25deg);
  transform-origin: 100% 0;
  width: 10px;
}

.mobile-menu-link-arrow:after {
  background-color: var(--clr-black);
  content: "";
  height: 1px;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(-25deg);
  transform-origin: 100% 0;
  width: 11px;
}

@media (hover: hover) {
  .mobile-menu-link:hover .mobile-menu-link-arrow {
    background-image: linear-gradient(270deg, var(--clr-blue) 15.37%, var(--clr-blue) 48.05%, var(--clr-ember) 61.31%, var(--clr-ember) 100.18%);
    opacity: 1;
    transform: scaleX(.55);
  }

  .mobile-menu-link:hover .mobile-menu-link-arrow:before {
    background-color: var(--clr-blue);
    opacity: 1;
  }

  .mobile-menu-link:hover .mobile-menu-link-arrow:after {
    background-color: var(--clr-blue);
    opacity: 1;
  }
}

.soc-links-list {
  display: flex;
  column-gap: 1.2em;
}

.soc-links-list a {
  color: var(--clr-grey-text);
  transition: color .25s ease;
}

.soc-links-list a:hover {
  color: var(--clr-white);
}

.langs-menu-list {
  display: flex;
  gap: 0.75em;
  margin-bottom: 1.75em;
  color: var(--clr-grey-text);
}

.langs-menu-list a {
  text-decoration: none;
  font-weight: var(--fw-regular);
  color: var(--clr-grey-text);
  transition: color .25s ease;
}

.langs-menu-list a:hover {
  color: var(--clr-white);
}

.langs-menu-list a[aria-current="page"] {
  font-weight: var(--fw-bold);
  color: var(--clr-white);
}

.langs-menu-list span:last-of-type {
  display: none;
}

.d-f {
  display: flex;
}

.f-c-h-r {
  flex-direction: column;
  align-items: end;
}

.t-a-r {
  text-align: right;
}

@media (width >=48em) {
  :root {
    --mobile-menu-button-top-gutter: 50px;
    --mobile-menu-button-right-gutter: 36px;
  }

  .mobile-menu-btn {
    width: 50px;
    height: 25px;
  }

  /* onClick button animation */
  .mobile-menu-btn.open .mobile-menu-btn-line:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
  }

  .mobile-menu-btn.open .mobile-menu-btn-line:nth-child(2) {
    opacity: 0;
  }

  .mobile-menu-btn.open .mobile-menu-btn-line:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
  }

  .mobile-menu-btn-line:nth-child(2) {
    width: 70%;
  }

  .mobile-menu-btn-line:nth-child(3) {
    width: 100%;
  }

  .mobile-menu {
    left: auto;
    bottom: auto;
    min-width: 23.3125rem;

    padding-right: calc(var(--mobile-menu-button-right-gutter) * 1.2);
    padding-left: 3.125rem;
    padding-bottom: 3.125rem;
  }

  .mobile-menu-nav {
    font-size: var(--fz-regular);
    overflow-x: initial;
  }
  
  .mobile-menu-nav ul {
    row-gap: 1.5em;
  }

  .langs-menu-list {
    font-size: var(--fz-regular);
    column-gap: 0.5em;
  }
}

.horizontal-menu {
  position: fixed;
  top: 0;
  display: grid;
  width: 100%;
}

.horizontal-menu .horizontal-menu-nav ul {
  display: flex;
  column-gap: 3.75em;
  font-size: var(--fz-regular);
}

/* container start */

.container {
  margin: auto;
}

.small-container {
  margin: auto;
}

.inline-gap {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 48rem) {
  .container {
    max-width: 46.25rem;
  }

  .small-container {
    max-width: 45rem;
  }
}

@media (min-width: 62rem) {
  .container {
    max-width: 61.25rem;
  }

  .small-container {
    max-width: 60rem;
  }
}

@media (min-width: 75rem) {
  .container {
    max-width: 72.5rem;
  }
}

@media (min-width: 100rem) {
  .container {
    max-width: 98.125rem;
  }

  .small-container {
    max-width: 73rem;
  }
}

/* container end */

.fluid-img {
  width: 100%;
  height: auto;
}

/* grid start */
.grid {
  position: relative;
  display: flex;
  gap: 0.3rem;
  width: 100%;

  max-width: 120rem;
  margin: auto;
}

.grid .column {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.3rem;
}

.grid .column>* {
  position: relative;
  overflow: hidden;
}

.grid-item {
  position: relative;
  overflow: hidden;
}

.grid-item::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.03)),
    linear-gradient(90.1deg, rgba(242, 57, 11, 0.7) 0.07%, rgba(24, 151, 217, 0.7) 99.93%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.grid-item:hover::after,
.grid-item:focus::after {
  opacity: 1;
}

.grid-item img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.grid-item .grid-item-title {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin: 0 1em 1em;
  font-size: 1rem;
  line-height: 1.4;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.grid-item:focus .grid-item-title,
.grid-item:hover .grid-item-title {
  opacity: 1;
}

.grid-item-hidden {
  display: none;
}

@media (min-width: 42em) {

  .grid,
  .grid .column {
    gap: 0.65rem;
  }

  .grid-item .grid-item-title {
    font-size: 1.375rem;
  }
}

/* @media (min-width: 81em) {
  .grid .column>* {
    max-height: 15vw;
  }

  .grid .column:nth-child(odd)>*:nth-child(even) {
    max-height: 100%;
  }

  .grid .column:nth-child(even)>*:nth-child(odd) {
    max-height: 100%;
  }

  .grid,
  .grid .column {
    gap: 1rem;
  }
} */

@media (min-width: 106em) {
  .grid .column>* {
    max-height: 365px;
  }

  .grid .column:nth-child(odd)>*:nth-child(odd) {
    max-height: 322px;
  }

  .grid .column:nth-child(odd)>*:last-child {
    max-height: 365px;
  }

  .grid .column>*:last-child {
    max-height: 322px;
  }
}


/* contact-us-section start */
.contact-us-section {
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
}

.contact-us-section-title {
  margin-bottom: 1.625rem;
}

.contact-us-section-text {
  font-size: .875rem;
  line-height: 1.225;
  margin-bottom: 1.3em;
  margin-top: 0;
}

.contact-us-section-mail {
  display: inline-block;
  font-size: 1.15rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1.5em;
  text-decoration: none;
}

.contact-us-columns {
  display: flex;
  flex-direction: column;
}

.contact-us-section .contact-us-column:first-child {
  flex-grow: 1;
}

.contact-us-soc-links {
  display: grid;
  font-size: .875rem;
  grid-template-columns: 1fr 1fr;
  row-gap: 1.85em;
}

.contact-us-soc-links li:nth-child(2n) a {
  justify-content: flex-end;
}

.contact-us-soc-links a {
  align-items: center;
  display: flex;
  font-weight: 400;
  position: relative;
  text-decoration: none;
}

.contact-us-soc-links img {
  margin-left: 1.2em;
  transform: translateX(0);
  transition: transform .25s cubic-bezier(.175, .885, .32, 1.275);
}

.contact-us-soc-links a:hover img {
  transform: translateX(50%);
}


@media (min-width: 48em) {
  .contact-us-section {
    padding: 8.75rem 0;
  }

  .contact-us-section-mail {
    margin-bottom: 0;
  }

  .contact-us-columns {
    align-items: flex-end;
    flex-direction: row;
  }

  .contact-us-section-text {
    max-width: 435px;
  }

  .contact-us-soc-links {
    row-gap: 4em;
  }
}

@media (min-width: 62em) {
  .contact-us-section-mail {
    font-size: 2.5rem;
  }

  .contact-us-section-text {
    font-size: 1.375rem;
    max-width: 600px;
  }

  .contact-us-soc-links {
    font-size: 1.2rem;
  }
}

@media (min-width: 100em) {
  .contact-us-section-text {
    max-width: 730px;
  }

  .contact-us-soc-links {
    font-size: 1.375rem;
  }
}

/* contact-us-section end */


/* footer */
.footer {
  border-top: 1px solid var(--clr-grey);
  color: var(--clr-grey-text);
  padding: 1.5rem 0;
}

.footer-columns {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.footer-column {
  flex-grow: 1;
  text-align: center;
}

.footer-column:nth-child(1) {
  order: 2;
  text-align: left;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-column:nth-child(2) {
  order: 3;
  text-align: center;
}

.footer-column:nth-child(3) {
  order: 1;
  text-align: center;
}

.footer-column:nth-child(1)>div:nth-child(1) {
  order: 2;
  display: flex;
}

.footer-column:nth-child(1)>div:nth-child(2) {
  margin-bottom: 1.5rem;
  order: 1;
  text-align: center;
}

.footer-logo-link {
  display: block;
  font-size: 0;
  margin-bottom: 24px;
}

.footer-soc-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
  margin-bottom: 0.5rem;
}

.footer-soc-links li {
  line-height: 1.65;
  margin: .3125rem;
}

.footer-soc-links li a {
  color: var(--clr-grey-text);
  transition: color .3s ease-in;

  cursor: pointer;
  display: block;
  min-width: 25px;
  text-align: center;
}

.footer-soc-links li a:hover {
  color: var(--clr-white);
}

.footer-privacyPolicy-link {
  color: var(--clr-grey-text);
  font-size: 1rem;
  line-height: 1;
  margin-bottom: 1.5rem;
  font-weight: var(--fw-regular);
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
  text-transform: capitalize;
}

.footer-title {
  font-size: 1rem;
  line-height: 1.2;
  text-align: center;
  text-transform: capitalize;

  font-weight: var(--fw-regular);
}

.footer-sub-title {
  font-size: 1rem;
  line-height: 1.2;
  text-align: center;
  text-transform: capitalize;
  font-weight: var(--fw-light);
}

@media (min-width: 62rem) {
  .footer {
    padding: 1.875rem 0;
  }

  .footer-columns {
    flex-direction: row;
  }

  .footer-column:nth-child(1) {
    align-items: flex-start;
    order: 1;
    text-align: left;

    align-items: center;
    column-gap: 8px;
    flex-direction: row;
  }

  .footer-column:nth-child(2) {
    order: 2;
  }

  .footer-column:nth-child(3) {
    align-items: flex-end;
    order: 3;
    text-align: right;
  }

  .footer-column:nth-child(1)>div:nth-child(1) {
    order: 1;
  }

  .footer-column:nth-child(1)>div:nth-child(2) {
    margin-bottom: 0;
    order: 2;
  }

  .footer-logo-link {
    margin-bottom: 0;
  }

  .footer-soc-links {
    max-width: 105px;
  }
}

/* contact-us end */

/* controls start */
.control-container {
  display: inline-block;
  background-color: var(--clr-dark);
  position: relative;
}

.control {
  color: var(--clr-grey-text);
  font-size: 1rem;
  padding: .5em;
  background-color: var(--clr-dark);
  border: none;
  cursor: pointer;
}

.control-close {
  color: var(--clr-dark-red);
  display: inline-block;
  font-size: 0.75rem;
}

.control-select {
  appearance: none;
  padding-right: 2em;
}

.control-select option {
  color: var(--clr-grey-text);
  background-color: var(--clr-black);
  padding: 0;
  margin: 0;
}

.control-select + .control {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.control-select option[value=""][disabled] {
  display: none;
}

.control:hover {
  color: var(--clr-white);
}
.control:hover .control-close {
  color: var(--clr-red);
}

@media (min-width: 48em) {
  .control {
    font-size: 1.375rem;
  }
}
/* controls end */

/* iframe video start */

.video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background-color: #000000;
}

.video .video_link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}


.video .video_link::after {
  content: "";
  background-image: none;
  display: block;
  width: 0;
  height: 0;
  margin-left: 0;
}

.video_button {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  display: none;
  padding: 0;
  width: 4.25rem;
  height: 3rem;
  border: none;
  background-color: transparent;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.video_button_shape {
  fill: #212121;
  fill-opacity: 0.8;
}

.video_button_icon {
  fill: #ffffff;
}

.video_button:focus {
  outline: none;
}

.video:hover .video_button_shape,
.video_button:focus .video_button_shape {
  fill: #ff0000;
  fill-opacity: 1;
}

.video .video_media,
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* Enabled */

.video[data-media-enabled] {
  cursor: pointer;
}

.video[data-media-enabled] .video_button {
  display: block;
}

/* iframe video end */