.values-section,
.first-section {
    position: relative;
    padding: 145px 15px;
}

.first-section h2 {
    margin-top: 27px;
    margin-bottom: 27px;
    font-size: 32px;
    line-height: 39px;
    text-transform: uppercase;
    font-weight: 700;
}

.values-container h2 {
    line-height: 27px;
    font-size: 22px;
    font-weight: 700;
}

.vp-back {
    background-color: var(--clr-dark);
}



@media (min-width: 768px) {

    .values-section,
    .first-section {
        padding: 185px 80px;
    }


}

@media (min-width:992px) {

    .values-section,
    .first-section {
        padding: 250px 15px;
    }

    .inner {
        max-width: 992px;
    }

    .first-section h2 {
        font-size: 70px;
        font-weight: 800;
        line-height: 122px
    }

    .values-container h2 {
        line-height: 85px;
        font-size: 70px;
    }


}

@media (min-width:1200px) {
    .first-section::before {
        content: url(/images/our-values/box-with-icons-min.svg);
        position: absolute;
        right: 50px;
        top: 240px;
    }

    .first-section::after {
        content: url(/images/our-values/box-with-icons-min.svg);
        position: absolute;
        right: 240px;
        bottom: 240px;
    }
}

@media (min-width:1920px) {
    .first-section h2 {
        font-size: 100px;
    }
}

/* back-letters starts here*/
.values-container {
    overflow-y: hidden;
}

.vp-back::before {
    background-image: url(/images/our-values/v-icon.svg);
    width: 104.09px;
    height: 130px;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    left: 15px;
    position: absolute;
    top: 0;
    transform: translateY(-40%);
}

.vp-back::after {
    bottom: 0;
    background-image: url(/images/our-values/p-icon.svg);
    width: 104.09px;
    height: 130px;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    position: absolute;
    right: 15px;
    transform: translateY(50%);
}

@media (min-width:992px) {
    .vp-back::before {
        width: 300px;
        height: 345px;
        left: 15px;
        top: 0;
    }

    .vp-back::after {
        width: 275px;
        height: 340px;
        bottom: 0;
        right: 15px;
    }
}

/* back-letters ends here*/