/* reset css */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    font: inherit;
    margin: 0;
    padding: 0;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

html {
    color-scheme: dark light;
    font-size: 100%;
}

body {
    min-height: 100vh;
}

ul, ol {
    list-style: none;
}