@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat/Montserrat-VF.woff2") format("woff2-variations");
    font-weight: 300 800;
}

body {
    font-family: "Montserrat", sans-serif;
    color: var(--clr-grey-text);
    line-height: 1.5;
}

body p,
.vp-details .answer {
    font-size: var(--fz-regular);
    font-weight: var(--fw-light);
    /* margin-block-end: calc(var(--gutter) * 2); */
    margin-block-start: 1em;
    margin-block-end: 1em;
}

body b {
    color: var(--clr-white);
    font-weight: var(--fw-bolder);
}

body a {
    color: var(--clr-white);
    transition: color 0.15s;
    text-decoration: none;
}

body a:not(:where( :hover, .no-line)) {
    text-decoration: underline;
}

body a[href]:not(:where([href^="#"],
        [href^="/"]:not([href^="//"]),
        [href*="//vp-production.com"],
        .no-external-icon,
    )) {
    position: relative;
    display: inline-flex;
    align-items: center;
}

/* body a[href]:not(:where([href^="#"],
        [href^="/"]:not([href^="//"]),
        [href*="//vp-production.com"],
        .no-external-icon,
    ))::after {
    color: var(--clr-white);
    display: inline-flex;
    content: "";
    background-image: url('/images/external-link.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    width: 1em;
    height: 0.85em;
    margin-left: calc(var(--gutter) * 0.25);
} */

@media (hover: hover) {

    html body a:not(.no-hover):hover,
    body .vp-hover:hover {
        background: var(--gradient);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

body strong {
    font-weight: var(--fw-bold);
}

.page-title,
.page-title-large,
h1:not([class]) {
    color: var(--clr-white);
    font-weight: var(--fw-extra);
    font-size: var(--fz-extra);
    line-height: 1.2;
    margin-block-end: 1.2em;
}

.page-title-large {
    text-transform: uppercase;
}

.section-title,
h2:not([class]) {
    font-weight: var(--fw-extra);
    color: var(--clr-white);
    font-size: var(--fz-large);
    line-height: 1.2;
    margin-block-end: 1em;
}

.sub-section-title,
h3:not([class]) {
    color: var(--clr-white);
    font-weight: var(--fw-bold);
    font-size: var(--fz-medium);
    line-height: 1.2;
    margin-block-end: 1.2em;
}



/* Tabled width */
@media (width > 48em) {
    body p {
        font-size: var(--fz-regular);
        /* margin-block-end: clamp(calc(var(--gutter) * 1.75), 4vw + 0.2rem, calc(var(--gutter) * 3)); */
    }

    .page-title-large {
        font-size: 5rem;
    }

    h2:not([class]),
    .section-title {
        margin-block-end: clamp(calc(var(--gutter) * 2), 4vw + 1.5rem, 1.25em);
    }

    h3:not([class]),
    .sub-section-title {
        margin-block-end: 1em;
    }
}

@media (width > 62rem) {
    .page-title-large {
        font-size: 6.25rem;
    }
}

/* @media (min-width: 75rem) {} */