<!-- contact-us-section starts here -->
<div class="contact-us-section inline-gap">
    <div class="small-container contact-us-columns">
        <div class="contact-us-column">
            <h2 class="section-title contact-us-section-title">Напишіть нам</h2>
            <p class="contact-us-section-text">
                Розкажіть нам про свій проєкт, продукт або ідею. Запитайте пораду або отримайте повноцінну безплатну
                консультацію. Дізнайтеся вартість, уточніть важливе питання, та що завгодно! Ми будемо раді з вами
                познайомитися
                й допомогти.
            </p>
            <a class="no-external-icon contact-us-section-mail"
                href="mailto:connect@vp-production.com">connect@vp-production.com</a>
        </div>
        <div class="contact-us-column">
            <ul class="contact-us-soc-links">
                {{ range $SocialLink := .Site.Data.SocialLinks }}
                <li>
                    <a class="no-external-icon no-hover" href="{{ $SocialLink.link }}" title="{{ $SocialLink.title }}"
                        target="_blank" rel="noopener noreferrer nofollow">
                        {{ $SocialLink.icon }}
                        <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCA0MiAzOCI+CiAgPGRlZnMvPgogIDxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0yMi42IDBMNDIgMTkgMjIuNiAzOGwtMS44LTEuOCAxNi4yLTE2SDB2LTIuNWgzN0wyMC44IDEuOCAyMi42IDB6Ii8+Cjwvc3ZnPgo="
                            width="22" height="22" alt="" role="presentation" aria-hidden="true">
                    </a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>
<!-- contact-us-section ends here -->