<!-- contact-us-section starts here -->
<div class="contact-us-section inline-gap">
    <div class="small-container">
        <h2 class="section-title contact-us-section-title">
            {{ T "contact-section-title" }}
        </h2>

        <div class="contact-us-section-details">
            <p>{{ T "contact-section-description-start" }} <a href="/">{{ T "free-consultation" }}</a>. {{ T
                "contact-section-description-end" }}</p>

            {{- with .Site.Params.email }}
            <a class="no-external-icon contact-us-section-mail" href="mailto:{{ . }}">
                {{ . }}
            </a>
            {{- end }}
        </div>

        <ul class="contact-us-section-soc-links" role="list">
            {{ range $SocialLink := .Site.Data.SocialLinks }}
            <li>
                <a class="no-external-icon no-hover" href="{{ $SocialLink.link }}" title="{{ $SocialLink.title }}"
                    target="_blank" rel="noopener noreferrer nofollow">
                    {{ $SocialLink.icon }}
                    <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCA0MiAzOCI+CiAgPGRlZnMvPgogIDxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0yMi42IDBMNDIgMTkgMjIuNiAzOGwtMS44LTEuOCAxNi4yLTE2SDB2LTIuNWgzN0wyMC44IDEuOCAyMi42IDB6Ii8+Cjwvc3ZnPgo="
                        width="22" height="22" alt="" aria-hidden="true">
                </a>
            </li>
            {{ end }}
        </ul>

    </div>
</div>
<!-- contact-us-section ends here -->