<footer class="footer">
    <div class="container inline-gap">
        <div class="footer-group">
            <ul class="footer-soc-links" role="list">
                {{- range .Site.Data.SocialLinks }}
                <li>
                    <a class="footer-soc-link no-external-icon no-hover" target="_blank"
                        rel="noopener noreferrer nofollow" href="{{ .link }}" title="{{ .title }}">
                        {{ $path := printf "icons/%s-icon.html" .icon }}
                        {{- partial $path . -}}
                    </a>
                </li>
                {{- end }}
            </ul>

            <a rel="privacy-policy" class="footer-privacyPolicy-link" href={{ relLangURL "privacy-policy" }}>
                Privacy Policy
            </a>
        </div>

        <div class="footer-group">
            <a class="footer-logo-link" href={{ relLangURL "/" }}>
                <img src="/images/monochrom-logo.svg" class="footer-logo" alt="Студія звукового дизайну VP Production"
                    loading="lazy" width="47" height="43">
            </a>
        </div>

        <div class="footer-group">
            <div class="footer-title">Change The Record</div>
            <div class="footer-sub-title">
                all rights reserved © VP Production.
                <span data-current-year>2000</span>
            </div>
        </div>
    </div>
</footer>