<div id="horizontal-nav" class="horizontal-menu" aria-label="Меню навігації по сайту">
  <a href={{ relLangURL "/" }} aria-label="Головна сторінка">
    <img src="/images/header-logo.svg" alt="">
  </a>
  <nav class="horizontal-menu-nav" aria-label="Список сторінок">
    <ul>
      <li><a class="horizontal-menu-link" href={{ relLangURL "/portfolio" }}>{{ T "portfolio" }}</a></li>
      <li>
        <div class="dropdown">
          <button class="horizontal-menu-link vp-hover dropdown-button">{{ T "services" }} {{- partial
            "icons/arrow-down.html" .
            -}}</button>
          <ul class="dropdown-options">
            <li><a class="horizontal-menu-link" href={{ relLangURL "/services/music-composing" }}>{{ T "music-composing"
                }}</a>
            </li>
            <li><a class="horizontal-menu-link" href={{ relLangURL "/services/audio-branding" }}>{{ T "audio-branding"
                }}</a>
            </li>
            <li><a class="horizontal-menu-link" href={{ relLangURL "/services/sound-design" }}>{{ T "sound-design"
                }}</a></li>
            <li><a class="horizontal-menu-link" href={{ relLangURL "/services/voice-casting" }}>{{ T "voice-casting"
                }}</a></li>
          </ul>
        </div>
      </li>
      <li><a class="horizontal-menu-link" href={{ relLangURL "/faq" }}>FAQ</a></li>
      <li><a class="horizontal-menu-link" href={{ relLangURL "/about" }}>{{ T "about" }}</a></li>
      <li><a class="horizontal-menu-link" href={{ relLangURL "/our-values" }}>{{ T "our-values" }}</a></li>
      <li><a class="horizontal-menu-link" href={{ relLangURL "/reviews" }}>{{ T "reviews" }}</a></li>
    </ul>
  </nav>
  {{- partial "langs-select.html" . -}}
</div>