<div id="horizontal-nav" class="horizontal-menu" aria-label="Меню навігації по сайту">
  <a href="/" aria-label="Головна сторінка">
    <img src="/images/header-logo.svg" alt="">
  </a>
  <nav class="horizontal-menu-nav" aria-label="Список сторінок">
    <ul>
      <li><a class="horizontal-menu-link" href="/portfolio">Портфоліо</a></li>
      <li>
        <div class="dropdown">
          <button class="horizontal-menu-link vp-hover dropdown-button">Послуги {{- partial "icons/arrow-down.html" .
            -}}</button>
          <ul class="dropdown-options">
            <li><a class="horizontal-menu-link" href="#">Створення музики</a></li>
            <li><a class="horizontal-menu-link" href="/audio-branding">Аудіобрендинг</a></li>
            <li><a class="horizontal-menu-link" href="#">Звуковий дизайн</a></li>
            <li><a class="horizontal-menu-link" href="#">Голосове озвучення</a></li>
            <li><a class="horizontal-menu-link" href="/audio-reviews-and-consultations">Аудіо-рев’ю та консультації</a>
            </li>
          </ul>
        </div>
      </li>
      <li><a class="horizontal-menu-link" href="/faq">FAQ</a></li>
      <li><a class="horizontal-menu-link" href="/about">Про нас</a></li>
      <li><a class="horizontal-menu-link" href="/our-values">Наші цінності</a></li>
      <li><a class="horizontal-menu-link" href="#">Відгуки</a></li>
    </ul>
  </nav>
  {{- partial "langs-select.html" . -}}
</div>