{{ $siteLanguages := site.Languages }}
{{ $pageLang := .Page.Lang }}


<div class="lang-select dropdown">
    <button class="lang-select-button dropdown-button" type="button">/<span>{{ $pageLang }}</span>/</button>
    <ul class="dropdown-options">
        {{- range .Page.Translations }}
        <li>
            <a aria-label="{{ .Language.LanguageName }} мова" title="{{ .Language.LanguageName }} мова"
                href="{{ .Permalink | relURL }}" lang="{{ .Language.Params.LanguageCode }}"
                hreflang="{{ .Language.Params.LanguageCode }}">
                {{ .Language.Params.LanguageCode }}
            </a>
        </li>
        {{- end }}
    </ul>
</div>