{{ $siteLanguages := site.Languages}}
{{ $pageLang := .Page.Lang}}

<nav class="langs-menu-list" aria-label="Список мов">
    {{- range .Page.AllTranslations }}
    <a {{ if eq $pageLang .Lang }}aria-current="page" {{ end }}
        aria-label="{{ .Language.LanguageName }} мова {{ if eq $pageLang .Lang }}(вибрано){{ end }}"
        title="{{ .Language.LanguageName }} мова" href="{{ .Permalink | relURL }}"
        lang="{{ .Language.Params.LanguageCode }}" hreflang="{{ .Language.Params.LanguageCode }}">
        {{ .Language.Params.LanguageCode }}
    </a>
    <span role="presentation" aria-hidden="true">/</span>
    {{- end }}
</nav>