{{- $page := . -}}
<div id="mobile-nav" class="mobile-menu">
  <a href={{ relLangURL "/" }} class="mobile-menu-logo">
    <img src="/images/header-logo.svg" alt="{{ .Title }}" width="33" height="33">
  </a>

  <button type="button" id="mobile-menu-button" class="mobile-menu-button" aria-expanded="false" aria-haspopup="dialog"
    aria-controls="mobile-menu-dialog">
    <span class="mobile-menu-button-line" aria-hidden="true"></span>
    <span class="mobile-menu-button-line" aria-hidden="true"></span>
    <span class="mobile-menu-button-line" aria-hidden="true"></span>
  </button>


  <div id="mobile-menu-dialog" role="dialog" aria-modal="true" class="mobile-menu-dialog" data-modal-till="768px" inert>

    {{- with index .Site.Menus "main" }}
    <nav class="mobile-menu-nav">
      <ul role="list">
        {{- partial "inline/mobile-menu/walk.html" (dict "page" $page "menuEntries" .) }}
      </ul>
    </nav>
    {{- end }}

    {{- partial "langs-list-h.html" . -}}
    <ul class="soc-links-list" role="list">
      {{ range .Site.Data.SocialLinks }}
      <li>
        <a class="no-external-icon no-hover" href="{{ .link }}" title="{{ .title }}" target="_blank"
          rel="noopener noreferrer nofollow">
          {{ $path := printf "icons/%s-icon.html" .icon }}
          {{- partial $path . -}}
        </a>
      </li>
      {{- end }}
    </ul>
  </div>
</div>

{{- define "partials/inline/mobile-menu/walk.html" }}
{{- $page := .page }}
{{- range .menuEntries }}
{{- $attrs := dict "href" .URL }}
{{- if $page.IsMenuCurrent .Menu . }}
{{- $attrs = merge $attrs (dict "aria-current" "page") }}
{{- else if $page.HasMenuCurrent .Menu .}}
{{- $attrs = merge $attrs (dict "aria-current" "true") }}
{{- end }}
{{- if .Params -}}
{{- $attrs = merge $attrs .Params }}
{{- end }}
{{- $name := .Name }}
{{- with .Identifier }}
{{- with T . }}
{{- $name = . }}
{{- end }}
{{- end }}
{{- with .Children }}
<li>
  <details>
    <summary class="mobile-menu-summary">{{ $name }} {{- partial "icons/arrow-down.html" . -}}</summary>
    <ul role="list">
      {{- partial "inline/mobile-menu/walk.html" (dict "page" $page "menuEntries" .) }}
    </ul>
  </details>
</li>
{{- else }}
<li>
  <a {{- range $k, $v :=$attrs }} {{- with $v }} {{- printf " %s=%q" $k $v | safeHTMLAttr }} {{- end }} {{- end -}}
    class="mobile-menu-link no-hover">
    {{ $name }}
    <span class="mobile-menu-link-arrow" aria-hidden="true"></span>
  </a>
</li>
{{- end }}
{{- end }}
{{- end }}