<div class="modal-back" data-modal="tt-template">
  <div class="modal" role="dialog">
    <button class="modal-close" type="button">{{- partial "icons/close-icon.html" -}}</button>

    <div class="modal-content">
      <h3 class="tt-template-title section-title">Темплейт технічного завдання</h3>
      <p class="tt-template-description">Ми впевнені, що правильно складене ТЗ підвищує шанси на успіх проєкту. Тому з радістю ділимося тим, що працює для нас!</p>

      <form class="tt-template-form">
        <label class="control control-form">
          Ім'я
          <input type="text" name="name">
        </label>
        <label class="control control-form">
          Пошта
          <input type="email" name="email">
        </label>
  
        <p>Відправляючи цю форму, ви погоджуєтеся з нашою політикою конфіденційності.</p>
  
        <button type="submit">Відправити</button>
      </form>
    </div>
  </div>
</div>