<li class="review-content {{ .className }}">
    <div class="person">
        <a href="{{ .context.Params.link }}" class="no-external-icon no-line no-hover">
            <img src="{{ .context.Params.image }}" alt="{{ .context.Title }}" loading="lazy">
            <h3>{{ .context.Title }}, {{ .context.Params.position }}</h3>
        </a>
        <h4>{{ .context.Params.company }}</h4>
    </div>
    <blockquote class="review-text">
        {{- if or (in (string .context.RawContent) "\n\n") (in (string .context.RawContent) "\r\n\r\n") }}
        {{ .context.Summary }}
        {{- else }}
        <p>{{ .context.Summary }}</p>
        {{- end }}
        {{- if .context.Truncated }}
        {{- $modalID := replace .context.Title " " "_" | lower -}}
        <button class="review-text-more vp-hover" data-modal-id="{{ $modalID }}">
            Більше
        </button>

        <div class="review-modal hidden" data-modal="{{ $modalID }}">
            <div class="review-modal-content">
                <button data-modal-close="{{ $modalID }}" class="review-modal-btn" type="button">
                    {{- partial "icons/close-icon.html" -}}
                </button>

                <div class="review-modal-text">
                    {{ .context.Content }}
                    <h3>{{ .context.Title }}, {{ .context.Params.position }}</h3>
                    <h4>{{ .context.Params.company }}</h4>
                </div>
            </div>
        </div>
        {{- end }}
    </blockquote>
</li>