<!--  servies section starts here  -->
<div class="servies-section inline-gap">
    <div class="container">
        <h2 class="servies-section-title section-title">Наші послуги</h2>
    </div>
    <div class="small-container">
        <ul class="servies-list">
            <li>
                <a class="servies-list-item no-hover" href={{ relLangURL "/music-composing" }}>
                    <img src="/images/home/piano-icon.svg" alt="" class="servies-list-item-image">
                    <h3 class="servies-list-item-title">Створення музики</h3>
                </a>
            </li>
            <li>
                <a class="servies-list-item no-hover" href={{ relLangURL "/audio-branding" }}>
                    <img src="/images/home/pulse-icon.svg" alt="" class="servies-list-item-image">
                    <h3 class="servies-list-item-title">Аудіобрендинг</h3>
                </a>
            </li>
            <li>
                <a class="servies-list-item no-hover" href={{ relLangURL "/sound-design" }}>
                    <img src="/images/home/note-icon.svg" alt="" class="servies-list-item-image">
                    <h3 class="servies-list-item-title">Звуковий дизайн</h3>
                </a>
            </li>
            <li>
                <a class="servies-list-item no-hover" href={{ relLangURL "/voice-casting" }}>
                    <img src="/images/home/mic-icon.svg" alt="" class="servies-list-item-image">
                    <h3 class="servies-list-item-title">Голосове озвучення</h3>
                </a>
            </li>
        </ul>
    </div>
</div>
<!--  servies section ends here  -->