<!--  servies section starts here  -->
<div class="servies-section inline-gap">
    <div class="container">
        <h2 class="servies-section-title section-title">{{ T "general/services/title" }}</h2>
    </div>
    <div class="small-container">
        <ul class="servies-list">
            <li>
                {{- $musicComposing := relLangURL "/services/music-composing" -}}
                <a class="servies-list-item music-composing-bg no-hover" href="{{ $musicComposing }}">
                    <img src="/images/home/piano-icon.svg" alt="" class="servies-list-item-image">
                    <h3 class="servies-list-item-title">{{ T "general/services/music-composing/title" }}</h3>
                </a>
            </li>
            <li>
                {{- $audioBranding := relLangURL "/services/audio-branding" -}}
                <a class="servies-list-item audio-branding-bg no-hover" href="{{ $audioBranding }}">
                    <img src="/images/home/pulse-icon.svg" alt="" class="servies-list-item-image">
                    <h3 class="servies-list-item-title">{{ T "general/services/audio-branding/title" }}</h3>
                </a>
            </li>
            <li>
                {{- $soundDesign := relLangURL "/services/sound-design" -}}
                <a class="servies-list-item sound-design-bg no-hover" href="{{ $soundDesign }}">
                    <img src="/images/home/note-icon.svg" alt="" class="servies-list-item-image">
                    <h3 class="servies-list-item-title">{{ T "general/services/sound-design/title" }}</h3>
                </a>
            </li>
            <li>
                {{- $voiceCasting := relLangURL "/services/voice-casting" -}}
                <a class="servies-list-item voice-casting-bg no-hover" href="{{ $voiceCasting }}">
                    <img src="/images/home/mic-icon.svg" alt="" class="servies-list-item-image">
                    <h3 class="servies-list-item-title">{{ T "general/services/voice-casting/title" }}</h3>
                </a>
            </li>
        </ul>
    </div>
</div>
<!--  servies section ends here  -->