<!--  support section starts here  -->
<div class="ukraine-support-panel">
    <div class="support-flag">
        <img src="/images/home/flag.svg" alt="Ukraine" width="95px" height="56px">
    </div>
    <div class="support-text">help Ukraine withstand russian aggression</div>
    <a class="no-line no-external-icon no-hover support-link" target="_blank" rel="nofollow noindex external"
        href="https://supportukrainenow.org/">
        help
    </a>
</div>
<!--  support section ends here  -->