<!--  why section starts here  -->
<div class="why-section inline-gap">
    <div class="container">
        <h2 class="section-title">{{.h2Text}}</h2>
    </div>
    <div class="small-container">
        <ul class="why-section-list">
            <li>
                <div class="why-section-list-item">
                    <img src="/images/home/time-icon.svg" alt="Дедлайни — наше все." />
                    <p>
                        <strong>Дедлайни — наше все.</strong> За 6 років ми зірвали 0 дедлайнів.
                    </p>
                </div>
            </li>
            <li>
                <div class="why-section-list-item">
                    <img src="/images/home/audio-icon.svg" alt="" />
                    <p>
                        <strong>Аудиторія + наше аудіо = ❤️.</strong> Наші роботи вже чули мільйони людей і
                        багацько залишилися
                        настільки
                        небайдужими, що написали про нас таке.
                    </p>
                </div>
            </li>
            <li>
                <div class="why-section-list-item">
                    <img src="/images/home/document-icon.svg" alt="Зрозумілий процес роботи." />
                    <p>
                        <strong>Зрозумілий процес роботи.</strong> Ми стежимо, щоби на кожному етапі у вас
                        було чітке розуміння
                        того, що
                        відбувається, і повний контроль над ним. У цьому нам допомагають вивірені пайплайни,
                        аудіальні мудборди й
                        наша методика фідбеку.
                    </p>
                </div>
            </li>
            <li>
                <div class="why-section-list-item">
                    <img src="/images/home/idea-icon.svg" alt="" />
                    <p>
                        <strong>Створюємо актив бренду.</strong> Ми детально вивчаємо ваш продукт,
                        аналізуємо ринок і цільову
                        аудиторію, щоби розробити загальну концепцію і створити працюючий аудіоконтент.
                    </p>
                </div>
            </li>
            <li>
                <div class="why-section-list-item">
                    <img src="/images/home/dialog-icon.svg" alt="Ми спілкуємося простою мовою." />
                    <p>
                        <strong>Ми спілкуємося простою мовою.</strong> Вам не потрібно використовувати аудіо
                        термінологію, щоби ми
                        зрозуміли, що потрібно вашому проєкту.
                    </p>
                </div>
            </li>
            <li>
                <div class="why-section-list-item">
                    <img src="/images/home/lamp-icon.svg" alt="" />
                    <p>
                        <strong>Ми — відкриті</strong> і з радістю ділимося корисними для вашого продукту
                        знаннями на <a class="no-external-icon" rel="nofollow noopener noreferrer" target="_blank"
                            href="mailto:admin@mail.com">безплатній
                            консультації</a> та у <a href="#tt-template">перевіреному роками темплейті
                            ТЗ</a>.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--  why section ends here  -->