{{ define "sidebar" }}

{{- partial "service-sidebar.html" (dict
"title" .Title
"quote" `У сучасному світі бренди повинні ставитися до звуку з тією ж
ретельністю й дисципліною, що й до графічних стандартів та візуальної побудови бренду. Якщо ви
застрягли у світі виключно візуального брендингу, то змагаєтеся ви з однією зав’язаною за спиною рукою.`
"author" "Лоуренс Мінскі, Коллін Фейхі"
"className" "sidebar-audio-branding"
) -}}
{{ end }}

{{ define "heading" }}
<h3 class="audio-content-title">Що буде, якщо поєднати аудіо та брендинг? (Так, ви вгадали).</h3>
<p>
    Аудіобрендинг –– це процес створення й управління системою музики і звуків, яка транслює сенс бренду в кожній його
    точці контакту з аудиторією.
</p>
<p>
    Це така ж важлива частина брендингу, як і створення візуальної айдентики. Тільки тут головні інструменти — музика,
    звуки й голос.
</p>
<p>
    Навіть коли ви не думаєте про це, ваш бренд уже спілкується з аудиторією через аудіо. Питання в тому, наскільки
    ефективно ви ним керуєте.
</p>
<p>
    Зрештою, ви дотримуєтеся власних шрифтів і кольорів, то чому б не зробити те саме зі звуком? Адже саме завдяки
    звуковій айдентиці людина миттєво впізнає ваш бренд, навіть якщо вона його ще не побачила.
</p>
{{ end }}

{{ define "main" }}
<div class="service-section inline-gap">
    <div class="container">
        <h2 class="what-we-do-title section-title">Що ми робимо?</h2>
    </div>

    <div class="small-container">
        <p>Ми створюємо:</p>
        <ul class="what-we-do-list">
            <li class="what-we-do-item">
                <img src="/images/services/strategy-icon.svg" alt="">
                <h4>Аудіо стратегії брендів</h4>
            </li>
            <li class="what-we-do-item">
                <img src="/images/services/jingles-icon.svg" alt="">
                <h4>Аудіо логотипи та джингли</h4>
            </li>
            <li class="what-we-do-item">
                <img src="/images/services/advertising-icon.svg" alt="">
                <h4>Аудіорекламу та бренд-музику</h4>
            </li>
            <li class="what-we-do-item">
                <img src="/images/services/app-icon.svg" alt="">
                <h4>Звукову айдентику для застосунків</h4>
            </li>
            <li class="what-we-do-item">
                <img src="/images/services/speaker-icon.svg" alt="">
                <h4>Інші аудіальні точки контакту з клієнтом</h4>
            </li>
        </ul>
        <p>
            Кожен аудіо бренд — унікальний, як і сам бренд. У кожного бізнесу — свої потреби й немає універсальної
            формули
            та складу аудіо бренда. Тому для кожного проєкту ми створюємо персональну стратегію та набір елементів
            залежно
            від завдань, які необхідно виконати.
        </p>
    </div>
</div>

<div class="service-section inline-gap">
    {{- partial "service-works.html" . -}}
</div>

<div class="service-section inline-gap">
    <div class="container">
        <h2>Як проходить процес?</h2>
    </div>

    <div class="small-container">
        <p>
            За останні кілька років ми розробили зрозумілу й ефективну схему співпраці, завдяки якій креативний процес
            іде
            швидко, цікаво, а головне — передбачувано. Усе задля того, щоби ми з вами мали змогу спільно створити те, що
            сподобається та запам’ятається вашій аудиторії.
        </p>
        {{ .Content }}
    </div>
</div>

<div class="our-prices service-section inline-gap">
    <div class="container">
        <h2>Вартість</h2>
    </div>

    <div class="small-container">

        <h3>Базовий аудіо бренд | $8500 | 3,5 місяці</h3>
        <div>
            <ul>
                <li>глибинний брифінг;</li>
                <li>аналіз ніші, конкурентів і цільової аудиторії;</li>
                <li>складання технічного завдання;</li>
                <li>розроблення аудіальної концепції;</li>
                <li>створення і тестування аудіо-ДНК;</li>
                <li>розроблення аудіо логотипу;</li>
                <li>розроблення бренд-треку (у вигляді «конструктора»);</li>
                <li>складання аудіо стайлгайда.</li>
            </ul>
        </div>
        <h3>Аудіологотип | $5300 | 2 місяці</h3>
        <div>
            <ul>
                <li>глибинний брифінг;</li>
                <li>аналіз ніші, конкурентів і цільової аудиторії;</li>
                <li>розроблення аудіальної концепції;</li>
                <li>створення аудіо-ДНК;</li>
                <li>тестування аудіо-ДНК;</li>
                <li>розроблення аудіо логотипу;</li>
                <li>складання аудіо стайлгайда.</li>
            </ul>
        </div>
        <h3>Звукова айдентика застосунку | $2400 + $220/звук | 2 місяці</h3>
        <div>
            <ul>
                <li>глибинний брифінг;</li>
                <li>аналіз ніші, конкурентів і цільової аудиторії;</li>
                <li>складання технічного завдання;</li>
                <li>розроблення аудіальної концепції;</li>
                <li>створення і тестування аудіо-ДНК;</li>
                <li>розроблення звуків застосунку;</li>
                <li>складання аудіо стайлгайда.</li>
            </ul>
        </div>
        <h3>UX звуковий дизайн прототипу застосунку | $250/звук | 1 місяць</h3>
        <div>
            <ul>
                <li>глибинний брифінг;</li>
                <li>аналіз ніші, конкурентів і цільової аудиторії;</li>
                <li>складання технічного завдання;</li>
                <li>розроблення аудіальної концепції;</li>
                <li>розроблення звуків застосунку.</li>
            </ul>
        </div>
        <h3>Аудіореклама (до 1 хв.) | $1300 | 2 тижні</h3>
        <div>
            <ul>
                <li>створення музики та звуків;</li>
                <li>голосове озвучення (дикторська начитка) – 1 диктор(ка) + кастинг, безплатні демо;</li>
                <li>міксинг, мастеринг.</li>
            </ul>
        </div>
        <h3>Озвучення відеореклами (до 2 хв.) | $3000 | 2 тижні</h3>
        <div>
            <ul>
                <li>глибинний брифінг;</li>
                <li>розроблення аудіальної концепції;</li>
                <li>створення музики та звуків;</li>
                <li>голосове озвучення (дикторська начитка) – 1 диктор(ка) + кастинг, безплатні демо;</li>
                <li>міксинг, мастеринг.</li>
            </ul>
        </div>
        <h3>YouTube / Подкаст проєкти | $4000 | 2 місяці</h3>
        <div>
            <ul>
                <li>основний трек (два демо);</li>
                <li>аудіологотип;</li>
                <li>базова брендована бібліотека музики — адаптації основного треку;</li>
                <li>базові аудіальні елементи: інтро, аутро, перебивка.</li>
            </ul>
            <p>
                Як ми вже згадували, не існує універсального набору елементів аудіо бренда. Тому існує висока
                вірогідність,
                що пакети вище не повністю відповідають вашим нинішнім потребам, і це нормально.
            </p>
            <p>
                <a href="mailto:connect@vp-production.com">Напишіть нам</a> і ми разом визначимося з вашою ідеальною
                формулою майбутнього аудіо бренда та допоможемо з прорахунком проєкту. 🙌
            </p>
        </div>
    </div>
</div>
{{ end }}