<!DOCTYPE html>
<html lang="{{ .Site.Language }}">

<head>
  {{- partial "head.html" . -}}

  {{ with resources.Get "css/swiper-bundle.min.css" }}
  <link rel="stylesheet" href="{{ .RelPermalink }}" />
  {{ end }}

  {{- partial "css-bundle.html" . -}}

  {{ with resources.Get "css/services.css" }}
  {{- partial "css.html" . -}}
  {{ end }}

  {{ with resources.Get "js/swiper-bundle.min.js" }}
  <script src="{{ .RelPermalink }}"></script>
  {{ end }}

  {{ with resources.Get "js/main.js" }}
  {{- partial "js.html" . -}}
  {{ end }}

  {{ with resources.Get "js/service.js" }}
  {{- partial "js.html" . -}}
  {{ end }}

  {{ with resources.Get "js/details.js" }}
  {{- partial "js.html" . -}}
  {{ end }}

  {{ with resources.Get "js/slider.js" }}
  {{- partial "js.html" . -}}
  {{ end }}
</head>

<body>
  {{- partial "mobile-nav.html" . -}}

  <div class="service-page">
    {{- block "sidebar" . }}{{ end -}}

    <div class="first-section inline-gap">
      <div class="small-container">
        <img class="box-image box-top-left" src="/images/services/box-with-dots.svg" alt="" aria-hidden="true">
        <img class="box-image box-top-right" src="/images/services/box-with-dots.svg" alt="" aria-hidden="true">
        <img class="box-image box-bottom-left" src="/images/services/box-with-dots.svg" alt="" aria-hidden="true">
        <img class="box-image box-bottom-right" src="/images/services/box-with-dots.svg" alt="" aria-hidden="true">

        {{- block "heading" . }}{{ end -}}
      </div>
    </div>

    {{- block "main" . }}{{ end -}}


    {{- $serviceName := slice .File.ContentBaseName -}}

    {{- $reviews := where .Site.RegularPages ".Type" "review" -}}
    {{- $serviceReviews := where $reviews "Params.services" "intersect" $serviceName -}}

    {{- with $serviceReviews }}
    <div class="service-section inline-gap">
      <div class="container">
        <h2>Відгуки клієнтів</h2>
      </div>

      <div class="small-container">
        <div class="slider">
          <ul class="swiper-wrapper">
            {{ range first 10 . }}
            <li class="swiper-slide">{{- partial "review.html" . -}}</li>
            {{ end }}
          </ul>
          {{- partial "arrow-button.html" . -}}
        </div>
      </div>
    </div>
    {{- end }}


    {{- partial "contact-us-email.html" . -}}

    {{- partial "footer.html" . -}}
  </div>

  <div data-modal-root=""></div>
</body>

</html>