{{ define "sidebar" }}
{{- partial "service-sidebar.html" (
dict "title" .Title "quote" "Музика – посередник між духовним і чуттєвим життямлюдини." "author" "Людвіг ван Бетховен"
) -}}
{{ end }}

{{ define "heading" }}
<h3 class="audio-content-title">Музична мова не має кордонів, і саме це робить її настільки потужною.
</h3>
<p>Ми фізично не взмозі ігнорувати музику, а закладені в неї сенси опиняються одразу в нашій
    підсвідомості, впливаючи на наш стан та емоції, формуючи асоціації та спогади.</p>
<p>Правильно створена музика — дещо значно більше, ніж доповнення атмосфери вашого продукту, це — дієвий
    інструмент, що підігріватиме інтерес аудиторії та підвищуватиме залучення і продажі.
</p>
<p>Саме тому ми віримо, що музику для будь-яких комерційних проєктів варто створювати з урахуванням усіх
    маркетингових аспектів продукту, а не спираючись лише на творчу інтуіцію.
</p>
{{ end }}

{{ define "main" }}
<div class="service-section">
    <h2>Що ми робимо?</h2>
    <p>Ми пишемо саундтреки і створюємо музику для: </p>
    <ul class="what-we-do-list">
        <li class="what-we-do-container">
            <img src="/images/services/games-icon.svg" alt="">
            <h4>Ігор</h4>
        </li>
        <li class="what-we-do-container">
            <img src="/images/services/trailers-icon.svg" alt="">
            <h4>Трейлерів</h4>
        </li>
        <li class="what-we-do-container">
            <img src="/images/services/advertising-icon.svg" alt="">
            <h4>Брендів і реклами</h4>
        </li>
        <li class="what-we-do-container">
            <img src="/images/services/app-icon.svg" alt="">
            <h4>Застосунків</h4>
        </li>
        <li class="what-we-do-container">
            <img src="/images/services/experiences-icon.svg" alt="">
            <h4>Імерсивних досвідів</h4>
        </li>
    </ul>
    <p>Також за потреби ми створюємо музику для motion-графіки, проте здебільшого вона працює в зв’язці з
        продуманим звуковим дизайном, докладніше про неї ви можете прочитати <a href="/">ось тут.</a></p>
    <p>І ні, ми не пишемо «мінусовки» та пісні для корпоративів. А ось бренд-треки — це ми залюбки, тож
        радимо вам дізнатися більше про <a href="/audio-branding">аудіобрендинг.</a></p>
</div>

<div class="service-section">
    <h2>Кращі саундтреки</h2>
    <div class="video video-enabled" data-media-id="videoseries?list=PLeloqO_zTPsvZSj1KQa_NpY_GEFspnCSa&si">
        <a class="video_link" href="https://youtu.be/videoseries?list=PLeloqO_zTPsvZSj1KQa_NpY_GEFspnCSa&si"
            target="_blank" rel="noopener" data-media-link="">
            <picture>
                <source srcset="https://i.ytimg.com/vi_webp/adjyRud79uY/maxresdefault.webp" type="image/webp">
                <img class="video_media" src="https://i.ytimg.com/vi_webp/adjyRud79uY/maxresdefault.jpg" alt="">
            </picture>
        </a>
        <button class="video_button" aria-label="Увімкнути відео" data-media-button="">
            <svg width="68" height="48" viewBox="0 0 68 48">
                <path class="video_button_shape"
                    d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z">
                </path>
                <path class="video_button_icon" d="M 45,24 27,14 27,34"></path>
            </svg>
        </button>
    </div>
</div>

<div class="service-section">
    <h2>Як проходить процес?</h2>
    <p>За останні кілька років ми розробили зрозумілу й ефективну схему співпраці, завдяки якій креативний
        процес іде швидко, цікаво, а головне — передбачувано. Усе задля того, щоби ми з вами мали змогу
        спільно створити те, що сподобається та запам’ятається вашій аудиторії.</p>
    <p>Нижче ми розкажемо про пайплайн, характерний для роботи над ігровими саундтреками. І хоча він дуже
        схожий на схему створення аудіо брендів та ми все ж радимо вам перейти на <a href="/audio-branding">відповідну
            сторінку</a>, якщо
        вам цікава саме брендована музика.
    </p>
    {{ .Content }}
</div>

<div class="our-prices service-section">
    <h2>Вартість</h2>
    <h3>Створення музики | $800/хв.</h3>
    <p>Мінімальне замовлення — одна хвилина. Це означає, що, якщо вам потрібен трек на 30, 45 або 52
        секунди, його вартість у будь-якому випадку дорівнюватиме вартості однієї хвилини.</p>
    <p>Ми багато експериментували з форматами цін на музику, спостерігали за відгуками наших партнерів і
        клієнтів, і згодом прийшли до пакетів, які поєднують створення музики та <a href="/sound-design">звукового
            дизайну</a>:
    </p>
    <h3>Озвучення трейлера до інді-гри | $900 | 2 тижні</h3>
    <ul class="our-prices-list">
        <li>створення музики та звукових ефектів;</li>
        <li><a href="/voice-casting">голосове озвучення</a> обговорюється окремо.</li>
    </ul>
    <h3>Озвучення ігрового трейлера | $2000 | 2 тижні</h3>
    <ul class="our-prices-list">
        <li>створення музики та звукових ефектів;</li>
        <li><a href="/voice-casting">голосове озвучення</a> обговорюється окремо.</li>
    </ul>
    <h3>Аудіо для midsize інді гри | $7500 | 3 місяці
    </h3>
    <ul class="our-prices-list">
        <li>3 трека + stems (окремі частини або шари музичного треку);</li>
        <li>50 звукових ефектів;</li>
        <li>6 стингерів (коротких музичних фраз);</li>
        <li>3 ембієнтів (комплексних звуків оточення);</li>
        <li>детальний брифінг;</li>
        <li>аналіз ніші, конкурентів та цільової аудиторії;</li>
        <li>створення технічного завдання;</li>
        <li>розробка аудіальної концепції;</li>
        <li>розробка головної теми (аудіо-ДНК) + тестування, якщо можливо;</li>
        <li>п'ять раундів безкоштовних правок для кожного аудіоасету;</li>
        <li>права інтелектуальної власності з обмеженнями на перепродаж та додаткову монетизацію;</li>
        <li>допомога з імплементацією;</li>
        <li>дистрибуція музики на стрімінгових платформах.</li>
    </ul>
    <h3>Аудіо для прототипу гри | $2200 | 1 місяць</h3>
    <ul class="our-prices-list">
        <li>1 трек + stems (окремі частини або шари музичного треку);</li>
        <li>10 звукових ефектів;</li>
        <li>2 стингери (короткі музичні фрази);</li>
        <li>1 ембієнт (комплексний звук оточення);</li>
        <li>детальний брифінг;</li>
        <li>створення технічного завдання;</li>
        <li>розробка аудіальної концепції;</li>
        <li>три раунди безкоштовних правок для кожного аудіоасету;</li>
        <li>права інтелектуальної власності з обмеженнями на перепродаж та додаткову монетизацію;</li>
        <li>допомога з імплементацією.</li>
    </ul>
    <h3>Озвучення прототипу та трейлера (інді) | $3000</h3>
    <p>Якщо пакети вище не повністю відповідають вашим нинішнім потребам, <a
            href="mailto:connect@vp-production.com">напишіть нам</a> і ми разом
        визначимося з ідеальною формулою аудіо для вашого проєкта і допоможемо з прорахунком бюджету. 🙌</p>
</div>

{{ end }}