<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
  {{- partial "head.html" . -}}
  <body>
    {{- partial "header.html" . -}}
    <div id="content">
      <h1 class="page-title--large">Page title large</h1>
      <h1 class="page-title">Page title</h1>
      <h2 class="section-title">Section title</h2>
      <h3 class="sub-section-title">Sub Section title</h3>
      <p>
        Bronze Hoof — это хардкорная аркада в античном стиле. Хардкорная во всех
        смыслах: от позиционирования разработчиков («в нашей игре ты,
        безусловно, будешь страдать») до написания саундтрека, над которым мы
        работали два года.
      </p>
      <p>
        Главный персонаж — кентавр, который неустанно бежит вдаль и «огнём и
        мечом», а если точнее — огнём и стрелами рубит всякую мелкую нечисть и
        устрашающих боссов.
      </p>
      <h2 class="section-title">Аудио для motion-графики</h2>
      <p>
        Изначально вместе с разработчиком мы нацелились создать эпичную смесь из
        оркестра и дерзкой электроники.
      </p>
      <p>
        Позже эта идея несколько трансформировалась. В финальном звучании
        основное место саундтрека занимает эпичный оркестр в обрамлении
        различных стилистик, среди которых
        <button class="btn btn-text">самые</button> узнаваемые — египетская и
        древневосточная. <a href="/new">Инструменты</a> оркестра намеренно
        звучат не слишком «живо». Это нужно затем, чтобы музыка в нужной манере
        дополняла мультяшный
        <a target="_blank" href="https://www.google.com/">геймплей</a>.
      </p>
      <p>
        Главная задача саундтрека — помочь игроку ещё сильнее ощутить свою
        крутость при прохождении. А главная задача звуковых эффектов — незаметно
        поддерживать общую атмосферу игры.
      </p>

      <button class="btn btn-h">Portfolio h</button>
      <button class="btn btn-v">Portfolio v</button>
      <button class="btn btn-text">Portfolio text</button>
      <button class="btn">Portfolio default</button>
    </div>
    {{- partial "footer.html" . -}}
    <script src="/js/main.js"></script>
  </body>
</html>
