{{ define "css" }}
{{ with resources.Get "css/home.css" }}
{{- partial "css.html" . -}}
{{ end }}
{{ end }}

{{ define "main" }}
{{- $works := where .Site.RegularPages ".Type" "work" -}}

<!--  support section starts here  -->
{{ partial "ukraine-support-panel.html" . }}
<!--  support section ends here  -->

{{- partial "mobile-nav.html" . -}}
{{- partial "horizontal-nav.html" . -}}

<!--  hero section starts here  -->
<div class="hero inline-gap">
  {{- partial "langs-list-h.html" . -}}

  <img class="hero-logo" src="/images/home/hero-logo.svg" alt="">
  <img class="hero-logo-bg" src="/images/home/hero-logo-bg.svg" alt="">

  {{ if $works }}
  <a class="hero-portfolio-link no-hover" href={{ relLangURL "portfolio" }}>
    <span class="hero-portfolio-link-line"></span>
    <span>{{ T "general/works/title" }}</span>
  </a>
  {{ end }}

  <ul class="hero-social-links-list" role="list">
    <li>
      <a class="hero-social-link no-external-icon no-hover" href="https://www.facebook.com/vpproduction.audio"
        target="_blank" rel="noopener noreferrer nofollow" aria-label="VP Production Facebook">
        facebook
        <span class="hero-social-link-arrow" aria-hidden="true"></span>
      </a>
    </li>
    <li role="presentation" aria-hidden="true">/</li>
    <li>
      <a class="hero-social-link no-external-icon no-hover" href="https://www.instagram.com/vpproduction.audio"
        target="_blank" rel="noopener noreferrer nofollow" aria-label="VP Production Instagram">
        instagram
        <span class="hero-social-link-arrow" aria-hidden="true"></span>
      </a>
    </li>
    <li role="presentation" aria-hidden="true">/</li>
    <li>
      <a class="hero-social-link no-external-icon no-hover" href="https://www.linkedin.com/company/vpproduction-audio"
        target="_blank" rel="noopener noreferrer nofollow" aria-label="VP Production LinkedIn">
        linkedin
        <span class="hero-social-link-arrow" aria-hidden="true"></span>
      </a>
    </li>
  </ul>
</div>
<!--  hero section ends here  -->

<!--  about section starts here  -->
<div class="about-section container inline-gap">
  <div class="about-section-img-container">
    <h1 class="page-title-large about-section-title">VP Production</h1>
    <div class="small-container">
      <picture>
        <source srcset="/images/home/about.webp" type="image/webp">
        <img class="about-section-img" src="/images/home/about.jpg" alt={{ T "home/about/imageAlt" }} aria-hidden="true">
      </picture>
    </div>
  </div>
  <div class="small-container">
    <p class="about-section-text">
      {{ T "home/about/description" }}
    </p>

    <div class="about-section-button-container">
      <a class="btn btn-arrow no-hover" href={{ relLangURL "about" }}>
        {{ T "home/about/title" }}
      </a>
    </div>
  </div>
</div>
<!--  about section ends here  -->

<!--  why section starts here  -->
<div class="why-section inline-gap">
  <div class="container">
    <h2 class="section-title">{{ T "home/features/title" }}</h2>
  </div>
  <div class="small-container">
    <ul class="why-section-list" role="list">
      <li>
        <div class="why-section-list-item">
          <img 
            src="/images/home/time-icon.svg" 
            alt={{ T "general/features/feature_1/title" }} 
          />
          <p>
            <strong>{{ T "general/features/feature_1/title" }}</strong>
            {{ T "general/features/feature_1/description" }}
          </p>
        </div>
      </li>
      <li>
        <div class="why-section-list-item">
          <img 
            src="/images/home/dialog-icon.svg" 
            alt={{ T "general/features/feature_2/title" }} 
          />
          <p>
            <strong>{{ T "general/features/feature_2/title" }}</strong>
            {{ T "general/features/feature_2/description" }}
          </p>
        </div>
      </li>
      <li>
        <div class="why-section-list-item">
          <img 
            src="/images/home/idea-icon.svg" 
            alt={{ T "general/features/feature_3/title" }} 
          />
          <p>
            <strong>{{ T "general/features/feature_3/title" }}</strong>
            {{ T "general/features/feature_3/description" }}
          </p>
        </div>
      </li>
      <li>
        <div class="why-section-list-item">
          <img 
            src="/images/home/document-icon.svg" 
            alt={{ T "general/features/feature_4/title" }} 
          />
          <p>
            <strong>{{ T "general/features/feature_4/title" }}</strong>
            {{ T "general/features/feature_4/description" }}
          </p>
        </div>
      </li>
      <li>
        <div class="why-section-list-item">
          <img 
            src="/images/home/audio-icon.svg" 
            alt={{ T "general/features/feature_5/title" }} 
          />
          <p>
            <strong>{{ T "general/features/feature_5/title" }}</strong>
            {{ printf (T "general/features/feature_5/description") (relLangURL "reviews") | safeHTML  }}
          </p>
        </div>
      </li>
      <li>
        <div class="why-section-list-item">
          <img 
            src="/images/home/lamp-icon.svg" 
            alt={{ T "general/features/feature_6/title" }} 
          />
          <p>
            <strong>{{ T "general/features/feature_6/title" }}</strong>
            {{ T "general/features/feature_6/description" }}
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>
<!--  why section ends here  -->

{{- partial "services.html" . -}}

{{- with (where $works ".Params.homePageWeight" "ne" nil) }}
<!--  works section starts here  -->
<div class="works-section inline-gap">
  <div class="container">
    <h2 class="works-section-title section-title" id="works-title">
      {{ T "home/works/title" }}
      <a class="btn btn-arrow no-hover" href={{ relLangURL "portfolio" }}>{{ T "general/works/title" }}</a>
    </h2>
  </div>
  <div class="works-list grid" aria-labelledby="works-title">
    {{- range first 10 (.ByParam "homePageWeight") }}
    <a class="no-hover grid-item" href="{{ .RelPermalink }}" aria-label="{{ .Title }}">
      {{- with resources.GetMatch .Params.image }}
      <img src="{{ .RelPermalink }}" alt="{{ .Title }}" loading="lazy" />
      {{- end }}
      <h4 class="grid-item-title">{{ .Title }}</h4>
    </a>
    {{- end }}
  </div>
  <div class="container mobile-portfolio-button-container">
    <a class="btn btn-arrow no-hover" href={{ relLangURL "portfolio" }}>{{ T "general/works/title" }}</a>
  </div>
</div>
<!--  works section ends here  -->
{{- end -}}

<!-- big text section starts here -->
{{- partial "big-text-section.html" -}}
<!-- big text section ends here -->

{{ end }}

{{ define "js" }}
{{ with resources.Get "js/home.js" }}
{{- partial "js.html" . -}}
{{ end }}
{{ end }}
