<!DOCTYPE html>
<html lang="{{ .Site.Language }}">

<head>
    {{- partial "head.html" . -}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/about.css">
</head>

<body>
    {{- partial "horizontal-nav.html" . -}}
    {{- partial "mobile-nav.html" (dict "context" . "className" "") -}}

    <div class="inline-gap top-space-small">

        <div class="us-section">
            <div class="small-container">
                <h1 class="page-title-large">
                    ПРО НАС
                </h1>
            </div>
            <img height="110px" width="111px" class="box-image box-image-first" src="/images/faq/box-with-icons.svg"
                alt="" role="presentation" aria-hidden="true">
            <img height="110px" width="111px" class="box-image box-image-second" src="/images/faq/box-with-icons.svg"
                alt="" role="presentation" aria-hidden="true">
            <div class="container">
                <h2 class="section-title">
                    Маленькі й могутні 💪
                </h2>
            </div>
            <div class="about-inner small-container">
                <div class="about-inner-text">
                    <p>Так ми описуємо нашу аудіоагенцію під час першого знайомства й навряд чи це скоро зміниться. Ми
                        не
                        прагнемо стати Великою Серйозною Компанією. Якою б привабливою не була ця перспектива — ми
                        цінуємо
                        наш craftsmen статус.</p>
                    <p>Ми знаємо, що одних сміливих ідей недостатньо, щоби прогнозовано впливати на споживача. Тому ми
                        взяли
                        все найкраще від творчості та системності — так ми допомагаємо продуктам і брендам стати
                        частиною
                        життя їхньої аудиторії.</p>
                    <p>А ще ми з великим ентузіазмом беремо участь у різних колабораціях і завжди відкриті до пропозицій
                        і
                        викликів. 🙌</p>
                    <p>До речі, партнерський контент ми теж любимо! Якщо ви хочете написати щось із нами або про нас —
                        ось
                        <a href="/">посилання на прес-кит</a>.
                    </p>
                </div>
                <div class="about-inner-image">
                    <img src="/images/about/icon-logo-vp.svg" alt="">
                </div>
            </div>
        </div>

    </div>

    <!-- team section starts here  -->
    <div class="team-section">
        <div class="container inline-gap">
            <h2 class="servies-section-title section-title">Наша команда</h2>
        </div>
        <div class="slider">
            <ul class="team-slides swiper-wrapper">
                <li class="team-inner swiper-slide">
                    <div class="team-img">
                        <img src="/images/about/vlad.webp" alt="">
                    </div>
                    <div class="team-info">
                        <h2 class="section-title">ВЛАД ПЛОТНІКОВ</h2>
                        <h3 class="sub-section-title">Співзасновник, композитор, креативний аудіо продюсер</h3>
                        <p><strong>Створює</strong>: ігрові саундтреки, аудіо бренди.</p>
                        <p><strong>Крім цього</strong>: фронтмен гурту TOTAL-EMPTY, аудіо ментор, спікер
                            локальних
                            конференцій, член журі Casual Connect, Global Game Jam Ukraine, Indie Cup.</p>
                    </div>
                </li>
                <li class="team-inner swiper-slide">
                    <div class="team-img">
                        <img src="/images/about/ruslana.webp" alt="">
                    </div>
                    <div class="team-info">
                        <h2 class="section-title">ВЛАД ПЛОТНІКОВ</h2>
                        <h3 class="sub-section-title">Співзасновник, композитор, креативний аудіо продюсер</h3>
                        <p><strong>Створює</strong>: ігрові саундтреки, аудіо бренди.</p>
                        <p><strong>Крім цього</strong>: фронтмен гурту TOTAL-EMPTY, аудіо ментор, спікер
                            локальних
                            конференцій, член журі Casual Connect, Global Game Jam Ukraine, Indie Cup.</p>
                    </div>
                </li>
                <li class="team-inner swiper-slide">
                    <div class="team-img">
                        <img src="/images/about/artyom.webp" alt="">
                    </div>
                    <div class="team-info">
                        <h2 class="section-title">ВЛАД ПЛОТНІКОВ</h2>
                        <h3 class="sub-section-title">Співзасновник, композитор, креативний аудіо продюсер</h3>
                        <p><strong>Створює</strong>: ігрові саундтреки, аудіо бренди.</p>
                        <p><strong>Крім цього</strong>: фронтмен гурту TOTAL-EMPTY, аудіо ментор, спікер
                            локальних
                            конференцій, член журі Casual Connect, Global Game Jam Ukraine, Indie Cup.</p>
                    </div>
                </li>
                <li class="team-inner swiper-slide">
                    <div class="team-img">
                        <img src="/images/about/sasha.webp" alt="">
                    </div>
                    <div class="team-info">
                        <h2 class="section-title">ВЛАД ПЛОТНІКОВ</h2>
                        <h3 class="sub-section-title">Співзасновник, композитор, креативний аудіо продюсер</h3>
                        <p><strong>Створює</strong>: ігрові саундтреки, аудіо бренди.</p>
                        <p><strong>Крім цього</strong>: фронтмен гурту TOTAL-EMPTY, аудіо ментор, спікер
                            локальних
                            конференцій, член журі Casual Connect, Global Game Jam Ukraine, Indie Cup.</p>
                    </div>
                </li>
                <li class="team-inner swiper-slide">
                    <div class="team-img">
                        <img src="/images/about/maryna.webp" alt="">
                    </div>
                    <div class="team-info">
                        <h2 class="section-title">ВЛАД ПЛОТНІКОВ</h2>
                        <h3 class="sub-section-title">Співзасновник, композитор, креативний аудіо продюсер</h3>
                        <p><strong>Створює</strong>: ігрові саундтреки, аудіо бренди.</p>
                        <p><strong>Крім цього</strong>: фронтмен гурту TOTAL-EMPTY, аудіо ментор, спікер
                            локальних
                            конференцій, член журі Casual Connect, Global Game Jam Ukraine, Indie Cup.</p>
                    </div>
                </li>
                <li class="team-inner swiper-slide">
                    <div class="team-img">
                        <img src="/images/about/appa.webp" alt="">
                    </div>
                    <div class="team-info">
                        <h2 class="section-title">ВЛАД ПЛОТНІКОВ</h2>
                        <h3 class="sub-section-title">Співзасновник, композитор, креативний аудіо продюсер</h3>
                        <p><strong>Створює</strong>: ігрові саундтреки, аудіо бренди.</p>
                        <p><strong>Крім цього</strong>: фронтмен гурту TOTAL-EMPTY, аудіо ментор, спікер
                            локальних
                            конференцій, член журі Casual Connect, Global Game Jam Ukraine, Indie Cup.</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="arrow-section">
            <button class="button-arrow button-arrow-left prev no-hover">
                {{- partial "icons/arrow-left-long.html" . -}}
            </button>
            <div class="slide-position">
            </div>
            <button class="button-arrow next no-hover">
                {{- partial "icons/arrow-left-long.html" . -}}
            </button>
        </div>
    </div>



    <!-- team section end here -->

    {{- partial "services.html" . -}}

    <!--  and section starts here  -->
    {{- partial "why.html" (dict "h2Text" "А ще") -}}
    <!--  and section ends here  -->

    <!-- big text section starts here -->
    {{- partial "big-text-section.html" -}}
    <!-- big text section ends here -->

    {{- partial "contact-us-email.html" . -}}
    {{- partial "footer.html" . -}}

    <script defer type="module" src="/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script defer src="/js/slider.js"></script>
</body>

</html>