{{- define "cssbeforemain" }}
{{ with resources.Get "css/swiper-bundle.min.css" }}
<link rel="stylesheet" href="{{ .RelPermalink }}" />
{{ end }}
{{- end }}

{{ define "css" }}
{{ with resources.Get "css/about.css" }}
{{- partial "css.html" . -}}
{{ end }}
{{ end }}


{{ define "main" }}
{{- partial "horizontal-nav.html" . -}}
{{- partial "mobile-nav.html" . -}}

<div class="inline-gap top-space-small">
    <div class="small-container">
        <h1 class="page-title-large">
            ПРО НАС
        </h1>
    </div>

    <img height="110px" width="111px" class="box-image box-image-first" src="/images/faq/box-with-icons.svg" alt=""
        aria-hidden="true">
    <img height="110px" width="111px" class="box-image box-image-second" src="/images/faq/box-with-icons.svg" alt=""
        aria-hidden="true">

    <div class="container">
        <h2 class="section-title">
            Маленькі й могутні 💪
        </h2>
    </div>

    <div class="small-container">
        <div class="about-section">
            <div class="about-section-description">
                <p>Без зайвої хвалькуватості, саме такими ми і є, адже ми створюємо знакове звучання, яке формує
                    досвід мільйонів людей.
                </p>
                <p>Ми глибоко занурюємося в стратегічне бачення наших клієнтів та інтегруємося в їхні команди, щоби
                    співтворити аудіо, яке оселяється в головах і серцях їхньої аудиторії та допомагає продуктам
                    стати важливою частиною їхнього життя.
                </p>
                <p>
                    А ще ми завжди раді взяти участь у різних колабораціях і тому відкриті до пропозицій і
                    креативних викликів. 🙌
                </p>
                <p>До речі, партнерський контент ми теж любимо! Якщо ви хочете написати щось із нами або про нас —
                    ось
                    <a href="/press-kit">посилання на прес-кит</a>.
                </p>
            </div>
            <div class="about-section-image">
                <img src="/images/about/icon-logo-vp.svg" alt="">
            </div>
        </div>
    </div>
</div>

<!-- team section starts here  -->
<div class="team-section inline-gap">
    <div class="container">
        <h2 class="servies-section-title section-title">Наша команда</h2>
    </div>
    <div class="team slider">
        <ul class="swiper-wrapper">
            <li class="team-item swiper-slide">
                <div class="team-img">
                    <img width="290" height="290" loading="lazy" src="/images/about/vlad.webp" alt="Влад Плотніков">
                </div>
                <div class="team-info">
                    <h2 class="section-title">Влад Плотніков</h2>
                    <h3 class="sub-section-title">Співзасновник, композитор, креативний аудіо продюсер</h3>
                    <p><strong>Створює:</strong> ігрові саундтреки, аудіо бренди.</p>
                    <p><strong>Крім цього:</strong> фронтмен гурту TOTAL-EMPTY, аудіо ментор, спікер
                        локальних
                        конференцій, член журі Casual Connect, Global Game Jam Ukraine, Indie Cup.</p>
                </div>
            </li>
            <li class="team-item swiper-slide">
                <div class="team-img">
                    <img width="290" height="290" loading="lazy" src="/images/about/ruslana.webp" alt="Руслана Кручек">
                </div>
                <div class="team-info">
                    <h2 class="section-title">Руслана Кручек</h2>
                    <h3 class="sub-section-title">Співзасновниця, бренд-менеджер, арт-директор</h3>
                    <p><strong>Відповідає за:</strong> правильний вектор аудіо брендів і наші власні маркетингові
                        заходи.</p>
                    <p><strong>Крім цього:</strong> винороб, спікер конференцій, вокаліст-падаван, лірицист.</p>
                </div>
            </li>
            <li class="team-item swiper-slide">
                <div class="team-img team-img-top">
                    <img width="290" height="290" loading="lazy" src="/images/about/artyom.webp" alt="Аретем Баскоєв">
                </div>
                <div class="team-info">
                    <h2 class="section-title">Аретем Баскоєв</h2>
                    <h3 class="sub-section-title">Композитор, звуковий дизайнер</h3>
                    <p><strong>Створює:</strong> електронні треки, звуковий дизайн для анімацій, ігор й аудіо
                        брендів.</p>
                    <p><strong>Крім цього:</strong> автор проєкту Stolen Forest.</p>
                </div>
            </li>
            <li class="team-item swiper-slide">
                <div class="team-img">
                    <img width="290" height="290" loading="lazy" src="/images/about/sasha.webp"
                        alt="Олександр Фалінський">
                </div>
                <div class="team-info">
                    <h2 class="section-title">Олександр Фалінський</h2>
                    <h3 class="sub-section-title">Звуковий дизайнер, композитор</h3>
                    <p><strong>Створює:</strong> звуковий дизайн для ігор, ігрові саундтреки.</p>
                    <p><strong>Крім цього:</strong> батько дочки, чоловік дружини. 😀</p>
                </div>
            </li>
            <li class="team-item swiper-slide">
                <div class="team-img">
                    <img width="290" height="290" loading="lazy" src="/images/about/maryna.webp" alt="Марина Овсюк">
                </div>
                <div class="team-info">
                    <h2 class="section-title">Марина Овсюк</h2>
                    <h3 class="sub-section-title">SMM/Контент асистент</h3>
                    <p><strong>Відповідає за:</strong> якість нашого контенту в соцмережах, спілкування з ком’юніті
                        та круті ідеї.</p>
                    <p><strong>Крім цього:</strong> вільний ельф, пристрасна поціновувачка їжі та вина, акторка.</p>
                </div>
            </li>
            <li class="team-item swiper-slide">
                <div class="team-img">
                    <img width="290" height="290" loading="lazy" src="/images/about/appa.webp" alt="Аппа">
                </div>
                <div class="team-info">
                    <h2 class="section-title">Аппа</h2>
                    <h3 class="sub-section-title">Happiness Manager</h3>
                    <p><strong>Відповідає за:</strong> створення гарного настрою, дотримання робочого розкладу,
                        мімімішні світлини та відео.</p>
                    <p><strong>Крім цього:</strong> експерт із ембієнту та класичної музики, чемпіон із пошуку
                        смаколиків.</p>
                </div>
            </li>
        </ul>
        {{- partial "arrow-button.html" . -}}
    </div>
</div>

<!-- team section end here -->
{{- partial "services.html" . -}}

<!--  why section starts here  -->
<div class="why-section inline-gap">
    <div class="container">
        <h2 class="section-title">А ще</h2>
    </div>
    <div class="small-container">
        <ul class="why-section-list" role="list">
            <li>
                <div class="why-section-list-item">
                    <img src="/images/home/time-icon.svg" alt="Дедлайни — наше все." />
                    <p>
                        <strong>Дедлайни — то святе</strong>
                        За 7 років ми зірвали 0 дедлайнів.
                    </p>
                </div>
            </li>
            <li>
                <div class="why-section-list-item">
                    <img src="/images/home/dialog-icon.svg" alt="Ми спілкуємося простою мовою." />
                    <p>
                        <strong>Ми спілкуємося простою мовою
                        </strong> Нема потреби опановувати аудіо термінологію, натомість розкажіть нам про почуття та
                        емоції, що має викликати ваш продукт, і ми вас зрозуміємо.
                    </p>
                </div>
            </li>
            <li>
                <div class="why-section-list-item">
                    <img src="/images/home/idea-icon.svg" alt="" />
                    <p>
                        <strong>Створюємо знакове звучання</strong> Ми детально вивчаємо ваш продукт, аналізуємо ринок і
                        цільову аудиторію,
                        щоби створити звучання, що запам'ятається вашим користувачам.
                    </p>
                </div>
            </li>
            <li>
                <div class="why-section-list-item">
                    <img src="/images/home/document-icon.svg" alt="Зрозумілий процес роботи." />
                    <p>
                        <strong>Зрозумілий процес роботи
                        </strong> Ви легко орієнтуватиметеся в тому, що відбувається на кожному етапі створення аудіо. У
                        цьому допоможуть аудіальні мудборди й спеціальна методика фідбеку.
                    </p>
                </div>
            </li>

            <li>
                <div class="why-section-list-item">
                    <img src="/images/home/audio-icon.svg" alt="" />
                    <p>
                        <strong>Аудиторія + наше аудіо = ❤️.</strong> Наші роботи вже чули мільйони людей і багацько з
                        них були настільки вражені, що написали про нас
                        <a href={{ relLangURL "/reviews" }}>таке.</a>
                    </p>
                </div>
            </li>
            <li>
                <div class="why-section-list-item">
                    <img src="/images/home/lamp-icon.svg" alt="" />
                    <p>
                        <strong>Ми прагнемо значущих зв'язків
                        </strong>Тому завжди готові вислухати і поділитися ідеями та порадами, навіть якщо ви поки не
                        готові до співпраці.
                </div>
            </li>
        </ul>
    </div>
</div>
<!--  why section ends here  -->

<!-- big text section starts here -->
{{- partial "big-text-section.html" -}}
<!-- big text section ends here -->
{{ end }}

{{- define "jsbeforemain" }}
{{ with resources.Get "js/swiper-bundle.min.js" }}
<script defer src="{{ .RelPermalink }}"></script>
{{ end }}
{{- end }}
{{ define "js" }}
{{ with resources.Get "js/slider.js" }}
{{- partial "js.html" . -}}
{{ end }}
{{ end }}