<!DOCTYPE html>
<html lang="{{ .Site.Language }}">

<head>
    {{- partial "head.html" . -}}
    <link rel="stylesheet" href="/css/audio-reviews-and-consultations.css" />
</head>

<body>
    {{- partial "horizontal-nav.html" . -}}
    {{- partial "mobile-nav.html" (dict "context" . "className" "") -}}
    <div class="small-container inline-gap top-space">
        <h1 class="consultations-page-title">Аудіо-рев’ю та консультації</h1>
        <p>За останні кілька років ми працювали над аудіо десятків проєктів, а ще з десятком безпосередньо не працювали.
            Але це не означає, що ми не брали участі в їхньому творчому процесі. Ми проводили консультації й
            аудіо-рев’ю, щоби допомогти інді-розробникам і брендам зрозуміти потреби своїх продуктів у плані звуку або
            поліпшити наявне аудіо до необхідного рівня якості.
        </p>
        <p>
            Така робота допомагає нам поширювати наш підхід, ділитися своїм баченням з іншими, створювати значущі
            зв’язки та допомагати людям створювати продукти, що приємно звучать (і є ефективними!). Саме тому ми
            вирішили, що настав час офіційно представити цю послугу. Отже, зустрічайте аудіо-рев’ю та консультації!
        </p>
        <h2 class="consultations-section-title">Що ми робимо?</h2>
        <p>Наразі ми надаємо консультації двох видів: <b>консультація щодо аудіо</b> конкретного проєкту та аудіо-рев’ю.
        </p>
        <p>
            На консультації щодо аудіо ми обговорюємо з вами проєкт загалом, його позиціонування, виділяємо основні
            завдання аудіо, допомагаємо скласти технічне завдання, обговорюємо ймовірні ідеї для реалізації,
            розповідаємо про кращі практики та про те, чому варто приділити увагу під час роботи над аудіо.
        </p>
        <p> <b>Аудіо-рев’ю</b> проєкту включає в себе оцінювання аудіального ігрового досвіду, оцінювання звучання
            окремих
            анімацій та/або катсцен, складання документу з пропозиціями щодо виправлень.
        </p>
        <h2 class="consultations-section-title">Як проходить процес?</h2>
        <p>Усе залежить від типу консультації, який ви вибрали. Але в будь-якому разі все починається з того, що ми
            попередньо ретельно вивчаємо докладний опис проєкту, включно з інформацією про його цільову аудиторію, ринок
            і конкурентів. Також нам знадобляться будь-які візуальні матеріали: арти, відео, анімації тощо. А якщо у вас
            раптом є пітч-документ — це взагалі ідеально!
        </p>
        <p>У разі <b>консультації щодо аудіо конкретного проєкту</b>, після вивчення всієї наданої інформації ми
            організовуємо
            аудіо- або відеоконференцію в Google Meet або Zoom. Така консультація зазвичай триває 1,5 години, але за
            необхідності ми можемо її подовжити, або ж провести декілька сесій.
        </p>
        <p>Для <b>аудіо-рев’ю</b> нам також знадобиться іграбельний unlock-білд і документ із назвами всіх аудіо ассетів
            і
            посиланнями на відповідні анімації. Зазвичай ми проводимо рев’ю в текстовому форматі й у результаті ви
            отримуєте текстовий документ.
        </p>
        <p>Аудіо-рев’ю ми виконуємо упродовж трьох робочих днів.
        </p>
        <b>Обидва види консультацій потребують повної передоплати.
        </b>
        <h2 class="consultations-section-title">Вартість</h2>
        <div class="consultation-cards">
            <div class="consultation-card-inner">
                <img src="/images/services/arrows.svg" alt="">
                <h3>Консультація щодо аудіо конкретного проєкту</h3>
                <ul class="consultation-card-list">
                    <li>обговорюємо проєкт загалом, його позиціонування</li>
                    <li>виділяємо основні завдання аудіо</li>
                    <li>допомагаємо скласти технічне завдання </li>
                    <li>обговорюємо можливі ідеї та розповідаємо про кращі практики</li>
                </ul>
                <span class="consultation-card-price">€100/год</span>
            </div>

            <div class="consultation-card-inner">
                <img src="/images/services/pencil.svg" alt="">
                <h3>Аудіо-рев’ю</h3>
                <ul class="consultation-card-list">
                    <li>оцінювання аудіального ігрового досвіду</li>
                    <li>оцінювання звучання окремих анімацій та/або катсцен</li>
                    <li>створення документа з пропозиціями щодо виправлень</li>
                </ul>
                <span class="consultation-card-price">€400*</span>
            </div>
        </div>
        <p>*Вартість аудіо-рев’ю залежить від кількості аудіо ассетів у проєкті.</p>
        <p>Крім того, кожного місяця ми проводимо три безплатних тридцятихвилинних консультації або лайт аудіо-рев’ю.
            <a rel="nofollow noopener noreferrer" target="_blank" href="mailto:connect@vp-production.com">Напишіть
                нам</a>, аби вхопити свій слот.
        </p>

    </div>
    {{- partial "contact-us-email.html" . -}}
    {{- partial "footer.html" . -}}
    <script async type="module" src="/js/main.js"></script>
</body>

</html>