{{ define "css" }}
{{ with resources.Get "css/faq.css" }}
{{- partial "css.html" . -}}
{{ end }}
{{ end }}

{{ define "js" }}
{{ with resources.Get "js/details.js" }}
{{- partial "js.html" . -}}
{{ end }}
{{ end }}

{{ define "main" }}
{{- partial "horizontal-nav.html" . -}}
{{- partial "mobile-nav.html" . -}}
<div class="inline-gap">

    <div class="small-container top-space-medium">
        <h1 class="page-title-large">faq</h1>
        <img height="138px" width="148px" class="box-image box-image-first" src="/images/faq/box-with-icons.svg" alt=""
            aria-hidden="true">
        <img height="138px" width="148px" class="box-image box-image-second" src="/images/faq/box-with-icons.svg" alt=""
            aria-hidden="true">

        <div class="faq-content">
            {{ .Content }}
        </div>
    </div>
</div>
{{ end }}