<!DOCTYPE html>
<html lang="{{ .Site.Language }}">

<head>
    {{- partial "head.html" . -}}
    <link rel="stylesheet" href="/css/faq.css" />
</head>

<body>

    {{- partial "horizontal-nav.html" . -}}
    {{- partial "mobile-nav.html" (dict "context" . "className" "") -}}
    <div class="inline-gap">

        <div class="small-container top-space-medium">
            <h1 class="page-title-large">faq</h1>
            <img height="138px" width="148px" class="box-image box-image-first" src="/images/faq/box-with-icons.svg"
                alt="" role="presentation" aria-hidden="true">
            <img height="138px" width="148px" class="box-image box-image-second" src="/images/faq/box-with-icons.svg"
                alt="" role="presentation" aria-hidden="true">

            <div class="faq-content">
                {{ .Content }}
            </div>


            {{/* <div class="accordion-section">
                <h2 class="section-title">Організаційні питання</h2>
                <div class="accordion">
                    <details>
                        <summary><span class="list-number">1.</span> <span class="label">Що потрібно аби ви могли почати
                                роботу?</span></summary>
                        <div>
                            <p>Спершу нам потрібно познайомитися з вами і вашим проєктом. Для цього ви заповнюєте бриф,
                                а ми
                                проводимо для вас <a href="#">безплатну консультацію</a>. Якщо ми з вами збігатемося
                                характерами,
                                залишиться тільки скласти технічне завдання й підписати договір.</p>
                        </div>
                    </details>
                    <details>
                        <summary><span class="list-number">2.</span><span class="label">А що робити, якщо мій проєкт під
                                NDA?</span></summary>
                        <p><a href="#">Напишіть нам</a>, ми підпишемо відповідні документи і зможемо вільно все
                            обговорити.
                        </p>
                    </details>
                    <details>
                        <summary><span class="list-number">3.</span><span class="label">Ви виконуєте тестові
                                завдання?</span>
                        </summary>
                        <p>Зазвичай ми не виконуємо тестові завдання, адже вони не зовсім відповідають нашому підходу й
                            робочому
                            пайплайну. Ми починаємо кожен проєкт із рісерча та створення аудіальної концепції, і ми не
                            бачимо
                            можливості «подружити» цей етап із власне концепцією тестового завдання.</p>
                        <p>Ми розуміємо, що для багатьох людей тестові завдання, насамперед, спосіб краще познайомитися
                            з
                            новою
                            командою і зрозуміти, наскільки загалом можлива співпраця. Для нас не менш важливо збігатися
                            з
                            клієнтом у загальному баченні та принципах роботи.</p>
                        <p>Тому ми приділяємо чимало часу попередній комунікації з клієнтом, розповідаємо про всі нюанси
                            майбутньої роботи, обговорюємо проєкт і його потреби, ділимося першими ідеями та
                            демонструємо
                            релевантні кейси з нашої практики.</p>
                        <p>Однак проєкти з голосовим озвученням — виняток, у цьому випадку ми з радістю надамо вам
                            тестовий
                            запис обраного актора озвучення.</p>
                    </details>
                    <details>
                        <summary><span class="list-number">4.</span><span class="label">Хто складає технічне завдання на
                                проєкт?</span></summary>
                        <p>В ідеалі, клієнт ініціює процес створення технічного завдання, складаючи список необхідних
                            аудіо
                            ассетів із відповідним візуалом/анімаціями й основними вимогами. Для зручності ви можете
                            скористатися <a href="#">нашим перевіреним часом шаблоном</a>.</p>
                        <p>Потім ми допрацьовуємо документ на основі аналізу брифа клієнта, вивчення його ніші,
                            конкурентів
                            і
                            цільової аудиторії.</p>
                        <p>У такий спосіб обидві сторони від самого початку мають чітко сформовані очікування від
                            результатів.
                            Це допомагає вибрати правильний напрям і закласти міцний фундамент для успішної співпраці.
                        </p>
                    </details>
                    <details>
                        <summary><span class="list-number">5.</span><span class="label">Як організована решта процесу
                                роботи?</span></summary>
                        <p>Залежно від обраної послуги процес може варіюватися, хоча основні 6 стадій залишаються
                            незмінними:
                            знайомство, підготовка, запуск, продакшн, прийом проєкту і його подальша підтримка.</p>
                        <p>Як організований процес роботи для кожної з наших послуг, можна детально прочитати на
                            сторінках
                            <a href="#">створення музики</a>, <a href="#">звуковий дизайн</a>, <a
                                href="#">аудіобрендинг</a>
                            і
                            <a href="#">голосове озвучення</a>.
                        </p>
                    </details>
                </div>
            </div>
            <div class="accordion-section">
                <h2 class="section-title">Фінансові питання</h2>
                <div class="accordion">
                    <details>
                        <summary><span class="list-number">1.</span><span class="label">Ви працюєте за
                                передоплатою?</span>
                        </summary>
                        <p>Так, ми працюємо за передоплатою. Сума передоплати може варіюватися залежно від масштабу
                            проєкту,
                            його тривалості та обраних послуг. Це може бути 50% від загальної суми, кілька невеликих
                            платежів
                            або повна передоплата в деяких випадках.</p>
                    </details>
                    <details>
                        <summary><span class="list-number">2.</span><span class="label">У яких випадках передоплата
                                становить
                                100 %?</span>
                        </summary>
                        <p>Повна передоплата потрібна у разі замовлення голосового озвучення та будь-якого виду
                            консультацій.
                        </p>
                    </details>
                    <details>
                        <summary><span class="list-number">3.</span><span class="label">Як можна оплатити ваші
                                послуги?</span>
                        </summary>
                        <p>Ми приймаємо оплату за надані послуги тільки на розрахунковий рахунок фізичної особи
                            підприємця
                            (ФОП)
                            або на рахунок Payoneer.</p>
                    </details>
                </div>
            </div>
            <div class="accordion-section">
                <h2 class="section-title">Юридичні питання</h2>
                <div class="accordion">
                    <details>
                        <summary><span class="list-number">1.</span><span class="label">Чи є у вас договір?</span>
                        </summary>
                        <p>Так, із кожним клієнтом ми укладаємо договір про надання послуг. Він у нас крутий і крафтовий
                            —
                            усе
                            завдяки команді юристів, з якою ми співпрацюємо.</p>
                    </details>
                    <details>
                        <summary><span class="list-number">2.</span><span class="label">Які права на результат я
                                отримаю?</span>
                        </summary>
                        <p>На створені нами звукові ефекти, голосове озвучення та елементи аудіо бренда ми за
                            замовчуванням
                            передаємо вам усі виняткові майнові права інтелектуальної власності, звичайно, з однією
                            умовою —
                            після оплати наших послуг.</p>
                        <p>На створені нами музичні композиції ми за замовчуванням передаємо вам майнові права
                            інтелектуальної
                            власності, з обмеженням можливості вільного їх перепродажу й перевипуску, поза обумовленого
                            нами
                            проєкту, а також отримання монетизації зі стрімінгових сервісів і маркетплейсів.</p>
                        <p>За необхідності ми можемо передати вам усі виключні майнові права інтелектуальної власності
                            без
                            будь-яких обмежень, але це слід обговорювати окремо й у такому випадку загальна вартість
                            проєкту
                            буде вище.</p>
                    </details>
                    <details>
                        <summary><span class="list-number">3.</span><span class="label">Чому ви просто не передаєте всі
                                виняткові права на
                                музику?</span></summary>
                        <p>Іноді саундтреки стають додатковим засобом монетизації проєкту і джерелом надприбутку. Ми
                            вважаємо
                            справедливим, що в подібних випадках композитор має право на додаткову компенсацію.</p>
                    </details>
                </div>
            </div>
            <div class="accordion-section">
                <h2 class="section-title">Питання щодо консультацій</h2>
                <div class="accordion">
                    <details>
                        <summary><span class="list-number">1.</span><span class="label">Які у вас є різновиди
                                консультацій?</span></summary>
                        <p>Наразі ми надаємо консультації двох видів: консультація щодо аудіо конкретного проєкту та
                            аудіо-рев’ю.</p>
                        <p>На консультації щодо аудіо ми обговорюємо з вами проєкт загалом, його позиціонування,
                            виділяємо
                            основні завдання аудіо, допомагаємо скласти технічне завдання, обговорюємо ймовірні ідеї для
                            реалізації, розповідаємо про кращі практики та про те, чому варто приділити увагу під час
                            роботи
                            над
                            аудіо.</p>
                        <p>Аудіо-рев’ю проєкту включає в себе оцінювання аудіального ігрового досвіду, оцінювання
                            звучання
                            окремих анімацій та/або катсцен, складання документу з пропозиціями щодо виправлень.</p>
                    </details>
                    <details>
                        <summary><span class="list-number">2.</span><span class="label">Яку інформацію необхідно
                                підготувати
                                для
                                консультації?</span></summary>
                        <p>Для обох видів консультацій ми маємо заздалегідь ознайомитися з детальним описом проєкту,
                            включно
                            з
                            інформацією про його цільову аудиторію, ринок і конкурентів. Крім того, у нагоді стануть
                            будь-які
                            наявні візуальні матеріали: арти, відео, анімації тощо. Загалом, якщо у вас є пітч-документ
                            — це
                            ідеально!</p>
                        <p>Для аудіо-рев’ю нам також знадобляться іграбельний unlock-білд і документ із назвами всіх
                            аудіо-асетів та посиланнями на відповідні озвучені анімації.</p>
                    </details>
                    <details>
                        <summary><span class="list-number">3.</span><span class="label">Скільки тривають
                                консультації?</span>
                        </summary>
                        <p>Консультація щодо аудіо для конкретного проєкту зазвичай триває 1,5 години, але за
                            необхідності
                            ми
                            можемо її подовжити, або ж провести декілька сесій.</p>
                        <p>Аудіо-рев’ю ми виконуємо упродовж трьох робочих днів.</p>
                    </details>
                    <details>
                        <summary><span class="list-number">4.</span><span class="label">У якому форматі проходять
                                консультації?</span></summary>
                        <p>Аудіо-рев’ю ми зазвичай проводимо в текстовому форматі й в результаті ви отримуєте текстовий
                            документ.</p>
                        <p>Консультацію щодо аудіо для конкретного проєкту ми проводимо у форматі аудіо- чи
                            відеоконференції
                            у
                            Google Meet або Zoom.</p>
                    </details>
                    <details>
                        <summary><span class="list-number">5.</span><span class="label">Скільки коштує кожен різновид
                                консультацій?</span></summary>
                        <p>Вартість консультації щодо аудіо конкретного проєкту складає €100/год.</p>
                        <p>Вартість аудіо-рев’ю складає €400.</p>
                        <p>Крім того, кожного місяця ми проводимо три безплатних тридцятихвилинних консультації або лайт
                            аудіо-рев’ю. <a href="#">Напишіть нам</a>, аби вхопити свій слот.</p>
                    </details>
                </div>
            </div>
            <div class="accordion-section">
                <h2 class="section-title">Глосарій</h2>
                <div class="accordion">
                    <details>
                        <summary><span class="list-number">1.</span><span class="label">Аудіоадаптаціі</span></summary>
                        <p>Музичні чи звукові фрагменти, які створюються на основі аудіо-ДНК і розробляються з
                            урахуванням
                            специфічних потреб кожної точки контакту бренду з аудиторією.</p>
                    </details>
                    <details>
                        <summary><span class="list-number">2.</span><span class="label">Аудіо бренд</span></summary>
                        <p>Система музики і звуків, яка транслює сенс бренду в кожній його точці контакту з аудиторією.
                        </p>
                    </details>
                    <details>
                        <summary><span class="list-number">3.</span><span class="label">Аудіобрендинг</span></summary>
                        <p>Також відомий як звуковий, акустичний і музичний брендинг. Процес створення й управління
                            системою
                            музики і звуків, яка транслює сенс бренду в кожній його точці контакту з аудиторією.</p>
                        <p>Це така ж важлива частина брендингу, як і створення фірмового стилю. Тільки тут головні
                            інструменти —
                            музика, звуки й голос.</p>
                    </details>
                    <details>
                        <summary><span class="list-number">4.</span><span class="label">Аудіальна концепція</span>
                        </summary>
                        <p>Документ, який містить позиціонування бренду, список його аудіальних точок контакту з
                            аудиторією,
                            а
                            також ідеї про те, як передати конкретне повідомлення бренду і виконати необхідні завдання
                            за
                            допомогою аудіо.</p>
                    </details>
                    <details>
                        <summary><span class="list-number">5.</span><span class="label">Аудіо-ДНК</span></summary>
                        <p>Центральний елемент кожного аудіо бренда. Аудіо «колаж» або короткий повноцінний трек, який
                            втілює
                            обіцянку, цінності та індивідуальність бренду в аудіальній формі, а також визначає, як
                            будуть
                            звучати всі точки контакту бренду з аудиторією. Він визначає музичну «лексику» бренду:
                            інструменти,
                            гармонії, темп, ритмічні малюнки, тембр звуку, голосу тощо</p>
                    </details>
                    <details>
                        <summary><span class="list-number">6.</span><span class="label">Аудіо логотип</span></summary>
                        <p>Звук тривалістю 2–3 секунди й найважливіша частина аудіо-ДНК. Він привертає увагу слухачів і
                            транслює
                            обіцянку, цінності та індивідуальність бренду, водночас він розроблений так, щоби
                            надзвичайно
                            легко
                            запам’ятовуватися.</p>
                        <p>Аудіо логотип — це прямий аналог візуального логотипу в музичній формі.</p>
                    </details>
                    <details>
                        <summary><span class="list-number">7.</span><span class="label">Аудіальний мудборд</span>
                        </summary>
                        <p>Плейлист, який демонструє різні способи передачі певного повідомлення, сенсу або ідеї.</p>
                    </details>
                    <details>
                        <summary><span class="list-number">8.</span><span class="label">Аудіо стайлгайд</span></summary>
                        <p>Частина брендбуку компанії або окремий документ, який містить опис та правила використання
                            аудіо-ДНК,
                            усіх його адаптацій і інших елементів аудіо бренду.</p>
                    </details>
                    <details>
                        <summary><span class="list-number">9.</span><span class="label">Аудіальні точки контакту</span>
                        </summary>
                        <p>Точки контакту співробітників і клієнтів із брендом, які можуть звучати. Вони мають бути
                            уніфіковані
                            за звучанням, щоби слухачі завжди могли отримувати позитивний і передбачуваний досвід
                            взаємодії
                            з
                            брендом.</p>
                    </details>
                    <details>
                        <summary><span class="list-number">10.</span><span class="label">Джингл</span></summary>
                        <p>Коротка музично-вокальна фраза, яка найчастіше явно рекламує продукт або послугу й майже
                            завжди
                            містить слоган компанії.</p>
                    </details>
                    <details>
                        <summary><span class="list-number">11.</span><span class="label">Звукова ідентичність</span>
                        </summary>
                        <p>Сукупність звукових вражень, які створює бренд або продукт. Вона має бути як мінімум
                            послідовною
                            і як
                            максимум передавати бажаний сенс, обіцянку й цінності.</p>
                    </details>
                </div>
            </div> */}}
        </div>
    </div>

    {{- partial "contact-us-email.html" . -}}
    {{- partial "footer.html" . -}}

    <script defer type="module" src="/js/main.js"></script>
    <script async type="module" src="/js/details.js"></script>
</body>

</html>