{{ define "css" }}
{{ with resources.Get "css/our-values.css" }}
{{- partial "css.html" . -}}
{{ end }}
{{ end }}

{{ define "main" }}
{{- partial "horizontal-nav.html" . -}}
{{- partial "mobile-nav.html" (dict "context" . "className" "") -}}

<div class="values-content">
    <div class="first-section">
        <div class="small-container inline-gap">
            <h2 class="values-title">Ми знаємо, що тільки в співтворенні народжуються культові речі.</h2>
        </div>
    </div>

    <div class="values-container">
        <div class="values-section vp-back">
            <div class="small-container inline-gap">
                <h2 class="values-title">Ми віримо, що звук — це природний спосіб комунікації, а ми лише надаємо
                    йому потрібну форму і
                    вектор.</h2>
            </div>
        </div>
        <div class="values-section">
            <div class="small-container inline-gap">
                <h2 class="values-title">Ми — фанати системного підходу, у якому завжди є місце креативності.</h2>
            </div>
        </div>
        <div class="values-section vp-back">
            <div class="small-container inline-gap">
                <h2 class="values-title">Ми віримо в силу відкритого, щирого спілкування.</h2>
            </div>
        </div>
        <div class="values-section">
            <div class="small-container inline-gap">
                <h2 class="values-title">Ми цінуємо людей і людські стосунки.</h2>
            </div>
        </div>
        <div class="values-section vp-back">
            <div class="small-container inline-gap">
                <h2 class="values-title">Ми знаємо, що кожен із нас спроможний змінити світ, але тільки разом ми можемо
                    дійсно
                    домогтися
                    змін.
                </h2>
            </div>
        </div>
    </div>
</div>
{{ end }}