<!DOCTYPE html>
<html lang="{{ .Site.Language }}">

<head>
    <title>{{ .Title | title }} | {{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Site.BaseURL }}" />
    {{ with .Site.Params.favicon }}
    <link rel="icon" href="{{ . }}" />
    {{ end -}}
    <meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="index, follow" />
    <meta charset="utf-8" />
    <meta name="theme-color" content="#000000">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/portfolio.css" />
</head>

<body>
    {{- partial "horizontal-nav.html" . -}}
    {{- partial "mobile-nav.html" (dict "context" . "className" "") -}}
    <div class="inline-gap top-space-small">
        <div class="container">
            <h1 class="page-title-large">{{ .Title | title }}</h1>
        </div>

        <div class="work-list-controls">
            <div class="container">
                <div class="control-container">
                    <select name="category" id="works-category-select" class="control control-select">
                        <option disabled selected value="">Категорія</option>
                        <option value="app">app</option>
                        <option value="brand">brand</option>
                        <option value="gamedev">gamedev</option>
                        <option value="theatre">theatre</option>
                        <option value="video">video</option>
                    </select>
                    <button id="works-category-reset" type="button" class="control hidden"><span
                            class="control-close">{{-
                            partial "icons/close-icon.html" . -}}</span></button>
                </div>
                <div class="control-container">
                    <select name="service" id="works-service-select" class="control control-select">
                        <option disabled selected value="">Послуга</option>
                        <option value="audiobranding">audiobranding</option>
                        <option value="voice-over">voice over</option>
                        <option value="sound-design">sound design</option>
                        <option value="music-composing">music composing</option>
                    </select>
                    <button id="works-service-reset" type="button" class="control hidden"><span
                            class="control-close">{{- partial "icons/close-icon.html" . -}}</span></button>
                </div>
                <button id="works-reset" type="button" class="control"><span class="control-close">{{- partial
                        "icons/close-icon.html" . -}}</span> Скинути фільтри</button>
            </div>
        </div>
        <div class="works-list grid" role="list" aria-labelledby="works-title">
            {{ range .Pages }}
            <div class="column">
                <a class="works-list-item no-hover grid-item" href="{{ .RelPermalink }}" aria-label="{{ .Title }}" {{ if
                    isset .Params "categories" }}data-categories="{{ delimit .Params.categories ',' }}" {{ end }} {{ if
                    isset .Params "services" }}data-services="{{ delimit .Params.services ',' }}" {{ end }}>
                    <img src="{{ .Params.image }}" alt="{{ .Title }}" />
                    <h4 class="works-list-item-title grid-item-title" role="presentation">{{ .Title }}</h4>
                </a>
            </div>
            {{ end }}
        </div>
    </div>

    {{- partial "contact-us-email.html" . -}}
    {{- partial "footer.html" . -}}
    <script async type="module" src="/js/main.js"></script>
    <script async type="module" src="/js/portfolio.js"></script>
</body>

</html>