<!DOCTYPE html>
<html lang="{{ .Site.Language }}">

<head>
    <title>{{ .Title | title }} | {{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Site.BaseURL }}" />
    {{ with .Site.Params.favicon }}
    <link rel="icon" href="{{ . }}" />
    {{ end -}}
    <meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="index, follow" />
    <meta charset="utf-8" />
    <meta name="theme-color" content="#000000">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link href="https://unpkg.com/slim-select@latest/dist/slimselect.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/portfolio.css" />
</head>

<body>
    {{- partial "horizontal-nav.html" . -}}
    {{- partial "mobile-nav.html" (dict "context" . "className" "") -}}
    <div class="inline-gap top-space-small">
        <div class="container">
            <h1 class="page-title-large">{{ .Title | title }}</h1>
        </div>

        <div class="work-list-controls">
            <div class="container">
                <div class="control-container">
                    <select name="category" id="works-category-select" class="control control-select">
                        <option disabled selected value="" data-placeholder="true">Категорія</option>
                        <option value="app" data-html="<span>app</span>">app</option>
                        <option value="brand" data-html="<span>brand</span>">brand</option>
                        <option value="gamedev" data-html="<span>gamedev</span>">gamedev</option>
                        <option value="theatre" data-html="<span>theatre</span>">theatre</option>
                        <option value="video" data-html="<span>video</span>">video</option>
                    </select>
                </div>
                <div class="control-container">
                    <select name="service" id="works-service-select" class="control control-select">
                        <option disabled selected value="" data-placeholder="true">Послуга</option>
                        <option value="audio-branding" data-html="<span>audio branding</span>">audio branding</option>
                        <option value="voice-over" data-html="<span>voice over</span>">voice over</option>
                        <option value="sound-design" data-html="<span>sound design</span>">sound design</option>
                        <option value="music-composing" data-html="<span>music composing</span>">music composing
                        </option>
                    </select>
                </div>
                <button id="works-reset" type="button" class="control"><span class="control-close">{{- partial
                        "icons/close-icon.html" . -}}</span> Скинути фільтри</button>
            </div>
        </div>
        <div class="works-list grid" role="list" aria-labelledby="works-title">
            {{ range .Pages }}
            <div class="column">
                <a class="works-list-item no-hover grid-item" href="{{ .RelPermalink }}" aria-label="{{ .Title }}" {{ if
                    isset .Params "categories" }}data-categories="{{ delimit .Params.categories ',' }}" {{ end }} {{ if
                    isset .Params "services" }}data-services="{{ delimit .Params.services ',' }}" {{ end }}>
                    <img src="{{ .Params.image }}" alt="{{ .Title }}" />
                    <h4 class="works-list-item-title grid-item-title" role="presentation">{{ .Title }}</h4>
                </a>
            </div>
            {{ end }}
        </div>
    </div>

    {{- partial "contact-us-email.html" . -}}
    {{- partial "footer.html" . -}}
    <script src="https://unpkg.com/slim-select@latest/dist/slimselect.min.js"></script>
    <script async type="module" src="/js/main.js"></script>
    <script async type="module" src="/js/portfolio.js"></script>
</body>

</html>