<!DOCTYPE html>
<html lang="{{ .Site.Language }}">

<head>
    {{- partial "head.html" . -}}
    <link rel="stylesheet" href="/css/press-kit.css" />


</head>

<body>
    <div class="press-content small-container inline-gap">
        <div class="media-sources">
            <img class="press-logo" src="/images/about/icon-logo-vp.svg" alt="Logo">
            <h1>Прес-кит аудіоагенції VP Production</h1>
            <ul class="press-links">
                <li><a class="no-external-icon" href="" target="_blank">Сайт</a></li>
                <li><a class="no-external-icon" href=" https://www.youtube.com/channel/UCjhBeR6eXFJgSKtXdjseP3Q "
                        target="_blank">YouTube</a></li>
                <li><a class="no-external-icon" href="https://www.facebook.com/vpproduction.audio/"
                        target="_blank">Facebook</a></li>
                <li><a class="no-external-icon" href="https://www.instagram.com/vpproduction.audio/"
                        target="_blank">Instagram</a></li>
                <li><a class="no-external-icon" href="https://x.com/vpprodaudio" target="_blank">Twitter</a></li>
                <li><a class="no-external-icon" href="https://ua.linkedin.com/company/vpproductionaudio"
                        target="_blank">LinkedIn</a>
                </li>
                <li><a class="no-external-icon" href="https://linktr.ee/vpproduction.audio" target="_blank">Linktree</a>
                </li>
            </ul>
        </div>
        <h3>VP Production — незалежна аудіоагенція, яка створює звукову айдентику для ігор, брендів і
            застосунків.
        </h3>
        <p>Агенція була заснована в 2016 році в Одесі. Від самого моменту запуску вся команда працює віддалено з
            різних
            міст України та інших країн, співпрацює з клієнтами з усього світу.
        </p>
        <p>Два вектори роботи агенції: ігрове аудіо й аудіобрендинг. Серед проєктів VP Production — аудіо бренди
            monobank, ПУМБ Онлайн, MAUDAU, PlayUA, Indie Cup, Carpe Diem Solutions, Вишиванкового фестивалю та
            саундтреки до ігор FoxTail, Trash is Fun, WildCraft, Haydee, Haydee II і Fate Hunters.
        </p>
        <p>За допомогою системного підходу до створення аудіо, команда VP Production допомагає продуктам і брендам
            стати
            частиною життя їхньої аудиторії.
        </p>
        <p>Для аудіобрендингових клієнтів команда VP Production розробляє унікальне аудіо, що покращує
            користувацький
            досвід, впливає на аудиторію та розкриває цінності їхніх брендів.</p>
        <p>В геймдев проєктах команда VP Production використовує дані та маркетингові методики, щоби розробити
            ігрове
            аудіо, що покращує ігровий процес і стимулює інтерес, залучення та продажі гри.
        </p>
        <h3>Команда VP Production вважає, що брендоване аудіо не призначене виключно для великих бізнесів і
            проєктів.
        </h3>

        <h2>Послуги VP Production
        </h2>
        <div class="press-services">
            <ul class="game-audio">
                <h3>Ігрове аудіо
                </h3>
                <li class="types">Саундтреки</li>
                <li class="types">Звуковий дизайн</li>

                <li>Звукові ефекти
                </li>
                <li>Ембієнти
                </li>
                <li>Джингли
                </li>

                <li class="types">Звукове озвучення (продюсування)</li>

                <li>Локальні актори
                </li>
                <li>Іноземні актори
                </li>

                <li class="types">Консультації</li>
            </ul>

            <ul class="press-audiobranding">
                <h3>Аудіобрендинг
                </h3>
                <li class="types">Аудіальна стратегія продуктів/брендів</li>
                <li class="types">Аудіобрендингові ассети
                </li>

                <li>Звукова айдентика застосунків
                </li>
                <li>Аудіо логотипи
                </li>
                <li>Бренд-музика
                </li>
                <li>Аудіо реклама
                </li>
                <li>In-Store аудіо
                </li>
                <li>Бренд-войс
                </li>
                <li>Та інші</li>

                <li class="types">Консультаці
                </li>
            </ul>
        </div>

        <div class="selected-works">
            <h2>Обрані роботи
            </h2>
        </div>
    </div>




    {{- partial "footer.html" . -}}

    <script defer type="module" src="/js/main.js"></script>
</body>
</div>

</html>