{{ define "css" }}
{{ with resources.Get "css/privacy-policy.css" }}
{{- partial "css.html" . -}}
{{ end }}
{{ end }}

{{ define "main" }}
{{- partial "horizontal-nav.html" . -}}
{{- partial "mobile-nav.html" . -}}

<div class="privacy-content inline-gap small-container">
    <h1 class="privacy-title">Політика конфіденційності</h1>
    <p>Прийнята: 18 листопада 2019 року</p>
    <p>Оновлена: 22 вересня 2020 року </p>
    <p>Вступні положення</p>
    <p>Вас вітає команда VP Production. Ми надаємо послуги зі створення музики, звукових ефектів, аудіо брендів,
        голосового озвучення ігор, фільмів та інших аудіовізуальних проектів.</p>
    <p>Ми з великою повагою ставимося до Персональних даних всіх осіб, які відвідали Сайт, у зв’язку з чим Ми
        прагнемо захищати особисті дані особи, створивши і забезпечивши максимально комфортні та безпечні умови
        використання Сайту кожному Користувачеві.</p>
    <p>Просимо Вас уважно ознайомитися з нашої Політикою Конфіденційності. Це допоможе Вам зрозуміти, яку інформацію
        Ми збираємо, коли Ви користуєтесь Сайтом, як її збираємо, зберігаємо, використовуємо та передаємо, яких
        методів захисту Ваших Персональних даних Ми притримуємося.</p>
    <p>Користуючись Сайтом, Ви погоджуєтесь із цією Політикою Конфіденційності, методами та способами обробки
        персональних даних. У разі, якщо Ви не згодні з цією Політикою Конфіденційності або її частиною, будь ласка,
        припиніть використання цього Сайту або відправте Нам листа з Вашими пропозиціями. Якщо Ви використовуєте
        Сайт від імені юридичної особи (наприклад, вашого роботодавця), Ми вважаємо, що Ви є уповноваженою особою
        такої фізичної або юридичної особи для прийняття цієї Політики конфіденційності від імені такої особи.</p>
    <p>Якщо Ви бажаєте дізнатися, які Ваші Персональні дані Ми маємо, або хочете оновити, змінити або видалити свої
        Персональні дані, або якщо Вам стало відомо про випадки несанкціонованого доступу до персональних даних
        третіх
        осіб, будь ласка, зв’яжіться з нами за адресою: <a
            href="mailto:connect@vp-production.com">connect@vp-production.com</a>.</p>
    <p>У цій Політиці Конфіденційності використовуються наступні терміни:</p>
    <p>VP Production – ФОП ПЛОТНІКОВ ВЛАДИСЛАВ ВОЛОДИМИРОВИЧ, (дата запису: 01.08.2017 і номер запису:
        25560000000135619 в ЄДР), місцезнаходження особи: 65091, Україна, місто Одеса, вул. Ленінградська, буд.58,
        кв. 3 що є володільцем персональних даних (далі – “Ми”, “Наш”, “Нас”, “VP Production”, “Компанія”);</p>
    <p>Сайт – веб-сайт <a href="https://vp-production.com">https://vp-production.com</a>, весь його контент та
        посилання;</p>
    <p>Контролер Персональных даних, Власник – компанія, ФОП Плотніков Владислав Володимирович, що визначає цілі та
        засоби обробки Персональних даних. Контактна електронна пошта: <a
            href="mailto:connect@vp-production.com">connect@vp-production.com</a>.</p>
    <p>Обробник даних – фізична або юридична особа, яка обробляє Персональні дані від імені Контролера, зазначеного
        у цій Політиці конфіденційності.</p>
    <p>Користувач, Ви, Суб’єкт Персональних даних – особа, яка використовує цей Сайт і є Суб’єктом Персональних
        даних, якщо не передбачено інше.</p>
    <p>Автоматично зібрана інформація – інформація, зібрана автоматично за допомогою інструментів, що підключені до
        цього Сайту (або сторонніх сервісів, що використовуються на цьому Сайті).</p>
    <p>Персональні дані – будь-яка інформація, що дає змогу прямо чи опосередковано ідентифікувати особу.</p>
    <p>Інформація – Персональні дані та Автоматично зібрана інформація разом.</p>
    <p>Cookies – невеликі набори даних, що зберігаються на пристрої Користувача.</p>
    <p>Послуги – послуги, що надає Компанія, враховуючи створення музики, звукових ефектів, аудіо брендів,
        голосового озвучення ігор, фільмів та інших аудіовізуальних проектів.</p>
    <p>Європейський Союз, “ЄС” – якщо інше не зазначено, всі посилання, що містяться у цьому документі до
        Європейського Союзу означають всі дійсні країни-члени Європейського Союзу та Європейського економічного
        простору.</p>
    <ol>
        <li>Яку інформацію Ми збираємо і чому</li>
    </ol>
    <p>1.1. Персональні дані, які Ви надаєте Нам</p>
    <p>Коли Ви бажаєте зв’язатися з Нами через Сайт або отримати темплейт Нашого технічного завдання, запитуєте
        інформацію щодо цін на Послуги, Ви надаєте нам наступну інформацію:</p>
    <ul>
        <li>Ваше ім’я та за бажанням прізвище;</li>
        <li>електронну адресу.</li>
    </ul>
    <p>Ми також можемо збирати додаткову інформацію, що може бути віднесена до Персональних даних, коли про це
        зазначено в місці збору такої інформації або відповідно до Вашої згоди, а також коли Ви контактуєте з Нами
        через електронну адресу та/або Ваші особисті сторінки чи сторінки Вашої компанії, використовуючи посилання
        на Наші сторінки в мережах <em>Facebook, Instagram, LinkedIn, Vimeo, Twitter
            та Soundcloud,</em> а також
        нашу
        електронну пошту, що зазначена у р.11 Політики конфіденційності. Посилання на Наші сторінки відображені
        у
        нижньому футері Сайту. </p>
    <p>Надаючи вищезазначену особисту інформацію, Ви автоматично дозволяєте Нам зв’язуватися з Вами електронною
        поштою, у тому числі через такі сервіси як Google та Mailchimp, Facebook. Звертаємо Вашу увагу, що Ми не
        зберігаємо Ваші Персональні дані на власних серверах. </p>
    <p>1.2. Автоматично зібрана інформація </p>
    <p>Окрім Персональних даних, Ми збираємо певну інформацію про Вас автоматичним способом за допомогою
        нижчезазначених сервісів.</p>
    <p>Автоматично зібрані дані, що збираються та зберігаються сторонніми серверами, а саме Google та Pixel
        Facebook.</p>
    <p><a href="https://www.facebook.com/privacy/explanation"><strong>Pixel Facebook</strong></a>. Аналітичний
        інструмент, який дозволяє вимірювати ефективність реклами та вивчати дії
        Користувачів на Сайті. Facebook Pixel дозволяє: знаходити нових клієнтів або людей, які відвідали певну
        сторінку або виконали певну дію на Сайті, відстежувати події, що відбуваються в результаті перегляду Сайту,
        щоб краще зрозуміти, як це впливає на поведінку Користувача.</p>
    <p><a href="https://policies.google.com/privacy?hl=uk"><strong>Google Analytics (Google LLC)</strong></a>.
        Google Analytics постачає послуги з веб-аналізу, що надається компанією Google
        LLC (“Google”). Google використовує зібрані дані для відстеження та вивчення використання цього Сайту, для
        підготовки звітів про свою діяльність та обміну з іншими службами Google. Google може використовувати
        зібрані дані для контекстуалізації та персоналізації реклами власної рекламної мережі (обробники даних про
        використання).</p>
    <p>Google Analytics також може розміщувати файли Cookie на Вашому пристрої. Файли Cookie допомагають Нам
        налаштувати роботу Сайту і відповідно покращити Послуги. Також, Ми використовуємо файли Cookie для
        розрахунку анонімних статистичних даних про дії Користувачів під час перегляду Сайту.</p>
    <p>Ми збираємо: </p>
    <ul>
        <li>дані, такі як кількість кліків;</li>
        <li>тип пристрою;</li>
        <li>дані операційної системи;</li>
        <li>тип браузеру та його мови;</li>
        <li>IP-адреса;</li>
        <li>географічні дані;</li>
        <li>історію переходів;</li>
        <li>дані щодо тривалості з’єднання.</li>
    </ul>
    <p>VP Production не використовує файли Cookie для збору Персональних даних про Користувачів. Ви можете
        налаштувати роботу файлів Cookie або видалити їх за власним бажанням за допомогою сайту aboutcookies.org.
    </p>
    <p>Але Ми застерігаємо, що в такому випадку деякі окремі сторінки Нашого Сайту не будуть повноцінно
        функціонувати, а в деяких випадках Сайт може бути взагалі недоступним.</p>
    <p>1.3. Мета збору Інформації</p>
    <p>Ми збираємо Персональні дані та Автоматично зібрану інформацію з багатьох причин, в тому числі для надання
        Вам зворотнього зв’язку. Ми збираємо Ваші Персональні дані з таких причин:</p>
    <ol>
        <li>Для надання відповідей на Ваші запити. Якщо Ви звертаєтесь до Нас через електронну пошту, Ми
            використовуватимемо Персональні дані, які Ви надали, щоб зв’язатися з Вами стосовно Вашого запиту
            відповідно до цієї Політики конфіденційності. Якщо Ми отримали Ваш запит, Ми зв’яжемось з Вами протягом
            7 (семи) днів електронною поштою.</li>
        <li>З метою формування маркетингової аналітики та статичних даних. Ми можемо додати Ваші Персональні дані до
            серверів, щоб детальніше дізнатися про профіль Нашого клієнта та надсилати на Вашу електронну пошту
            важливі повідомлення та пропозиції. Ми можемо використовувати Інформацію, окрім іншого, щоб допомогти
            діагностувати проблеми з Сайтом, проаналізувати тенденції та вирішити помилки. Ми збираємо такі дані
            щоразу, коли Ви використовуєте Сайт за допомогою аналітичних сервісів, таких як <a
                href="https://analytics.google.com/analytics/web/provision/#/provision"><strong>Google
                    Analytics</strong></a> та
            інших технологій відстеження.</li>
        <li>Надання підтримки Користувачам. Ми завжди прагнемо бути доступними для Вас, тому забезпечуємо технічну
            підтримку Користувачам, щоб оновлювати, захищати, виправляти помилки, а також створювати нові
            можливості, гарантувати безпеку та здійснювати аналіз роботи Нашого Сайту.</li>
        <li>Для запобігання шахрайству. Ми робимо все можливе для запобігання та виявлення шахрайства,
            несанкціонованої діяльності та доступу до Інформації, а також викриття інших зловживань.</li>
        <li>Повідомлення Вас про зміни. Ми збираємо, оброблюємо і зберігаємо Ваші персональні дані з метою
            подальшого зв’язку та інформування Вас щодо змін на Сайті та/або Політики Конфіденційності, формування
            бази даних, розсилки маркетингової інформації.</li>
        <p>2. Як Ми обробляємо Ваші Персональні дані</p>
        <p>Автоматично зібрані дані та Персональні дані обробляються в місцях, де розташовані сторони, що беруть
            участь в обробці, що зазначені у п.1.2. цієї Політики конфіденційності.</p>
        <p>Залежно від місцезнаходження Користувача, збір та обробка Інформації може передбачати перенесення
            Персональних даних Користувача в іншу країну.</p>
        <p>Окрім вищезазначеного, Ми можемо надавати доступ до Вашої електронної адреси платформі Mailchimp для
            подальшої обробки та організації розсилань.</p>
        <p><a href="https://mailchimp.com/legal/"><strong>Mailchimp</strong></a>. Універсальна маркетингова
            платформа, яка допомагає управляти
            взаємодією з Користувачами та
            іншими зацікавленими особами задля налагодження контакту. Платформа забезпечує якісне управління та
            систематизацію Інформації та надає на її підставі аналіз даних.</p>
    </ol>
    <p>Якщо застосовуються більш високі стандарти захисту, Користувачі також мають право дізнатися про правові
        основи передачі даних та про заходи безпеки, які Власник вживає для захисту Персональних даних.</p>
    <p>Такі розширені стандарти захисту застосовуються при обробці, що:</p>
    <p>A. Здійснюється Власником в межах ЄС;</p>
    <p>Б. Стосується Персональних даних Користувачів, які перебувають на території ЄС і це пов’язано із пропозицією
        Послуг таким Користувачам;</p>
    <p>C. Стосується Персональних даних Користувачів, які перебувають на території США. Ви можете ознайомитися з
        California Consumer Privacy Act (CCPA) за посиланням <a
            href="https://oag.ca.gov/privacy/ccpa"><strong>https://oag.ca.gov/privacy/ccpa</strong></a>.</p>
    <p>Ви маєте можливість також ознайомитися із Загальним регламентом про захист даних Європейської Комісії за
        посиланням: <a
            href="https://eur-lex.europa.eu/eli/reg/2016/679/oj"><strong>https://eur-lex.europa.eu/eli/reg/2016/679/oj</strong></a>.
    </p>
    <p>3. Розголошення особистої інформації</p>
    <p>За винятками, встановленим п.3 цієї Політики Конфіденційності, Ми не будемо надавати, продавати або
        розповсюджувати Вашу особисту інформацію третім особам. Ми можемо передавати Персональну інформацію
        наступним категоріям третіх сторін:</p>
    <p>1. Наші професійні консультанти.</p>
    <p>2. Державні та / або регулюючі органи.</p>
    <p>3. Треті сторони, які є Обробниками даних.</p>
    <p>Крім того, ми можемо розкривати Персональні дані іншим третім сторонам за таких обставин:</p>
    <ul>
        <li>в тому випадку, коли Ми зобов’язані це зробити відповідно до закону;</li>
        <li>в зв’язку з будь-якими поточними або майбутніми судовими справами;</li>
        <li>з метою встановлення, здійснення або захисту Наших законних прав (в тому числі надання інформації третім
            особам в цілях запобігання шахрайства).</li>
    </ul>
    <p>4. Як ми захищаємо Персональні дані</p>
    <p>У VP Production безпека та конфіденційність першочергові. </p>
    <p>Ми використовуємо загальноприйняті стандарти технологічного та операційного захисту інформації та
        персональних даних від втрати, неправильного використання, зміни або знищення. Однак, не дивлячись на
        всі зусилля, Ми не можемо гарантувати абсолютну захищеність від будь-яких загроз, що виникають поза
        межами Нашого регулювання. </p>
    <p>Ми не продаємо персональні дані третім особам, але можемо надавати таку інформацію третім особам у
        випадках визначених п.3 Політики Конфіденційності. </p>
    <p>5. Як довго Ми зберігаємо особисту інформацію</p>
    <p>Персональні дані підлягають обробці та збереженню протягом часу, який вимагає мета, за якої така
        інформація була зібрана, але не більше 3 (трьох) років з дня збору, якщо інше не випливає з цілей
        обробки Персональних даних. Ми також можемо зберігати інформацію менший срок, у разі припинення надання
        Послуг або інших причин юридичного характеру.</p>
    <p>Ви завжди можете надати Нам запит про видалення / заміну / запитати всю Інформацію, якою Ми володіємо щодо
        Вас.</p>
    <p>6. Права Користувачів </p>
    <p>Ви маєте певні права щодо Ваших Персональних даних, що зазначені нижче. Для отримання додаткової інформації
        про Ваші права, будь ласка, напишіть Нам <a
            href="mailto:connect@vp-production.com"><strong>connect@vp-production.com</strong></a>. </p>
    <ol>
        <li>Право на доступ до Ваших Персональних даних. Ви можете запитувати більше інформації щодо Ваших
            Персональних даних, які Ми зберігаємо і вимагати копію таких Персональних даних. </li>
        <li>Право на виправлення / зміну Персональних даних. Якщо Ви вважаєте, що будь-які Персональні дані, які Ми
            зберігаємо щодо Вас, є неправильними або неповними, Ви можете вимагати, щоб Ми виправили або доповнили
            Персональні дані, надіславши нам електронного листа.</li>
        <li>Право на видалення. Ви можете попросити, щоб Ми видалили деякі або всі Ваші Персональні дані з наших
            систем.Протягом 30 (тридцяти) днів з отримання Вашого запиту про видалення інформації, Компанія видаляє
            всю інформацію, яку вона має про Вас. Будь ласка, зв’яжіться з нами за електронною поштою: <a
                href="mailto:connect@vp-production.com"><strong>connect@vp-production.com</strong></a>.</li>
        <li>Відкликання згоди. Якщо ми збираємо, обробляємо Ваші Персональні дані на основі Вашої згоди, Ви маєте
            право відкликати свою згоду в будь-який час. </li>
        <li>Право на заперечення. Ви можете зв’язатися з Нами, щоб повідомити, що Ви заперечуєте проти подальшого
            використання або розкриття Ваших Персональних даних для певних цілей, визначених п.1.3. цієї Політики
            конфіденційності.</li>
        <li>Право бути забутим. Реалізується у випадку, якщо Ваші Персональні дані більше не потрібні для цілей, за
            якими їх початкового збирала або обробляла Компанія.</li>
        <li>Право на подання скарги. Ви маєте право подати скаргу щодо нашої практики стосовно Ваших Персональних
            даних до контролюючого органу Вашої країни або держави-члена ЄС.</li>
    </ol>
    <p>7. Вікові обмеження</p>
    <p>Ми свідомо не збираємо Персональні дані дітей віком до 16 років без попередньої згоди батьків. Якщо Ми
        дізнаємося, що Ми зібрали Персональні дані дитини у віці до 16 років без попередньої згоди батьків, Ми
        видалимо такі Персональні дані з нашої бази даних якомога швидше. Якщо Ви вважаєте, що Ми могли отримати
        Персональні дані від неповнолітньої дитини, зв’яжіться з нами за адресою <a
            href="mailto:connect@vp-production.com"><strong>connect@vp-production.com</strong></a>.</p>
    <p>8. Зміна Власника інформації</p>
    <p>Ми маємо право придбати нову, продати або передати Нашу Компанію. Ваша інформація, така як: адреса
        електронної пошти, Ваше ім’я та інші відомості Користувачів, пов’язані з Сайтом, ймовірно, будуть також
        передані новому власнику. </p>
    <p>Ми маємо право продавати або іншим чином передавати Інформацію під час злиття, поглинання, банкрутства,
        реорганізації, ліквідації, подібних операцій. Ми зробимо все можливе, щоб гарантувати той самий рівень
        безпеки, який Ми наразі забезпечуємо.</p>
    <p>9. Зміни у Політиці Конфіденційності </p>
    <p>Ми можемо змінювати цю Політику конфіденційності в будь-який час. Остання версія Політики конфіденційності
        відображається датою оновленої версії, що розміщена у верхній частині цієї Політики конфіденційності. </p>
    <p>Усі оновлення та зміни вступають в силу негайно після повідомлення, яке ми можемо надати будь-якими
        способами, враховуючи, шляхом розміщенням оновленої версії Політики конфіденційності або іншого повідомлення
        на Нашому Сайті. </p>
    <p>Ми радимо Вам час від часу переглядати цю Політику конфіденційності, щоб бути в курсі змін, що можуть
        вплинути на Вас. </p>
    <p>10. Законодавство, що застосовується</p>
    <p>Ця Політика конфіденційності регулюється та тлумачиться відповідно до законів України, а саме Закону України
        “Про захист персональних даних” від 01.06.2010 та Регламенту ЄС від 26.04.2016 № 2016/678.</p>
    <p>Всі суперечки, що виникають у зв’язку з цією Політикою конфіденційності, мають бути остаточно врегульовані
        відповідно до Правил Міжнародного комерційного арбітражного суду при Торгово-промисловій палаті України
        відповідно до його Регламенту. Кількість арбітрів – один. Мова, яка буде використовуватися при арбітражному
        розгляді, має бути англійська. Місцем проведення арбітражу є Київ.</p>
    <p>11. Контактна інформація </p>
    <p>Якщо у Вас є якісь коментарі або питання щодо цієї Політики Конфіденційності, будь ласка, зв’яжіться з Нами
        за електронною адресою: <a
            href="mailto:connect@vp-production.com"><strong>connect@vp-production.com</strong></a>.</p>
    <p>Ця Політика конфіденційності стосується виключно цього Сайту, якщо інше не передбачено цим документом.</p>
</div>
{{ end }}