<!DOCTYPE html>
<html lang="{{ .Site.Language }}">

<head>
    {{- partial "head.html" . -}}
    <link rel="stylesheet" href="/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/reviews-page.css" />


</head>

<body>
    {{- partial "horizontal-nav.html" . -}}
    {{- partial "mobile-nav.html" (dict "context" . "className" "") -}}



    <div class="inline-gap small-container top-space-medium">
        <h1 class="page-title-large">Відгуки</h1>
        <img height="138px" width="148px" class="box-image box-image-first" src="/images/faq/box-with-icons.svg" alt=""
            role="presentation" aria-hidden="true">
        <img height="138px" width="148px" class="box-image box-image-second" src="/images/faq/box-with-icons.svg" alt=""
            role="presentation" aria-hidden="true">
        <div class="clients-section">
            <h2>Відгуки клієнтів і партнерів</h2>

            {{ with .Site.GetPage "/reviews" }}
            <div class="slider">
                <ul class="swiper-wrapper">
                    {{ range first 10 .Pages }}
                    {{- partial "review.html" (dict "context" . "className" "swiper-slide") -}}
                    {{ end }}
                </ul>
            </div>
            {{- partial "arrow-button.html" . -}}
            {{ end }}

        </div>
        <div class="listeners-section">
            <h2>Відгуки слухачів</h2>
        </div>
    </div>


    {{- partial "footer.html" . -}}

    <script defer type="module" src="/js/main.js"></script>
    <script src="/js/swiper-bundle.min.js"></script>
    <script async type="module" src="/js/slider.js"></script>
</body>
</div>

</html>