{{ define "cssbeforemain" }}
{{ with resources.Get "css/slimselect.css" }}
<link rel="stylesheet" href="{{ .RelPermalink }}" />
{{ end }}
{{ end }}
{{ define "css" }}
{{ with resources.Get "css/portfolio.css" }}
{{- partial "css.html" . -}}
{{ end }}
{{ end }}

{{ define "jsbeforemain" }}
{{ with resources.Get "js/slimselect.min.js" }}
<script defer src="{{ .RelPermalink }}"></script>
{{ end }}

{{ with resources.Get "js/portfolio.js" }}
{{- partial "js.html" . -}}
{{ end }}
{{ end }}

{{ define "main" }}
{{- partial "horizontal-nav.html" . -}}
{{- partial "mobile-nav.html" . -}}
<div class="top-space-small">
    <div class="inline-gap container">
        <h1 class="page-title-large">{{ .Title | title }}</h1>
        <img height="110px" width="110px" loading="lazy" class="box-image box-image-first"
            src="/images/portfolio/box-with-dots.svg" alt="" aria-hidden="true">
        <img height="110px" width="110px" loading="lazy" class="box-image box-image-second"
            src="/images/portfolio/box-with-dots.svg" alt="" aria-hidden="true">
    </div>

    <div class="container">
        <div class="work-list-controls">

            {{- $categories := slice -}}

            {{- range .Pages }}
            {{- with .Params.categories }}
            {{- range . }}
            {{- $categories = $categories | append (replace . " " "-" | lower) -}}
            {{- end }}
            {{- end }}
            {{- end }}

            {{- with ($categories | uniq) }}
            <div class="control-container">
                <select name="category" id="works-category-select" class="control control-select">
                    <option disabled selected value="" data-placeholder="true">{{ T "works/category/title" }}</option>
                    {{- range . }}
                    <option value="{{ . }}" data-html="<span>{{ . }}</span>">
                        {{ . }}
                    </option>
                    {{- end }}
                </select>
            </div>
            {{- end }}

            {{- with .Site.Taxonomies.services }}
            <div class="control-container">
                <select name="service" id="works-service-select" class="control control-select">
                    <option disabled selected value="" data-placeholder="true">{{ T "works/service/title" }}</option>
                    {{- range . }}
                    {{- $value := replace .Page.LinkTitle " " "-" | lower -}}
                    <option value="{{ $value }}" data-html="<span>{{ .Page.LinkTitle | lower }}</span>">
                        {{ .Page.LinkTitle | lower }}
                    </option>
                    {{- end }}
                </select>
            </div>
            {{- end }}

            <button id="works-reset" type="button" class="control control-button">
                <span class="control-close">{{- partial "icons/close-icon.html" . -}}</span>
                <span class="control-reset">{{ T "general/reset-filters" }}</span>
            </button>

        </div>
    </div>

    <div class="inline-gap works-list grid">
        {{- range .Pages }}

        {{- $categoriesList := slice -}}
        {{- with .Params.categories -}}
        {{- range . -}}
        {{- $categoriesList = $categoriesList | append (replace . " " "-" | lower) -}}
        {{- end -}}
        {{- end -}}

        {{- $servicesList := slice -}}
        {{- with .GetTerms "services" -}}
        {{- range . -}}
        {{- $servicesList = $servicesList | append (replace .Page.LinkTitle " " "-" | lower) -}}
        {{- end -}}
        {{- end -}}

        {{- $workTitle := .Title -}}
        {{- $categories := delimit $categoriesList "," -}}
        {{- $services := delimit $servicesList "," -}}
        <a class="no-hover grid-item" href="{{ .RelPermalink }}" aria-label="{{ $workTitle }}"
            data-categories="{{ $categories }}" data-services="{{ $services }}">
            {{ with resources.GetMatch .Params.image }}
            <img loading="lazy" src="{{ .RelPermalink }}" alt="{{ $workTitle }}" />
            {{ end }}
            <h4 class="grid-item-title">{{ $workTitle }}</h4>
        </a>
        {{- end }}
    </div>
</div>
{{ end }}