{{- define "cssbeforemain" }}
{{ with resources.Get "css/swiper-bundle.min.css" }}
<link rel="stylesheet" href="{{ .RelPermalink }}" />
{{ end }}
{{- end }}

{{ define "css" }}
{{ with resources.Get "css/reviews.css" }}
{{- partial "css.html" . -}}
{{ end }}
{{ end }}

{{- define "main" }}
{{- partial "horizontal-nav.html" . -}}
{{- partial "mobile-nav.html" . -}}
<div class="inline-gap top-space-medium">
    <div class="small-container">
        <h1 class="page-title-large">{{ .Title }}</h1>

        <img height="138px" width="148px" class="box-image box-image-first" src="/images/faq/box-with-icons.svg" alt=""
            aria-hidden="true" loading="lazy">
        <img height="138px" width="148px" class="box-image box-image-second" src="/images/faq/box-with-icons.svg" alt=""
            aria-hidden="true" loading="lazy">
    </div>

    {{- with .Pages }}
    <div class="small-container">
        <div class="clients-section">
            <h2>Відгуки клієнтів і партнерів</h2>

            {{- $result := partial "convert-slice-to-slice-of-slices.html" (dict "s" . "n" 10) -}}

            {{- range $result }}
            <div class="slider">
                <ul class="swiper-wrapper">
                    {{ range . }}
                    <li class="swiper-slide">
                        {{- partial "review.html" . -}}
                    </li>
                    {{ end }}
                </ul>
                {{- partial "arrow-button.html" . -}}
            </div>
            {{- end }}
        </div>
    </div>
    {{- end }}

    {{- with resources.Match "images/listeners-reviews/*" }}
    <div class="small-container">
        <h2>Відгуки слухачів</h2>
    </div>

    <div class="grid">
        {{ range . }}
        {{- $modalID := .RelPermalink -}}

        <button class="grid-item" type="button" data-review-modal-id="{{ $modalID }}">
            <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" loading="lazy" alt="">
        </button>
        {{ end }}
    </div>
    {{- end }}

    <div class="modal hidden" data-review-modal="">
        <div class="modal-content">
            <button data-modal-close="" class="modal-close-button" type="button">
                {{- partial "icons/close-icon.html" -}}
            </button>
        </div>
    </div>
</div>
{{- end }}

{{- define "jsbeforemain" }}
{{ with resources.Get "js/swiper-bundle.min.js" }}
<script defer src="{{ .RelPermalink }}"></script>
{{ end }}
{{- end }}
{{ define "js" }}
{{ with resources.Get "js/slider.js" }}
{{- partial "js.html" . -}}
{{ end }}
{{ with resources.Get "js/reviews.js" }}
{{- partial "js.html" . -}}
{{ end }}
{{ end }}