.box-image {
    display: none;
}

.faq-content h2 {
    margin-block-start: 2.625rem;
    margin-block-end: 2.1875rem;
}

.vp-details .list-number {
    display: none;
}

.vp-details .label {
    display: flex;
}

.vp-details .label::before {
    content: "";
    display: block;
    background: url(/images/faq/ellipse-icon.svg) no-repeat 50% 50% / 0.7em 0.7em;
    height: 1em;
    width: 1em;
    margin-right: 0.75em;
    align-self: center;
}

@media (min-width: 992px) {
    .vp-details .label::before {
        top: 3px;
        left: 10px;
    }

    .box-image {
        display: block;
        position: absolute;
    }

    .box-image-first {
        right: 570px;
        top: 228px;
    }

    .box-image-second {
        right: 175px;
        top: 157px;
    }

    .faq-content h2 {
        margin-top: 8rem;
        margin-bottom: 2.75rem;
    }

}