.btn {
    cursor: pointer;
    padding: calc(var(--gutter) * 0.5) calc(var(--gutter) * 2);
    font-weight: var(--fw-regular);
    line-height: 1;
    font-size: .875rem;
    border: 1px solid var(--clr-grey);
    background: none;
    color: var(--clr-white);
    text-align: center;
    text-decoration: none;

    display: inline-block;
    position: relative;
    z-index: 1;
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--gradient);

    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform .6s cubic-bezier(.17, .67, 0, 1.01);

    z-index: -1;
}

.btn:hover {
    -webkit-text-fill-color: unset;
}

.btn:hover::before {
    transform: scaleX(1);
}

.btn-text {
    border: none;
    display: inline-block;
    padding: unset;
    font-weight: var(--fw-bold);
}

.btn-text:hover {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-arrow::after {
    content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3MyIgaGVpZ2h0PSI5IiBmaWxsPSJub25lIj48cGF0aCBzdHJva2U9IndoaXRlIiBkPSJNMCA0LjVoNzJtMCAwTDY3LjUgMU03MiA0LjVMNjcuNSA4Ij48L3BhdGg+PC9zdmc+");
    position: absolute;
    top: 110%;
    right: 0;
    opacity: 0.5;

    transition: opacity 0.3s, transform 0.3s;
    pointer-events: none;
}

.btn-arrow:hover::after {
    transform: translateX(20%);

    top: 110%;
    opacity: 1;
}

@media (min-width: 1080px) {
    .btn {
        font-size: clamp(.875rem, 2vw, 1.25rem);
        min-width: 177px;
    }
}