:root {
  /* theme colors */
  --clr-ember: #f23b0d;
  --clr-red: #ff2d2d;
  --clr-dark-red: #933636;
  --clr-blue: #0da6f2;
  --clr-white: #ffffff;
  --clr-dark: rgb(9, 9, 9, 0.98);
  --clr-grey: #747474;
  --clr-black: #000000;
  --clr-grey-text: #C2C2C2;
  --clr-dark-op: rgba(0, 0, 0, .94);

  --gradient: linear-gradient(270deg, var(--clr-blue) 0%, var(--clr-ember) 100%);

  /* theme font weight */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bolder: 500;
  --fw-bold: 700;
  --fw-extra: 800;

  /* font sizes */
  --fz-regular: .875rem;
  /* sub section title */
  --fz-medium: 1.125rem;
  /* section title */
  --fz-large: 1.5rem;
  /* page title */
  --fz-extra: 2rem;


  /* theme layout */
  --gutter: 1rem;
  --max-width: 90rem;

  --mobile-menu-top-gutter: 20px;
  --mobile-menu-gutter: var(--gutter);


  --layer-main: 1;
  --layer-menu: 10;
  --layer-under-menu: 5;
  --layer-over-menu: 20;
}

body {
  background-color: var(--clr-black);
}

::selection {
  color: var(--clr-white);
  background: var(--clr-ember);

  -webkit-text-fill-color: var(--clr-white) !important;
}

:focus-visible {
  outline-color: var(--clr-ember);
  outline-offset: 3px;
  outline-width: 2px;
  outline-style: solid;
}

body .hidden {
  display: none;
}

/* scrollbar start*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--clr-ember);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #be503c;
}

::-webkit-scrollbar-track {
  background: transparent;
}


/* scrollbar end */

/* mobile main navigation */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: var(--layer-menu);
  background-color: var(--clr-dark-op);

  display: grid;
  grid-template-columns: 1fr 1fr;

  padding-block-start: 1.75rem;
  padding-block-end: .75rem;
  padding-inline: 1rem;
}

@media (min-width: 1570px) {
  .mobile-menu {
    padding-block-start: 3.125rem;
  }
}

.mobile-menu .mobile-menu-logo {
  grid-column: 1 / 2;
}

.mobile-menu-button {
  display: grid;
  gap: 6px;
  justify-items: end;
  background: none;
  border: none;
  cursor: pointer;
  padding-inline-start: 8px;
  padding-block: 8px;

  grid-column: 2 / 3;
  justify-self: end;
}

.mobile-menu-button-line {
  width: 30px;
  height: 2px;
  background-color: var(--clr-white);
  pointer-events: none;
  transition: width 0.13s ease-in-out, transform 0.13s ease-in-out, opacity 0.15s ease-in-out;
}

.mobile-menu-button-line:nth-child(2) {
  width: 55%;
}

.mobile-menu-button-line:nth-child(3) {
  width: 80%;
}

@media (pointer: fine) {

  .mobile-menu-button:not(.open):hover .mobile-menu-button-line:nth-child(2),
  .mobile-menu-button:not(.open):hover .mobile-menu-button-line:nth-child(3) {
    width: 100%;
  }
}

/* onClick button animation */
.mobile-menu-button.open .mobile-menu-button-line:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.mobile-menu-button.open .mobile-menu-button-line:nth-child(2) {
  opacity: 0;
}

.mobile-menu-button.open .mobile-menu-button-line:nth-child(3) {
  width: 100%;
  transform: translateY(-9px) rotate(-45deg);
}

.mobile-menu-button.open {
  z-index: var(--layer-over-menu);
}

.mobile-menu-dialog {
  display: grid;
  grid-template-rows: 1fr min-content min-content;
  gap: 1.75rem;

  padding-block-start: calc(var(--mobile-menu-top-gutter) * 2.8);
  padding-inline-end: var(--mobile-menu-gutter);
  padding-inline-start: calc(var(--mobile-menu-gutter) * 2.5);
  padding-block-end: 2rem;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--clr-black);

  transform: translateY(-130%);

  z-index: var(--layer-menu);
}

.loaded .mobile-menu-dialog {
  transition: transform 0.5s;
}

.mobile-menu-dialog.open {
  transform: translateY(0%);
}

.mobile-menu-nav {
  overflow-x: auto;
}

.mobile-menu-nav ul {
  display: grid;
  gap: 1.75rem;
}

.mobile-menu-nav .mobile-menu-link {
  text-decoration: none;
  line-height: 1;

  position: relative;
}

.mobile-menu-nav .mobile-menu-summary {
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  column-gap: 0.5em;
}

.mobile-menu-nav details ul {
  margin-top: 1.75em;
  margin-left: 1em;
  font-size: 0.81818em;
  gap: 1.5em;
}

.mobile-menu-nav .mobile-menu-link,
.mobile-menu-nav .mobile-menu-summary {
  color: var(--clr-grey-text);
  font-weight: var(--fw-regular);

  transition: color 0.25s ease;
}

.mobile-menu-nav li li .mobile-menu-link {
  color: var(--clr-grey-text);
  filter: brightness(80%)
}

.mobile-menu-nav .mobile-menu-link:hover,
.mobile-menu-nav .mobile-menu-summary:hover {
  color: var(--clr-white);
}

.mobile-menu-link-arrow {
  background-color: var(--clr-black);
  background-image: linear-gradient(270deg, var(--clr-black) 15.37%, var(--clr-black) 48.05%, var(--clr-black) 61.31%, var(--clr-black) 100.18%);
  height: 1px;

  position: absolute;
  top: 1.5em;
  left: 0;

  opacity: 0;
  transform: scaleX(1);
  transform-origin: 100% 0;
  transition: opacity .25s ease, transform .45s ease;
  width: 100%;
}

.mobile-menu-link-arrow:before {
  background-color: var(--clr-black);
  content: "";
  height: 1px;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(25deg);
  transform-origin: 100% 0;
  width: 10px;
}

.mobile-menu-link-arrow:after {
  background-color: var(--clr-black);
  content: "";
  height: 1px;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(-25deg);
  transform-origin: 100% 0;
  width: 11px;
}

@media (hover: hover) {
  .mobile-menu-link:hover .mobile-menu-link-arrow {
    background-image: linear-gradient(270deg, var(--clr-blue) 15.37%, var(--clr-blue) 48.05%, var(--clr-ember) 61.31%, var(--clr-ember) 100.18%);
    opacity: 1;
    transform: scaleX(.55);
  }

  .mobile-menu-link:hover .mobile-menu-link-arrow:before {
    background-color: var(--clr-blue);
    opacity: 1;
  }

  .mobile-menu-link:hover .mobile-menu-link-arrow:after {
    background-color: var(--clr-blue);
    opacity: 1;
  }

}


@media (min-width: 1080px) {
  .mobile-menu {
    display: none;
  }
}

.soc-links-list {
  display: flex;
  column-gap: 1.2em;
}

.soc-links-list a {
  color: var(--clr-grey-text);
  transition: color .25s ease;
}

.soc-links-list a:hover {
  color: var(--clr-white);
}

.langs-menu-list {
  display: flex;
  gap: 0.75em;
  color: var(--clr-grey-text);
}

.langs-menu-list a {
  text-decoration: none;
  font-weight: var(--fw-regular);
  color: var(--clr-grey-text);
  transition: color .25s ease;
}

.langs-menu-list a:hover {
  color: var(--clr-white);
}

.langs-menu-list a[aria-current="page"] {
  font-weight: var(--fw-bold);
  color: var(--clr-white);
}

.langs-menu-list span:last-of-type {
  display: none;
}

@media (min-width: 768px) {
  .mobile-menu-button {
    gap: 7px;
  }

  .mobile-menu-button-line {
    width: 50px;
    height: 3px;
  }

  /* onClick button animation */
  .mobile-menu-button.open .mobile-menu-button-line:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }

  .mobile-menu-button.open .mobile-menu-button-line:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }

  .mobile-menu-button-line:nth-child(2) {
    width: 70%;
  }

  .mobile-menu-dialog {
    left: auto;
    bottom: auto;
    min-width: 23.3125rem;

    gap: 2rem;

    padding-inline-end: calc(var(--mobile-menu-gutter) * 1.2);
    padding-inline-start: 3.125rem;
    padding-block-start: 5rem;
    padding-block-end: 3.125rem;
  }

  .mobile-menu-nav {

    font-size: 1.375rem;
    overflow-x: initial;
  }

  .mobile-menu-nav ul {
    gap: 1.25rem;
  }

  .mobile-menu-nav details ul {
    margin-block-start: 1.25rem;
    gap: 1rem;
  }

  .langs-menu-list {

    font-size: 1.375rem;
    gap: 0.5em;
  }
}

/* dropdown start */
.dropdown {
  position: relative;
}

.dropdown .dropdown-icon {
  position: relative;
  cursor: pointer;
}

.dropdown .dropdown-icon::after {
  content: url(/images/open-icon.svg);
  margin-left: 0.2em;
}

.dropdown>.dropdown-options {
  --left-shift: 1.5rem;

  position: absolute;
  top: 100%;
  left: calc(-1 * var(--left-shift));

  display: none;
  flex-direction: column;
  align-items: start;
  row-gap: 1em;
  padding: 1.25rem var(--left-shift) 1.5rem;

  font-size: 0.8em;
  white-space: nowrap;
  filter: brightness(80%);

  background-color: var(--clr-dark-op);
}

.dropdown:focus-within>.dropdown-options,
.dropdown:hover .dropdown-options {
  display: flex;
}

/* dropdown end */

/* horizontal-menu start */
.horizontal-menu-container {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  display: none;

  grid-template-columns: 55px 1fr;
  align-items: center;
  column-gap: 3em;

  padding-inline: 1rem;
  background-color: var(--clr-dark-op);
  z-index: var(--layer-menu);

  line-height: 4;
  font-size: 1.375rem;
}

.horizontal-menu {
  justify-self: end;

  display: flex;
  align-items: center;
  column-gap: 1.8em;
}

.horizontal-menu a,
.horizontal-menu button {
  color: var(--clr-white);
  font-weight: var(--fw-regular);
  text-decoration: none;

  border: none;
  background-color: transparent;

  display: inline-flex;
  align-items: center;
  column-gap: 0.25em;
}

.horizontal-menu ul {
  display: flex;
  column-gap: 1.8em;
  align-items: center;
}

.horizontal-menu svg {
  font-size: 0.9rem;
}

.horizontal-menu .dropdown-options {
  line-height: 1.2;
  padding-top: 0;
}

.horizontal-menu .lang-options {
  left: auto;
  right: calc(-5px);
}

@media (min-width: 67.5rem) {
  .horizontal-menu-container {
    display: grid;
  }
}

/* horizontal-menu end */

/* container start */

.inline-gap {
  padding-inline: 1rem;
}

.container {
  margin-inline: auto;
  max-width: 48rem;
}

.small-container {
  margin-inline: auto;
  max-width: 36.875rem;
}

@media (min-width: 768px) {
  .container {
    max-width: 90%;
  }

  .small-container {
    max-width: 75%;
  }
}

@media (min-width: 1570px) {
  .container {
    max-width: 98.125rem;
  }

  .small-container {
    max-width: 73.125rem;
  }
}




/* container end */

/* grid start */
.grid {
  position: relative;
  display: flex;

  max-width: 120rem;
  margin-inline: auto;
}

.grid .column {
  flex: 1;

  display: flex;
  flex-direction: column;

}

.grid,
.grid .column {
  gap: 0.3rem;
}

.grid .column>* {
  position: relative;
  overflow: hidden;
}

.grid-item {
  position: relative;
  overflow: hidden;
}

.grid-item::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.03)),
    linear-gradient(90.1deg, rgba(242, 57, 11, 0.7) 0.07%, rgba(24, 151, 217, 0.7) 99.93%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.grid-item:hover::after,
.grid-item:focus-visible::after {
  opacity: 1;
}

.grid-item img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.grid-item .grid-item-title {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin: 0 1em 1em;
  font-size: 1rem;
  line-height: 1.4;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.grid-item:focus-visible .grid-item-title,
.grid-item:hover .grid-item-title {
  opacity: 1;
}

.grid-item-hidden {
  display: none;
}

@media (min-width: 672px) {

  .grid,
  .grid .column {
    gap: 0.65rem;
  }

  .grid-item .grid-item-title {
    font-size: 1.375rem;
  }
}

@media (min-width: 1080px) {
  .grid .column>* {
    max-height: 15vw;
  }

  .grid .column:nth-child(odd)>*:nth-child(even),
  .grid .column:nth-child(even)>*:nth-child(odd) {
    max-height: 100%;
  }
}

@media (min-width: 1696px) {

  .grid .column>*,
  .grid .column:nth-child(odd)>*:nth-child(even),
  .grid .column:nth-child(even)>*:nth-child(odd) {
    max-height: 365px;
  }

  .grid .column:nth-child(odd)>*:nth-child(odd) {
    max-height: 322px;
  }

  .grid .column:nth-child(odd)>*:last-child {
    max-height: 365px;
  }

  .grid .column>*:last-child {
    max-height: 322px;
  }
}

/* grid end */

/* contact-us-section start */
.contact-us-section {
  padding-block-start: 2.5rem;
  padding-block-end: 2.5rem;
}

.contact-us-section>div {
  display: grid;
  gap: 1.75rem;
}

.contact-us-section-title {
  margin: 0;
}

@media (max-width: 768px) {
  .contact-us-section-title {
    font-size: 2rem;
  }
}

.contact-us-section-details p {
  font-size: .875rem;
  line-height: 1.5;
  margin: 0;
}

.contact-us-section-mail {
  display: inline-block;

  font-size: 1.25rem;
  font-weight: var(--fw-bolder);
  line-height: 1.2;
  text-decoration: none;

  margin-block-start: 1.375rem;
}

.contact-us-section-soc-links {
  display: grid;
  grid-template-columns: min-content min-content;
  column-gap: 8rem;
  row-gap: 1.85em;

  font-size: 1rem;
}

.contact-us-section-soc-links a {
  align-items: center;
  display: flex;
  font-weight: 400;
  position: relative;
  text-decoration: none;
}

.contact-us-section-soc-links img {
  margin-left: 1.2em;
  transform: translateX(0);
  transition: transform .25s cubic-bezier(.175, .885, .32, 1.275);
}

.contact-us-section-soc-links a:hover img {
  transform: translateX(50%);
}


@media (min-width: 768px) {
  .contact-us-section>div {
    grid-template-columns: 1fr 0.7fr;
  }

  .contact-us-section-title {
    grid-column: 1 / 3;
  }

  .contact-us-section-details {
    grid-column: 1 / 2;
  }

  .contact-us-section-soc-links {
    grid-column: 2 / 3;
    column-gap: 4rem;

    justify-self: end;
  }
}

@media (min-width: 1080px) {


  .contact-us-section-title {
    grid-column: 1 / 2;
  }

  .contact-us-section-soc-links {
    grid-row: 1 / 3;
    align-items: center;
  }
}

@media (min-width: 1570px) {
  .contact-us-section {
    padding-block: 8.875rem;
  }

  .contact-us-section-title {
    margin-block-end: 0.25rem;
  }

  .contact-us-section-details p {
    font-size: 1.375rem;
  }

  .contact-us-section-mail {
    font-size: 2.5rem;
  }

  .contact-us-section-soc-links {
    font-size: 1.375rem;
  }
}

/* contact-us-section end */


/* footer */
.footer {
  border-top: 1px solid var(--clr-grey);
  color: var(--clr-grey-text);
  padding-block: 1.5rem;
}

.footer>div {
  display: grid;
  justify-items: center;
  gap: 1.5rem;
}

.footer-group {
  display: grid;
  justify-items: center;
  gap: 0.5rem;
}

.footer-logo-link {
  display: inline-block;
  max-width: 47px;
}

.footer-soc-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
}

.footer-soc-links li {
  line-height: 1.65;
  margin: .3125rem;
}

.footer-soc-links li a {
  color: var(--clr-grey-text);
  transition: color .3s ease-in;

  cursor: pointer;
  display: block;
  min-width: 25px;
  text-align: center;
}

.footer-soc-links li a:hover {
  color: var(--clr-white);
}

.footer-privacyPolicy-link {
  color: var(--clr-grey-text);
  font-size: 1rem;
  line-height: 1;
  font-weight: var(--fw-regular);
  text-transform: capitalize;
}

.footer-title {
  font-size: 1rem;
  line-height: 1.2;
  text-align: center;
  text-transform: capitalize;

  font-weight: var(--fw-regular);
}

.footer-sub-title {
  font-size: .75rem;
  line-height: 1.2;
  text-align: center;
  text-transform: capitalize;
  font-weight: var(--fw-regular);
}

@media (min-width: 992px) {
  .footer>div {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }

  .footer-group:nth-child(1) {
    justify-self: start;
    justify-items: start;

  }

  .footer-soc-links {
    max-width: 6.875rem;
    row-gap: 0.5rem;
  }

  .footer-group:nth-child(3) {
    justify-self: center;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .footer-group:nth-child(2) {
    justify-self: end;
    grid-column: 3 / 4;
  }
}

/* contact-us end */

/* controls start */
.control-container {
  display: inline-block;
}

.control {
  color: var(--clr-grey-text);
  font-size: 1rem;
  padding: .7em 1em;
  background-color: var(--clr-black);
  border: none;
  cursor: pointer;

  transition: color 0.25s ease;
}

.control-form {
  display: flex;
  flex-direction: column;
  font-size: .875rem;
  row-gap: 0.5em;
  padding: 0;

  cursor: initial;
}

.control-form input {
  border: 1px solid var(--clr-white);
  background-color: transparent;
  line-height: 3rem;
  padding: 0 0.5em;
}

.control-close {
  color: var(--clr-dark-red);
  display: inline-block;
  font-size: 0.90rem;
  padding-right: 1em;
}

.control.control-select {
  box-shadow: none;
}

.control.control-select .ss-values .ss-placeholder {
  color: var(--clr-grey-text);
  transition: color 0.25s ease;
}

.control.control-select .ss-values .ss-placeholder:hover {
  color: var(--clr-white);
}

.control.ss-content {
  padding-inline: 0;
}

.control .ss-deselect {
  display: none;
}

.control.control-select .ss-list .ss-option span {
  font-size: .875rem;
  padding-block: 0.3em;
  border-block-end: 1px solid transparent;
  transition: border-color 0.3s ease 0s;
  border-block-start-color: transparent;
  border-inline-start-color: transparent;
  border-inline-end-color: transparent;
  color: var(--clr-grey);
}

.control.control-select .ss-values,
.control.control-select .ss-values .ss-single {
  overflow: hidden;
}

.control.control-select .ss-values .ss-single span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.control.control-select .ss-list .ss-option:hover {
  background-color: transparent;
}

.ss-content .ss-list .ss-option.ss-highlighted,
.ss-content .ss-list .ss-option:not(.ss-disabled).ss-selected {
  background-color: var(--clr-ember);
}

.ss-content .ss-list .ss-option.ss-highlighted span,
.ss-content .ss-list .ss-option:not(.ss-disabled).ss-selected span {
  color: var(--clr-white);
}


.control.control-select .ss-list .ss-option:hover span {
  border-color: var(--clr-white);
  color: var(--clr-white);
}

.control.control-select.ss-open-below,
.control.control-select.ss-open-below {
  background-color: var(--clr-dark)
}

.control.control-select svg {
  width: 1em;
  height: 1em;
}

.control.control-select svg path {
  stroke: var(--clr-grey-text);
  stroke-width: 8px;
}

.control.control-select:hover svg path {
  stroke: var(--clr-white);
}

.control.control-select .ss-deselect svg path {
  stroke: var(--clr-dark-red);
}

.control.control-select:hover .ss-deselect svg path {
  stroke: var(--clr-red);
}

.control-select option {
  color: var(--clr-grey-text);
  background-color: var(--clr-black);
  padding: 0;
  margin: 0;
}

.control-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.control:hover {
  color: var(--clr-white);
}

.control:hover .control-close {
  color: var(--clr-red);
}

@media (min-width: 768px) {
  .control {
    font-size: 1.375rem;
  }

  .control.control-select .ss-list .ss-option span {
    font-size: 1.125rem;
    padding-inline: 0.5em;
  }

  .control-form {
    display: flex;
    flex-direction: column;
    font-size: 1.125rem;
  }
}

/* controls end */

/* review start */
.slider {
  overflow: hidden;
}

.review-item {
  display: grid;
  justify-items: center;
  text-align: center;
  gap: 12px;
}

.review-item .review-item-image img {
  height: auto;
  max-width: 100%;
  margin-inline: auto;
}

.review-item h3,
.review-item h4 {
  margin: 0;
  max-width: 13rem;
  font-size: inherit;
}

.review-item .review-item-company {
  font-size: .875rem;
}

.review-item .review-text p::before {
  content: '\201C';
}

.review-item .review-text p::after {
  content: '\201D';
}

.review-item .review-text {
  color: var(--clr-white);
  font-size: .875rem;
}

.review-item .review-text p {
  margin-block-start: 0;
  font-size: inherit;
}

.review-text-more {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  font-size: var(--fz-regular);
  color: var(--clr-white);
}

.review-text-more:hover {
  text-decoration: none;
}

@media (min-width: 992px) {
  .review-item {
    grid-template-columns: 170px 1fr;
    column-gap: 2rem;
    row-gap: 1rem;
    text-align: left;
    justify-items: left;
    align-items: center;
  }

  .review-item .review-item-image img {
    width: 100%;
  }

  .review-item .review-item-title {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .review-item .review-item-company {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }


  .review-item .review-text {
    text-align: left;

    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}

@media (min-width: 1080px) {
  .review-item .review-person h3 {
    font-size: 1.125rem
  }

  .review-item .review-person h4 {
    font-size: 1rem
  }

  .review-item .review-text,
  .review-text-more {
    font-size: 1rem;
  }
}

@media (min-width: 1570px) {
  .review-item {
    grid-template-columns: 250px 1fr;
    column-gap: 5.25rem;
  }

  .review-item .review-item-title {
    font-size: 1.375rem;
  }

  .review-item .review-item-company {
    font-size: 1.125rem;
  }

  .review-item .review-text,
  .review-text-more {
    font-size: 1.375rem;
  }
}

/* review end */

/* modal start */
body.modal-open {
  overflow: hidden;
}

.modal {
  display: flex;
  position: fixed;
  background: rgba(0, 0, 0, 0.86);
  backdrop-filter: blur(5px);
  transition: opacity .3s ease-in-out;
  z-index: 2001;
  inset: 0px;
  align-items: center;
  justify-content: center;
  padding-inline: 1rem;
}

.modal-content {
  padding-top: 70px;
  max-width: 768px;
  position: relative;
}

.modal-close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.2em;
  color: var(--clr-white);
}

.modal-text p,
.modal-text h4 {
  font-size: .875rem;
}

.modal-text h3 {
  font-size: 16px;
  text-align: center;
}

/* modal end */

/* iframe video start */

.video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background-color: #000000;
}

.video .video_link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}


.video .video_link::after {
  content: "";
  background-image: none;
  display: block;
  width: 0;
  height: 0;
  margin-left: 0;
}

.video_button {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  display: none;
  padding: 0;
  width: 4.25rem;
  height: 3rem;
  border: none;
  background-color: transparent;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.video_button_shape {
  fill: #212121;
  fill-opacity: 0.8;
}

.video_button_icon {
  fill: #ffffff;
}

.video_button:focus {
  outline: none;
}

.video:hover .video_button_shape,
.video_button:focus .video_button_shape {
  fill: #ff0000;
  fill-opacity: 1;
}

.video .video_media,
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* Enabled */

.video[data-media-enabled] {
  cursor: pointer;
}

.video[data-media-enabled] .video_button {
  display: block;
}

/* iframe video end */

/* tt-template start */

.tt-template-title {
  text-align: center;
  margin-bottom: 2rem;
  margin-bottom: 1.2rem;
}

.tt-template-description {
  margin-bottom: 1.4em;
  text-align: center;
}

.tt-template-form .control-form {
  background-color: transparent;
}

@media (max-width: 40em) {
  .tt-template-description {
    font-size: .875rem;
  }
}


/* tt-template end */


/* Details shortcode start */
.vp-details {
  border-bottom: 1px solid var(--clr-grey);
}

:not(.vp-details)+.vp-details {
  border-top: 1px solid var(--clr-grey);
}

.vp-details summary {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-block: 1.125rem;

  font-weight: 700;
}

.vp-details summary::after {
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwLjUyMzIgMC41MjMxODZMMTAuNTIzMiA5LjQ3NjhMMTkuNDc2OCA5LjQ3NjhWMTAuNTIzMkwxMC41MjMyIDEwLjUyMzJMMTAuNTIzMiAxOS40NzY4TDkuNDc2ODEgMTkuNDc2OEw5LjQ3NjgxIDEwLjUyMzJMMC41MjMxOTkgMTAuNTIzMlY5LjQ3NjhMOS40NzY4MSA5LjQ3NjhMOS40NzY4MSAwLjUyMzE4NkwxMC41MjMyIDAuNTIzMTg2WiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg==") no-repeat 50% 50%/ 1em 1em;
  content: "";
  transition: transform .5s;
  width: 1.4375rem;
  height: 1.4375rem;
}

.vp-details[open]>summary::after {
  transform: rotateZ(90deg);
}

.vp-details[open]>summary {
  border-bottom: 1px solid #585858;
}

.vp-details summary .label {
  font-size: 1.125rem;
  font-weight: 700;
  flex-grow: 1;
  color: var(--clr-white);
  line-height: 1.2;
  margin-inline-end: 1rem;
}

.vp-details summary .list-number {
  margin-right: .9375rem;
  font-size: 1.375rem;
  background: var(--gradient);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.vp-details .answer {
  padding: 1rem 0;
  margin-block-end: 0;
  font-size: var(--fz-regular);
  font-weight: var(--fw-light);
}

.vp-details .answer p:first-child {
  margin-block-start: 0;
}

.vp-details .answer p:last-child {
  margin-block-end: 0;
}

.vp-details .answer li {
  margin-block-end: .7em;
  padding-inline-start: 40px;
  list-style: inside;
}


@media (min-width: 1080px) {
  .vp-details .answer {
    font-size: 1.125rem;
  }
}

@media (min-width: 1570px) {
  .vp-details summary {
    padding: 1rem 1.875em;
  }

  .vp-details summary .label {
    font-size: 2rem;
  }

  .vp-details summary .list-number {
    font-size: 3.75rem;
  }

  .vp-details .answer {
    padding-block: 2rem;
    font-size: 1.375rem;
  }
}

/* Details shortcode end */

/* why start  */
.why-section {
  padding-block-start: 2.5rem;
  padding-block-end: 3.125rem;
}

.why-section-list {
  display: grid;
  row-gap: 1.25rem;
}

.why-section-list-item {
  margin: 0;
  display: flex;
  gap: 1rem;
}

.why-section-list-item img {
  width: 36px;
}

.why-section-list-item p {
  font-size: .875rem;
  font-weight: var(--fw-light);
  line-height: 1.2;
  margin: 0;
}

@media (min-width: 768px) {
  .why-section-list {
    row-gap: 2rem;
  }
}

@media (min-width: 1080px) {
  .why-section {
    padding-block-start: 7.5rem;
    padding-block-end: 8rem;
  }

  .why-section-list {
    grid-template-columns: 1fr 1fr;
    column-gap: 1.875rem;
    row-gap: 2.5rem;
  }

  .why-section-list-item img {
    width: 60px;
  }
}

@media (min-width: 1570px) {
  .why-section-list {
    column-gap: 6.625rem;
    row-gap: 6.25rem;
  }

  .why-section-list-item p {
    font-size: 1.125rem;
  }

  .why-section-list-item img {
    width: 84px;
  }
}

/* why end */

/* servies-section start */

.servies-section {
  padding-block-start: 2.5rem;
  padding-block-end: 3.125rem;
}

.servies-list {
  display: grid;

  gap: 1.25rem;
}

.servies-list-item {
  position: relative;

  display: flex;
  align-items: center;

  gap: 1.25rem;

  border: 1px solid var(--clr-grey);
  color: var(--clr-white);
  padding: 2rem;

  text-decoration: none;
  width: 100%;
  z-index: var(--layer-main);

  background-position: center;
  background-size: cover;
}

.servies-list-item::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(90.21deg,
      rgba(242, 57, 11, .32) .07%,
      rgba(24, 151, 217, .32) 99.93%);

  opacity: 0;
  transition: opacity .5s ease;
}

.servies-list-item:hover:after {
  opacity: 1;
}

.servies-list-item.music-composing-bg {
  background-image: url(/images/home/vp-service-1.jpg);
}

.servies-list-item.audio-branding-bg {
  background-image: url(/images/home/vp-service-2.jpg);
}

.servies-list-item.sound-design-bg {
  background-image: url(/images/home/vp-service-3.jpg);
}

.servies-list-item.voice-casting-bg {
  background-image: url(/images/home/vp-service-4.jpg);
}

.servies-list-item-image {
  max-width: 50px;
}

.servies-list-item-title {
  font-size: 1.125rem;
  font-weight: var(--fw-bold);
  position: relative;
}

.servies-list-item-title:after {
  background-image: url(/images/home/service-arrow.svg);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: -1.7rem;
  content: "";
  height: 20px;
  opacity: 0;
  position: absolute;
  right: 0;
  transform: translateX(-30%);
  transition: transform .3s, opacity .3s;
  width: 100%;
}

.servies-list-item:hover .servies-list-item-title:after {
  opacity: 1;
  transform: translateX(0%);
}

@media (min-width: 768px) {
  .servies-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1080px) {
  .servies-section {
    padding-block-start: 7.5rem;
    padding-block-end: 8rem;
  }

  .servies-list-item-image {
    max-width: 70px;
  }
}

@media (min-width: 1570px) {
  .servies-list-item {
    padding-block: 4rem;
  }

  .servies-list-item-image {
    max-width: 100px;
  }

  .servies-list-item-title {
    font-size: 2rem;
  }
}

/* services-section end */

/* arrow section start */
.arrow-section {
  display: flex;
  justify-content: center;
  margin-bottom: 28px;
  margin-top: 25px;
}

.arrow-section span {
  font-weight: 700;
}

.arrow-section svg {
  color: var(--clr-white);
}

.button-arrow {
  background-color: inherit;
  border: none;
  cursor: pointer;
  padding: 0 6px;
}

.button-arrow:not(:hover) svg path {
  stroke: currentColor;
}

.button-arrow-left svg {
  transform: scaleX(-1);
}

.slide-position {
  font-size: var(--fz-medium);
}

.arrow-section .swiper-pagination-fraction {
  width: auto;
}

.slide-number-current {
  background: var(--gradient);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

/* arrow section end */

/* big text section start */
.big-text-section {
  position: relative;
  overflow: hidden;
  padding-block-start: 11rem;
  padding-block-end: 7rem;
}

.big-text-section-title {
  font-size: 1.25rem;
  margin-block-end: 1.28em;
  font-weight: var(--fw-bold);
}

.big-text-section-button-container {
  text-align: right;
}

.big-text-section .box-image {
  position: absolute;
}

.big-text-section .box-image:nth-child(1) {
  top: 1rem;
  left: 0;
  translate: -30%;
}

.big-text-section .box-image:nth-child(2) {
  top: 1rem;
  right: 0.75rem;
}

.big-text-section .box-image:nth-child(3) {
  bottom: 1rem;
  left: 0.75rem;
}

.big-text-section .box-image:nth-child(4) {
  bottom: 20px;
  right: 0;
  translate: 30%;
}

@media (min-width: 768px) {
  .big-text-section-title {
    font-size: clamp(1.25rem, 1vw + 1.25rem, 3.75rem);
  }
}

@media (min-width: 1080px) {
  .big-text-section {
    padding-top: 19rem;
    padding-bottom: 11rem;
  }

  .big-text-section .box-image {
    position: absolute;
    height: 110px;
    width: 110px;
  }
}


@media (min-width: 1570px) {
  .big-text-section-title {
    font-size: 3.75rem;
  }
}

/* big text section end  */

/* top-space-large start */

.top-space-large {
  margin-top: 108px;
}

@media (min-width: 992px) {
  .top-space-large {
    margin-top: 253px;
  }
}

/* top-space-large end */


/* top-space-medium start */

.top-space-medium {
  margin-top: 6rem;
}

@media (min-width: 768px) {
  .top-space-medium {
    margin-top: 9.125rem;
  }
}

@media (min-width: 992px) {
  .top-space-medium {
    margin-top: 12.25rem;
  }
}

/* top-space-medium end */

/* top-space-small start */

.top-space-small {
  margin-top: 5.75rem;
}

@media (min-width: 1080px) {
  .top-space-small {
    margin-top: 12.25rem;
  }
}

/* top-space-small end */

/* audio-sidebar-title start */

.audio-sidebar-title {
  color: var(--clr-white);
  margin-bottom: 20px;
  margin-top: 0;
  font-size: 32px;
  font-weight: 800;
  line-height: 39px;
}



@media (min-width: 992px) {
  .audio-sidebar-title {
    font-size: 40px;
    line-height: 1.2
  }
}

/* sidebar-title end */


/* audio-content-title start*/

.audio-content-title {
  color: var(--clr-white);
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 32px;
}

@media (min-width: 992px) {
  .audio-content-title {
    font-size: 1.7rem;
    line-height: 1.3
  }
}

@media (min-width: 1400px) {
  .audio-content-title {
    font-size: 2rem;
  }
}

/* audio-content-title end*/