.work-list-controls {
    display: grid;
    grid-template-columns: minmax(8rem, 14.25rem) minmax(10.25rem, 16.625rem) auto;
}

.work-list-controls .control {
    padding-block: 1rem;
}

.work-list-controls .control.control-select .ss-values .ss-placeholder {
    padding-inline-start: 0;
}

.work-list-controls .control-button {
    justify-self: start;
}

.work-list-controls .control-close {
    padding-inline-end: 0;
}

.work-list-controls .control-reset {
    display: none;
}

@media (min-width: 1080px) {
    .work-list-controls {
        margin-block-end: 2rem;
    }

    .work-list-controls .control-close {
        padding-inline-end: inherit;
    }

    .work-list-controls .control-reset {
        display: inline-block;
    }

}