.box-image {
    display: none;
}

.slider svg {
    color: var(--clr-white);
}

.grid-item {
    border: none;
    cursor: pointer;
}

.grid-item img {
    height: auto;
}

@media (min-width: 992px) {
    .box-image {
        display: block;
        position: absolute;
    }

    .box-image-first {
        right: 570px;
        top: 228px;
    }

    .box-image-second {
        right: 175px;
        top: 157px;
    }
}