@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat/Montserrat-VF.woff2") format("woff2-variations");
    font-weight: 300 800;
}

body {
    font-family: "Montserrat", sans-serif;
    color: var(--clr-grey-text);
    line-height: 1.5;
}

body p {
    font-size: var(--fz-regular);
    font-weight: var(--fw-light);
    margin-block-start: 1em;
    margin-block-end: 1em;
}

body b {
    color: var(--clr-white);
    font-weight: var(--fw-bolder);
}

body strong {
    font-weight: var(--fw-bold);
}

body a {
    color: var(--clr-white);
    transition: color 0.15s;
    text-decoration: none;
}

body a:not(:where( :hover, .no-line)) {
    text-decoration: underline;
}

body a[href]:not(:where([href^="#"],
        [href^="/"]:not([href^="//"]),
        [href*="//vp-production.com"],
        .no-external-icon,
    )) {
    position: relative;
    display: inline-flex;
    align-items: center;
}

@media (hover: hover) {

    html body a:not(.no-hover):hover,
    body .vp-hover:hover {
        background: var(--gradient);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.page-title,
.page-title-large,
h1:not([class]) {
    color: var(--clr-white);
    font-weight: var(--fw-extra);
    font-size: var(--fz-extra);
    line-height: 1.2;
    margin-block-end: 1.2em;
}

.page-title-large {
    text-transform: uppercase;
}

.section-title,
h2:not([class]) {
    font-weight: var(--fw-extra);
    color: var(--clr-white);
    font-size: 1.5rem;
    line-height: 1.2;
    margin-block-end: 1em;
}

.sub-section-title,
h3:not([class]) {
    color: var(--clr-white);
    font-weight: var(--fw-bold);
    font-size: var(--fz-medium);
    line-height: 1.2;
    margin-block-end: 1.2em;
}

/* Tabled width */
@media (min-width: 768px) {
    .page-title-large {
        font-size: 3rem;
    }

    h2:not([class]),
    .section-title {
        font-size: clamp(1.5rem, 1vw + 1.5rem, 4.375rem);
        margin-block-end: 1.5em;
    }

    h3:not([class]),
    .sub-section-title {
        margin-block-end: 1em;
    }
}

@media (min-width: 1080px) {
    body p {
        font-size: 1.125rem;
    }
}

@media (min-width: 1570px) {
    body p {
        font-size: 1.375rem;
    }

    .page-title-large {
        font-size: 6.25rem;
    }

    h2:not([class]),
    .section-title {
        font-size: 4.375rem;
        margin-block-end: 1.2em;
    }
}

/* @media (min-width: 75rem) {} */