<!-- big text section starts here -->
<div class="big-text-section inline-gap">
    <img height="70" width="70" class="box-image" src="/images/home/box-with-dots.svg" alt="" role="presentation"
        aria-hidden="true">
    <img height="70" width="70" class="box-image" src="/images/home/box-with-dots.svg" alt="" role="presentation"
        aria-hidden="true">
    <img height="70" width="70" class="box-image" src="/images/home/box-with-dots.svg" alt="" role="presentation"
        aria-hidden="true">
    <img height="70" width="70" class="box-image" src="/images/home/box-with-dots.svg" alt="" role="presentation"
        aria-hidden="true">
    <div class="container">
        <h3 class="section-title big-text-section-title">{{ T "home/mission/title" }}</h3>
    </div>
    <div class="container big-text-section-button-container">
        <a class="btn btn-arrow no-hover" href={{ relLangURL "/our-values" }}>{{ T "general/our-values/title" }}</a>
    </div>
</div>
<!-- big text section ends here -->