<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8" />
<link rel="canonical" href="{{ .Site.BaseURL }}" />

{{- with .Params.seoTitle }}
<title>{{ . | title }}</title>
{{- else }}
<title>{{ if not .IsHome }}{{ .Title | title }} | {{ end }}{{ .Site.Title }}</title>
{{- end }}

{{- with .Params.seoDescription }}
<meta name="description" content="{{ . }}" />
{{- end }}

{{ if isset .Params "tags" }}
{{ with .Params.tags }}
{{ $tags := delimit . "," }}
<meta name="keywords" content="{{ $tags }}">
{{ end }}
{{ end -}}

{{- with .Site.Params.noIndex }}
<meta name="robots" content="noindex">
{{- end }}

<meta name="theme-color" content="#000000">
<link rel="icon" type="image/png" href="/images/favicon-32x32.png" />