<h2 class="section-title">Концепція звучання</h2>
<p>На початку співпраці розробник хотів, щоби саундтрек максимально передавав атмосферу старих піксельних ігор.
    Тому
    найперші скетчі головної теми ми створювали саме в такій стилістиці, надихаючись саундтреком гри The Legend of
    Kyrandia.</p>
<p>Але вже під час першого прослуховування разом із картинкою стало зрозуміло, що музика не працює так, як
    потрібно.
    Так, вона пасувала до загальної концепції, але не передавала повною мірою настрій гри і глибину історії Лії.
</p>
<p>Ми продовжили експериментувати і в спробах знайти потрібне звучання встигли піти навіть в оркестрову музику.
    У
    фіналі зупинилися десь посередині. 🙂 У саундтреку до гри FoxTail звучать флейта та інші дерев’яні духові
    інструменти, арфа, перкусії, а в головній темі — навіть гітара. Але звучать вони навмисно не надто «живо»,
    щоби
    музика гармоніювала з візуалом гри.</p>