<div class="work-nav">
    <div class="navigation-inner small-container">
        <div class="navigation-items">
            <a class="previous-item navigation-item navigation-item-disabled no-hover no-line" href="/">
                {{- partial "icons/arrow-left.html" . -}}
                <span class="navigation-label">Попередня робота</span>
            </a>
            <a class="next-item navigation-item no-hover no-line" href="/">
                <span class="navigation-label">Наступна робота</span>
                {{- partial "icons/arrow-left.html" . -}}
            </a>
            <a class="btn portfolio-button no-hover" href="/">
                <span>Повернутися в портфоліо</span>
            </a>
        </div>
    </div>
</div>